{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>WL | App</title>
 <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel='stylesheet' href="{% static 'login/css/login.css' %}">

</head>

<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						 <img src="{% static 'core\images\logo2.png' %}" class="brand_logo" alt="Logo">
					</div>
				</div><br><br>

				{% comment %} {{output}} {% endcomment %}
				 <div class="text-center">
                  
                  <h2 class="text-center mt-4">{% trans "Login" %}</h2>
                  
                  </div>
				<div class="d-flex justify-content-center form_container">
					<form method='POST' id='formid' name="myForm" action="{% url 'login' %}" onsubmit="return validateform()" style="margin-top:-80px!important;">
					{% csrf_token %}
						<div class="input-group mb-4">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="email" name="email" class="form-control input_user" value="" placeholder="{% trans 'Email' %}" id="email">
						
						</div>
					
						{% comment %} <div class="input-group mb-3">
							
							<p style='text-align: center!important;margin-left:95px;margin-top: -17px;'>or</p>
							
						</div> {% endcomment %}
						
						{% comment %} <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text" style='margin-top:-32px!important;'><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="phone" class="form-control input_user" value="" placeholder="Phone Number " style='margin-top:-32px!important;' id='phoneid'>
						</div> {% endcomment %}
					
						<div class="input-group mb-4">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password" class="form-control input_pass" value="" placeholder="{% trans 'Password' %}" id="pass_log_id">
							<div class="input-group-append">
								<span class="input-group-eye"><i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password" id='myeye' style='margin-top:12px!important;width:31px; cursor: pointer;'></i></span>
							</div>

						</div>
						 
					 
				<span style='margin-top:-23px !important; margin-left:26.5px; color:#ff0000; font-size:14px;  position:absolute;' id='emailworning'></span> 
				 
				   {% if messages %}
				    {% for message in messages %}
					<span id='show-error' style='margin-top:-23px !important; margin-left:37.5px; color:#ff0000; font-size:14px; position:absolute;'>{{message}}</span>
						{% endfor %}
					 {% endif %}
				  </span>
							<div class="d-flex justify-content-center mt-3 login_container">
				 	<button type="submit" name="button" class="btn login_btn btn-primary" onclick="loginFunction()">{% trans "Login" %}</button>
				   </div>
					</form>
				</div>
				
		
				<div class="mt-2">
					
					<div class="d-flex justify-content-center links">
					<a href="{% url 'reset_password' %}">
					<button  name="button" class="btn login_btn btn-primary" style="width:211px!important;">{% trans "Forgot Password" %}</button>
					</a>
				</div>
        
			</div>
			
		</div><br>
		  
	</div>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'login/js/showpassword.js' %}"></script>
<script src="{% static 'login/js/login_form_validation.js' %}"></script>
<!--		<script>-->
<!--		function loginFunction(){-->
<!--			var email = document.getElementById('email').value;-->
<!--			var pass = document.getElementById('pass_log_id').value;-->
<!--			var message = document.getElementById('emailworning');-->
<!--			var token;-->
<!--			const query = `-->
<!--				mutation($email:String, $pass:String!){-->
<!--                  tokenAuth(email:$email, password:$pass){-->
<!--                    token-->
<!--                    success-->
<!--                  }-->
<!--                }-->
<!--				`;-->
<!--			fetch("http://localhost:9000/graphql/", {-->
<!--				method: "POST",-->
<!--				headers: {-->
<!--					"Content-Type": "application/json",-->
<!--					"Accept": "application/json",-->
<!--					},-->
<!--					body: JSON.stringify({-->
<!--						query,-->
<!--						variables: { email, pass },-->
<!--					})-->
<!--				}).then(response => {-->
<!--					return response.json();-->
<!--				}).then(data => {-->
<!--					if (data['data']['tokenAuth'].success == false){-->
<!--						message.innerHTML = "Incorrect Credentials";-->
<!--					}-->
<!--					else{-->
<!--					token = data['data']['tokenAuth'].token;-->
<!--					localStorage.setItem("token", token);-->
<!--					console.log(data);-->
<!--					}-->
<!--				});-->
<!--			}-->
<!--		</script>-->

</body>
</html>
