{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>WL | App</title>
 <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel='stylesheet' href="{% static 'login/css/login.css' %}">

</head>

<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						 <img src="{% static 'core\images\logo2.png' %}" class="brand_logo" alt="Logo">
					</div>
				</div><br><br>
				 <div class="text-center">
                  
                  <h2 class="text-center "style='margin-top:2px!important;fixed'>Set new password</h2>
                   <p></p>
                  </div>
				<div class="d-flex justify-content-center form_container">
					<form id="register-form" name='myForm' autocomplete="off"   method="POST" onsubmit="return validationresetForm()" style="margin-top:-80px!important;">
					{% csrf_token %}
				
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="new_password1" class="form-control input_pass" value="" placeholder="New Password" id='npassword'>
							<div class="input-group-append">
								<span class="input-group-eye"><i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password" id='myeye' style='margin-top:11px!important;width:31px; cursor: pointer;'></i></span>
							</div>
						</div>


						<div class="input-group" >
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="new_password2" class="form-control input_pass" value="" placeholder="Confirm Password" id='ccpassword' >
							<div class="input-group-append">
								<span class="input-group-eye"><i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-passwords" id='myeye' style='margin-top:11px!important;width:31px; cursor: pointer;'></i></span> 
							</div>
              
						</div><br>
            <span style='margin-top:11px !important; margin-left:52.5px; color:#ff0000; font-size:16px; ' id='passwordworing'></span><br>
						 
			
                   <span id='password-length' style='color:#ff0000;font-size:16px; margin-left:-14px;margin-top:-3px!important;'></span><br>
                  <span id='matching-worning' style='color:#ff0000;font-size:16px; margin-left:44px;'></span>
							<div class="d-flex justify-content-center mt-3 login_container">
				  <button type="submit" name="button" class="btn login_btn btn-primary" style='margin-bottom:-32px!important;'>Change Password</button> 
				    
           </div>
           {% comment %} <input type="hidden" class="hide" name="token" id="token" value="">  {% endcomment %}
					</form>
				</div>
				
		
        
			</div>
			
		</div>
		  
	</div>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'login/js/twoshowpassword.js' %}"></script>
<script type ="text/javascript">
function validationresetForm(){
  var password1 = document.getElementById('npassword').value;
  var password2 = document.getElementById('ccpassword').value;
  var forms=document.getElementById('register-form');
  if (password1==""||password2==""){ 
    document.getElementById("passwordworing").innerHTML = "All field are mandatory";  
    return false; 
  }
 
   if(password1.length<8 || password2.length<8){
    var myobj = document.getElementById("passwordworing");
    /*myobj.remove();
    
    var myobjc = document.getElementById("matching-worning");
    myobjc.remove();
    */
    console.log(myobj)
    document.getElementById("password-length").innerHTML = "password should be at least 8 characters ";
    forms.reset();
    return false; 
  }
  if(password1 != password2){
    document.getElementById("matching-worning").innerHTML = "Passwords do not match";
    forms.reset();
    return false;  
  }
  } 
</script>
</body>
</html>
