{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>WL | App</title>
 <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel='stylesheet' href="{% static 'login/css/login.css' %}">

</head>

<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						 <img src="{% static 'core\images\logo2.png' %}" class="brand_logo" alt="Logo">
					</div>
				</div><br><br>
        <div class="text-center">
                  
                  <h2 class="text-center" style='margin-top: -59px;'>Forgot Password</h2>
                  
                  </div>
				<div class="d-flex justify-content-center form_container">
					<form method='POST' id='formid' name="myForm" action="" onsubmit="return validateform()" style="margin-top:-80px!important;">
					{% csrf_token %}
						<div class="input-group mb-4">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="email" name="email" class="form-control input_user" value="" placeholder="Email Id ">
						
						</div>
				<span style='margin-top:11px !important; margin-left:37.5px; color:#ff0000; font-size:16px; ' id='emailworning'></span> 
				 
				   {% if messages %}
				    {% for message in messages %}
					<span id='show-error' style='margin-top:11px !important; margin-left:0.5px; color:#ff0000; font-size:16px;'>{{message}}</span>
						{% endfor %}
					 {% endif %}
				  </span>


					
					   
							<div class="d-flex justify-content-center mt-3 login_container">
				 	<button type="submit" name="button" class="btn login_btn btn-primary" onclick="remove_error()">Forget Password</button>
				   </div>
					</form>
				</div>
				
		
				
			
		</div><br>
		  
	</div>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'login/js/password_reset_validation.js' %}"></script>


</body>
</html>
