

<!Doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>WL | App</title>
  </head>
  
  <body style='background-color:#efeff3'>

<div class="container-fluid m-0 p-0">
  <div class="py-2 text-center  text-white" style='background-color:#00a50f!important;'>
 <h1  class='mb-2'>Wastelink</h1>
 </div> 

  <div class='container mt-4 text-center'>
  
<div class="card text-center">
  <div class="card-header">
    <h2>Password reset complete</h2>
  </div>
  <div class="card-body">
   
    <p class="card-text">Your password has been set you can go to login page now</p>
    <a href="{% url 'login' %}" class="btn btn-primary btn-md" style='width:200px!important;'>Login</a>
  </div>
  
</div>




</div>
 
   

 




  
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>