{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
 <div class="authentication-inner py-5">
   <!-- [ Logo ] Start -->
  <div class="d-flex justify-content-left align-items-left">
  <div class="ui-w-150">
  <div class="w-100 position-relative">
   <h1 class="float-left">Create User</h1>
   <div class="clearfix"></div>
  </div>
  </div>
   </div>
  <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data" name='user' onsubmit="return validate_user()">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">First Name<sup>*</sup></label>
                    <input type="text" class="form-control" name="fname" id='first_name' >
                    <p style="color:#ff0000;position:absolute;" id='fname-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Last Name<sup>*</sup></label>
                    <input type="text" class="form-control" name="lname">
                    <p style="color:#ff0000;position:absolute;" id='lname-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Email<sup>*</sup></label>
                    <input type="email" class="form-control" name="email" id="email" autocomplete="off">
                   
                    <p style="color:#ff0000;position:absolute;" id='email-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Phone<sup>*</sup></label>
                    <input type="text" class="form-control" name="phone" id="myphone" minlength='10' autocomplete="off">
                    <p id="message1" style="color:red"></p>
                    <p style="color:#ff0000;position:absolute;" id='phone-m'></p>
                    
                    <div class="clearfix"></div>
                </div>
            </div>
           
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Alternate Phone</label>
                    <input type="text" class="form-control" name="altphone" id="myphonea" minlength='10'>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Profile</label>
                    <input type="file" class="form-control" name="profile" accept="image/*">
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Password<sup>*</sup></label>
                    <span class="input-group-eye float-right"><i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password" id='myeye' style='position:absolute;margin:30px -30px !important;cursor: pointer;'></i></span> 
                    <input type="password" class="form-control" name="password" id='npassword'>
                    	
                    <p style="color:#ff0000;position:absolute;" id='password-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                   <span class="input-group-eye float-right"><i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-passwords" id='myeye' style='position:absolute;margin:30px -30px !important;cursor: pointer;'></i></span> 
                    <label class="form-label">Confirm Password<sup>*</sup></label>
                    
                    <input type="password" class="form-control" name="cpassword" id='ccpassword'>
                    <p style="color:#ff0000;position:absolute;" id='cpassword-m'></p>
                    <div class="clearfix"></div>
            </div>
            </div>

            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">User Type<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="user_type">
                    <option selected disabled>Please Select User Type</option>
                     {% for i in userTypes %}
                        <option value="{{i.node.code}}">{{i.node.type}}</option>
                        {% endfor %} 
                    </select>
                    <p style="color:#ff0000;position:absolute;" id='usertype-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Entity<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name='entity' id="belongs_to">
                    <option selected disabled>Please Select Entity</option>
                        {% for i in entity %}
                        <option value="{{i.node.id}}">{{i.node.name}}</option>
                        {% endfor %}  
                        
                    </select>
                    <p style="color:#ff0000;position:absolute;" id='belongsto-m'></p>
                   <div class="clearfix"></div>
                </div>
            </div>

            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Role<sup>*</sup></label>
                    <input type="text" class="form-control" name="role">
                    <p style="color:#ff0000;position:absolute;" id='usertype-m'></p>
                    <div class="clearfix"></div>
                </div>
               
            </div>
           
<div class="form-row mt-2">
                <div class="form-group col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" name="admin" id="admin">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <label class="form-control" for="admin">Admin</label>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" name="active" id="active" checked>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <label class="form-control" for="active">Active</label>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" name="super" id="super">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <label class="form-control" for="super">Superuser</label>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input type="checkbox" name="staff" id="staff">
                              <div class="clearfix"></div>
                            </div>
                        </div>
                        <label class="form-control" for="staff">Staff User</label>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block mt-4" id='btnid'>Submit</button>

            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="{% static 'user/js/user.js' %}"></script> 
<script src="{% static 'user/js/showpassword.js' %}"></script>
<script src="{% static 'user/js/phonevalidation.js' %}"></script>
<script src="{%  static 'user/js/fatchdata.js' %}"></script>

<script>
const email = document.getElementById("email");
const warning_m = document.getElementById("email-m");
email.addEventListener("input", (e) => {
    warning_m.innerHTML =''
    const searchValue = e.target.value;
    console.log(searchValue)
    if (searchValue.trim().length > 0) {
        fetch("{% url 'check_unique_email' %}", {
            body: JSON.stringify({ search: searchValue }),
            method: "POST",
        }).then((res) => res.json())
            .then((data) => {
                var x = document.getElementById("email-m").innerHTML=data;
                if(x=="This value already exists!")
                {document.getElementById("btnid").disabled = true;}
                else{
                    document.getElementById("btnid").disabled = false;
                }  
        })
    }
})

</script>


{% endblock body %}