{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body%}
<div class="container-fluid my-2">
    <div class="form-row my-2 float-left ml-1">
        <h2>{% trans "Manage Users" %}</h2>
    </div>
    <div class="form-row  float-right ">
          <a href="{% url 'register' %}">
                <button type="button" class="btn btn-primary btn-block mt-2 " >Create User</button>
            </a>
        </div>
        <div class="form-row  float-right mr-3 ">
        <a href="{% url 'user_export' %}">
            <button type="button" class="btn btn-primary btn-block mt-2" >Export</button>
        </a>
       </div>
    <br/>
    <br/>
    <br/>
    <br>
    <!--     my-2 float-right mr-1-->
    <div class="container-fluid">
        
        <form method="POST" action="" enctype="multipart/form-data">
         {% csrf_token %}
     <div class="form-row">
         <div class="form-group col-md-3">
             <input type="text" class="form-control mt-2" placeholder="{% ifnotequal request.session.userSearch None %}{{request.session.userSearch}}{% else %}{% trans "Click to Search.... " %}{% endifnotequal %}" id="search"  name="searchUser" />
         </div>
 
         <div class="form-group col-md-1 ">
             <button type="submit" class="btn btn-primary btn-block mt-2" name="Search" value="Search" >Search</button>
         </div>

         <div class="form-group col-md-2 ">
            <select class="custom-select mr-sm-2 mb-2 mb-sm-0 mt-2"  onchange="this.form.submit()" name="userTypeFilter"  id="usertypefilterid">
                <option selected disabled>{% ifnotequal request.session.userTypeFilter None %}{{request.session.userTypeFilter}}{% else %}{% trans "User Type" %}{% endifnotequal %}</option>
                 {% for filter in filterdata %}
                 <option  value="{{ filter.node.type}}">{{ filter.node.type }}</option>
                 {% endfor %}
                </select>
        </div>


         <div class="form-group col-md-2 ">
            <select class="custom-select mr-sm-2 mb-2 mb-sm-0 mt-2"  onchange="this.form.submit()"  name="userEntityFilter">
                <option selected disabled>{% ifnotequal request.session.userEntityFilter None %}{{request.session.userEntityFilter}}{% else %}{% trans "Please Select Entity" %}{% endifnotequal %}</option>
                 {% for e_filter in entity_filter %}
                 <option  value="{{ e_filter.node.name }}">{{ e_filter.node.name }}</option>
                 {% endfor %}
                </select>
        </div>
        <div class="form-group col-md-1">
            <select class="custom-select mr-sm-2 mb-2 mb-sm-0 mt-2"  onchange="this.form.submit()"  name="userisActive">
                <option selected disabled>{% ifnotequal request.session.userisActive None %}{{request.session.userisActive}}{% else %}{% trans "Is Active" %}{% endifnotequal %}</option>
                <option value="True">Active</option>
                <option value="False">Inactive</option>
                
                </select>
        </div>


         <div class="form-group col-md-2  " >
             <select class="custom-select mr-sm-2 mb-2 mb-sm-0 mt-2" name="userSize" onchange="this.form.submit()" id="user_ids" style="width:80px!important;" >
             <option selected disabled>{% ifnotequal request.session.userSize None %}{{request.session.userSize}}{% else %}{% trans "Page Size" %}{% endifnotequal %}</option>
             <option value="20">20</option>
             <option value="30">30</option>
             <option value="40">40</option>
             </select>
         </div>
         <div class="form-group col-md-1">
             <button type="submit" class="btn btn-primary btn-block mt-2 " name="Clear" value="Clear" >Clear</button>
         </div>
 
         
         
 
     </div>
              </form>
         
 
     </div>
  <div class ="table-list" style="overflow-x:auto;">
  <table class ="table table-striped table-hover" id="list">
      <thead class="thead-dark">
      <tr>
     <form method="POST"> 
    {% csrf_token %}
    <th><button name="username" value="Username" style="color:#ffffff;margin-left:-13px;" class="btn btn-link;">Username<i class="fa fa-fw fa-sort"></i></button></th>
    <th><button name="firstname" value="First Name" style="color:#ffffff;margin-left:-13px;" class="btn btn-link;">First Name<i class="fa fa-fw fa-sort"></i></button></th>
    <th><button name="lastname" value="Last Name" style="color:#ffffff;margin-left:-13px;" class="btn btn-link;">Last Name<i class="fa fa-fw fa-sort"></i></button></th>
    <th><button name="email" value="Email" style="color:#ffffff;margin-left:-13px;" class="btn btn-link;">Email<i class="fa fa-fw fa-sort"></i></button></th>
    <th><button name="role" value="Roll" style="color:#ffffff;margin-left:-13px;" class="btn btn-link;">Role<i class="fa fa-fw fa-sort"></i></button></th>
    <th><button name="phone" value="Phone" style="color:#ffffff;margin-left:-13px;" class="btn btn-link;">Phone<i class="fa fa-fw fa-sort"></i></button></th>
    <th><button name="userType" value="User Type" style="color:#ffffff;margin-left:-13px;" class="btn btn-link;">User Type<i class="fa fa-fw fa-sort"></i></button></th>
    <th><button name="entity" value="Entity" style="color:#ffffff;margin-left:-13px;" class="btn btn-link;">Entity<i class="fa fa-fw fa-sort"></i></button></th>
    <th><button name="isActive" value="isActive" style="color:#ffffff;margin-left:-13px;" class="btn btn-link;">is Active<i class="fa fa-fw fa-sort"></i></button></th>
    <th><button  style="color:#ffffff;cursor:auto; margin-left:-26px;" class="btn btn-link;" >Action</button></th>
     </form>
    </tr>
      </thead>
        <tbody>

            {% for entity in entity_list %}
            <tr>
                <td><a href="{% url 'view_user' entity.node.id %}" style="color:#000000;">{{ entity.node.username }}</a></td>
                <td>{{ entity.node.firstName }}</td>
                <td>{{ entity.node.lastName }}</td>
                <td>{{ entity.node.email }}</td>
                <td>{{ entity.node.role }}</td>
                <td>{{ entity.node.mobile }}</td>
                <td>{{ entity.node.userType.type}}</td>
                <td>{{ entity.node.entity.name }}</td>
                <td>{{ entity.node.isActive }}</td>
                <td><a href="{% url 'update_user' entity.node.id %}"><i class="feather icon-edit" title="Edit User"></i></a>
                {% ifequal entity.node.isActive True %}
                <a href="{% url 'activeuser' entity.node.id %}">
                {% comment %} <i class="feather icon-slash" data-toggle="tooltip" data-placement="top" title="Active/Inactive User" ></i> {% endcomment %}
                <i style='font-size:14px' class='fas' title="Inactive">&#xf4fa;</i>
               </a>
               {% else %}
                <a href="{% url 'inactiveuser' entity.node.id %}">
               
                <i style='font-size:14px' class='fas' title="Active">&#xf406;</i>
               </a>
               {% endifequal %}
                </td>

            </tr>
            {% endfor %} 
        </tbody>
  </table>
    </div>
<!--start Pagination-->
<span class='text-center'>
    {% if max_page > 0 %}
    <form method="POST">
      {% csrf_token %}
      <span>
      <button type="submit" name="First" value="First" class="btn btn-primary">First</button>
      {% ifnotequal request.session.userCurrentPage  1 %}
      <button type="submit" name="Previous" value="Previous" class="btn btn-primary">Previous</button>
      {% endifnotequal %}
      page <b>{{request.session.userCurrentPage}}</b> of <b> {{max_page}}</b>
      {% ifnotequal max_page  request.session.userCurrentPage %}
      <button type="submit" name="Next" value="Next" class="btn btn-primary">Next</button>
      {% endifnotequal %}
      <button type="submit" name="Last" value="Last" class="btn btn-primary">Last</button> &nbsp;[{{t_data}}]
    </span>
    </form>
    {%else%}
    <br>
    <br>
    <br>
    <span class="text-center"><h5>{% trans "No Results Found" %}</h5><span>
    {% endif%}
   
  </span> 
  <!--end  Pagination -->
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
      var optionValues =[];
  $('#user_ids option').each(function(){
     if($.inArray(this.value, optionValues) >-1){
        $(this).remove()
     }else{
        optionValues.push(this.value);
     }
  });
  </script

{% endblock body %}