{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
 <div class="authentication-inner py-5">
   <!-- [ Logo ] Start -->
  <div class="d-flex justify-content-left align-items-left">
  <div class="ui-w-150">
  <div class="w-100 position-relative">
   <h1 class="float-left">View-{{data.username}}</h1>
   <div class="clearfix"></div>
  </div>
  </div>
   </div>
  <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data" name='user' onsubmit="return validate_user()">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">First Name<sup>*</sup></label>
                    <input type="text" class="form-control" name="fname" id='first_name' value="{{data.firstName}}" readonly>
                    <p style="color:#ff0000;position:absolute;" id='fname-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Last Name<sup>*</sup></label>
                    <input type="text" class="form-control" name="lname" value="{{data.lastName}}" readonly>
                    <p style="color:#ff0000;position:absolute;" id='lname-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Email<sup>*</sup></label>
                    <input type="email" readonly class="form-control" name="email" value="{{data.email}}" id="email">
                    <p id="message" style="color:red"></p>
                    <p style="color:#ff0000;position:absolute;" id='email-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Phone<sup>*</sup></label>
                    <input type="text" class="form-control" readonly name="phone" id="myphone" minlength='10'value="{{data.mobile}}">
                    <p id="message1" style="color:red"></p>
                    <p style="color:#ff0000;position:absolute;" id='phone-m'></p>
                    
                    <div class="clearfix"></div>
                </div>
            </div>
           
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Alternate Phone</label>
                    <input type="text" class="form-control" readonly name="altphone" id="myphonea" minlength='10' value="{{data.altMobile}}">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Profile</label>
                    <input type="file" class="form-control" readonly name="profile" accept="image/*">
                    <div class="clearfix"></div>
            </div>
            </div>
            {% comment %} <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Password<sup>*</sup></label>
                    <span class="input-group-eye float-right"><i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password" id='myeye' style='position:absolute;margin:30px -30px !important;cursor: pointer;'></i></span> 
                    <input type="password" class="form-control" name="password" id='npassword'>
                    	
                    <p style="color:#ff0000;position:absolute;" id='password-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                   
                    <div class="clearfix"></div>
            </div>
            </div> {% endcomment %}

            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">User Type<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="user_type" id="user_typeid">
                    <option selected value="{{data.userType.code}}">{{data.userType.type}}</option>
                       

                    </select>
                    <p style="color:#ff0000;position:absolute;" id='usertype-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Entity<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name='entity' id="entityid">
                    <option selected value="{{ data.entity.id }}">{{data.entity.name}}</option>
                       
                        
                    </select>
                    <p style="color:#ff0000;position:absolute;" id='belongsto-m'></p>
                   <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Role<sup>*</sup></label>
                     <input type="text" class="form-control" readonly name="role" value="{{data.role}}">
                    <p style="color:#ff0000;position:absolute;" id='usertype-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    
                   <div class="clearfix"></div>
                </div>
            </div>
<div class="form-row mt-2">
                <div class="form-group col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" name="admin" id="admin">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <label class="form-control" for="admin">Admin</label>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" name="active" id="active" checked>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <label class="form-control" for="active">Active</label>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" name="super" id="super">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <label class="form-control" for="super">Superuser</label>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input type="checkbox" name="staff" id="staff">
                              <div class="clearfix"></div>
                            </div>
                        </div>
                        <label class="form-control" for="staff">Staff User</label>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="form-row float-right mr-4">
                <a href="{% url 'userlist' %}">
                <button type="button" class="btn btn-primary btn-block mt-4">back</button>
                </a>
              </div>
              <div class="form-row float-right mr-4">
              <a href="{% url 'update_user' data.id %}">
                <button type="button" class="btn btn-primary btn-block mt-4">edit</button>
              </a>
              </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="{% static 'user/js/update_user.js' %}"></script> 
<script src="{% static 'user/js/showpassword.js' %}"></script>
<script src="{% static 'user/js/phonevalidation.js' %}"></script>
<script>

function check_unique_email(){
    const belongsTo = document.querySelector("#message");
    const userType = document.querySelector("#email");
    userType.addEventListener("input", (e) => {
        belongsTo.innerHTML = ``
        const searchValue = e.target.value;
        console.log(searchValue);

        if (searchValue.trim().length > 0 && searchValue !== "Enter Email") {
            fetch("{% url 'check_unique_email' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    var x = document.getElementById("message").innerHTML=data;
                    if (data.length === 0) {
                        distriDDL.innerHTML =
                            `<option>No State</option>`
                    }
                    else {
                        data.forEach((item) => {
                                var e = document.getElementById("email");
                                var strUser = e.value;
                                console.log('hello',strUser)

                        if (searchValue ===strUser){

                            belongsTo.innerHTML += `
                                    <option value="${item.Locality}">${item.Locality}</option>
                                    `;
                        }
                    })
                }
            })
        }
    })
}

function check_unique_phone(){
    const belongsTo = document.querySelector("#message1");
    const userType = document.querySelector("#myphone");
    userType.addEventListener("input", (e) => {
        belongsTo.innerHTML = ``
        const searchValue = e.target.value;
        console.log(searchValue);

        if (searchValue.trim().length > 0 && searchValue !== "Enter Phone") {
            fetch("{% url 'check_unique_phone' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    var x = document.getElementById("message1").innerHTML=data;
                    if (data.length === 0) {
                        distriDDL.innerHTML =
                            `<option>No State</option>`
                    }
                    else {
                        data.forEach((item) => {
                                var e = document.getElementById("myphone");
                                var strUser = e.value;
                                

                        if (searchValue ===strUser){

                            belongsTo.innerHTML += `
                                    <option value="${item.Locality}">${item.Locality}</option>
                                    `;
                        }
                    })
                }
            })
        }
    })
}

check_unique_email();
check_unique_phone();

</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
      var optionValues =[];
  $('#user_typeid option').each(function(){
     if($.inArray(this.value, optionValues) >-1){
        $(this).remove()
     }else{
        optionValues.push(this.value);
     }
  });
</script>
  <script>
      var optionValues =[];
  $('#entityid option').each(function(){
     if($.inArray(this.value, optionValues) >-1){
        $(this).remove()
     }else{
        optionValues.push(this.value);
     }
  });
  </script
{% endblock body %}