<!DOCTYPE html>
{% load static %}

<html lang="en" class="material-style layout-fixed">

<head>
    <title>WL | App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Empire Bootstrap admin template made using Bootstrap 4, it has tons of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords" content="Empire, bootstrap admin template, bootstrap admin panel, bootstrap 4 admin template, admin template">
    <meta name="author" content="Srthemesvilla" />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Icon fonts -->
    <link rel="stylesheet" href="{% static 'core/fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'core/fonts/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'core/fonts/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'core/fonts/open-iconic.css' %}">
    <link rel="stylesheet" href="{% static 'core/fonts/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'core/fonts/feather.css' %}">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap-material.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/shreerang-material.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/uikit.css' %}">

    <!-- Libs -->
    <link rel="stylesheet" href="{% static 'core/libs/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'core/libs/flot/flot.css' %}">

</head>

<body>
    <!-- [ Preloader ] Start -->
    <div class="page-loader">
        <div class="bg-primary"></div>
    </div>
    <!-- [ Preloader ] End -->

    <!-- [ Layout wrapper ] Start -->
    <div class="layout-wrapper layout-2">
        <div class="layout-inner">
            <!-- [ Layout sidenav ] Start -->
            {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
            {% include 'core/sidenav.html' %}
            {% comment %} {% else %}
            {% endif %} {% endcomment %}
            <!-- [ Layout sidenav ] End -->
            <!-- [ Layout container ] Start -->
            <div class="layout-container">
                <!-- [ Layout navbar ( Header ) ] Start -->
                {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
            {% include 'core/navbar.html' %}
            {% comment %} {% else %}
            {% endif %} {% endcomment %}
                <!-- [ Layout navbar ( Header ) ] End -->

                <!-- [ Layout content ]D Start -->
                <div class="layout-content">

                    <!-- [ content ] Start -->
                    {% block body %}
                    {% endblock body %}
                    <!-- [ content ] End -->

                    <!-- [ Layout footer ] Start -->
                    {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
            {% include 'core/footer.html' %}
            {% comment %} {% else %}
            {% endif %} {% endcomment %}

                    <!-- [ Layout footer ] End -->
                </div>
                <!-- [ Layout content ] Start -->
            </div>
            <!-- [ Layout container ] End -->
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-sidenav-toggle"></div>
    </div>
    <!-- [ Layout wrapper] End -->

    <!-- Core scripts -->
<!--    <link rel="stylesheet" href="{% static 'core/fonts/fontawesome.css' %}">-->
    <script src="{% static 'core/js/pace.js' %}"></script>
    <script src="{% static 'core/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'core/libs/popper/popper.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.js' %}"></script>
    <script src="{% static 'core/js/sidenav.js' %}"></script>
    <script src="{% static 'core/js/layout-helpers.js' %}"></script>
    <script src="{% static 'core/js/material-ripple.js' %}"></script>

    <!-- Libs -->
    <script src="{% static 'core/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'core/libs/eve/eve.js' %}"></script>
    <script src="{% static 'core/libs/flot/flot.js' %}"></script>
    <script src="{% static 'core/libs/flot/curvedLines.js' %}"></script>
    <script src="{% static 'core/libs/chart-am4/core.js' %}"></script>
    <script src="{% static 'core/libs/chart-am4/charts.js' %}"></script>
    <script src="{% static 'core/libs/chart-am4/animated.js' %}"></script>

    <!-- Demo -->
    <script src="{% static 'core/js/demo.js' %}"></script>
    <script src="{% static 'core/js/analytics.js' %}"></script>
    <script src="{% static 'core/js/pages/dashboards_index.js' %}"></script>
{% block javascript %}
{% endblock javascript %}
</body>

</html>
