{% extends 'core/base.html' %}
{% block body %}
{% load i18n %}
<div class="container-fluid flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-4">
            <a href="{% url 'userlist'%}">
                <div class="card mb-3">
                    <div class="card-body" style="height:150px;">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="">
                                <h2 class="mb-2"> {% trans "Users" %}</h2>
                                <p class="text-muted mb-0"><span class="badge badge-primary">{{len}}</span></p>
                            </div>
                            <div class="lnr lnr-leaf display-4 text-primary"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="{% url 'entity_list'%}">
                <div class="card mb-3">
                    <div class="card-body" style="height:150px;">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="">
                                <h2 class="mb-2">Entity</h2>
                                <p class="text-muted mb-0"><span class="badge badge-primary">{{total_data_entity}}</span></p>
                            </div>
                            <div class="lnr lnr-leaf display-4 text-primary"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-4">
            <a href="{% url 'brand_list'%}">
                <div class="card mb-3">
                    <div class="card-body" style="height:150px;">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="">
                                <h2 class="mb-2">Brands</h2>
                                <p class="text-muted mb-0"><span class="badge badge-primary">500</span></p>
                            </div>
                            <div class="lnr lnr-leaf display-4 text-primary"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
    </div>

    <!--=====Product ======-->


    <div class="row">
        <div class="col-lg-4">
            <a href="{% url 'product_list'%}">
                <div class="card mb-3">
                    <div class="card-body" style="height:150px;">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="">
                                <h2 class="mb-2"> Product </h2>
                                <p class="text-muted mb-0"><span class="badge badge-primary">600</span></p>
                            </div>
                            <div class="lnr lnr-leaf display-4 text-primary"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="{% url 'composition_list'%}">
                <div class="card mb-3">
                    <div class="card-body" style="height:150px;">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="">
                                <h2 class="mb-2">Product Composition</h2>
                                <p class="text-muted mb-0"><span class="badge badge-primary">800</span></p>
                            </div>
                            <div class="lnr lnr-leaf display-4 text-primary"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-4">
            <a href="{% url 'unit_list'%}">
                <div class="card mb-3">
                    <div class="card-body" style="height:150px;">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="">
                                <h2 class="mb-2">Product Units</h2>
                                <p class="text-muted mb-0"><span class="badge badge-primary">300</span></p>
                            </div>
                            <div class="lnr lnr-leaf display-4 text-primary"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
</div>
{% endblock body %}