<span class='text-center'>
  <form method="POST">
    {% csrf_token %}
    <span>
    <button type="submit" name="First" value="First" class="btn btn-primary">First</button>
    <button type="submit" name="Previous" value="Previous" class="btn btn-primary">Previous</button>
    page <b>2</b>of <b>10</b>
    <button type="submit" name="Next" value="Next" class="btn btn-primary">Next</button>
    <button type="submit" name="Last" value="Last" class="btn btn-primary">Last</button>
    </span>
  </form>
</span> 