    <div class="paginator-div">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            <li class="page-item ">
                <a href="?page=1" class="page-link">First</a>
            </li>
            <li class="page-item ">
                {%if entity_list.has_previous %} {# whether the previous page exists #}
                <a href="?page={{entity_list.previous_page_number}}" class="page-link" tabindex="-1">Previous</a> {# link to the prev page #}
                {% endif %}
            </li>
            <li class="page-item"><span class="page-link" style="color:black;"><b>Page {{ entity_list.number }} of {{ entity_list.paginator.num_pages }}</b></span> {# the current page number #}</li>
            <li class="page-item">
                {%if entity_list.has_next %} {# whether the next page exists #}
                <a href="?page={{entity_list.next_page_number}}" class="page-link">Next</a> {# link to the next page #}
                {% endif %}
            </li>
            <li class="page-item">
                <a href="?page={{entity_list.paginator.num_pages}}" class="page-link">Last</a> {# link to the next page #}
            </li>
        </ul>
    </nav>
        </div>