{% load static %}
<div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-white logo-dark">
    <!-- Brand demo (see assets/css/demo/demo.css) -->
    <div class="app-brand demo">
                    <span class="app-brand-logo demo">

                        <img src="{% static 'core\images\logo2.png' %}" height="50px" width="75px" alt="Brand Logo" class="img-fluid">
                        <!--                        <img src="assets/img/logo.png" alt="Brand Logo" class="img-fluid">-->
                    </span>
        <a href="{% url 'index' %}" class="app-brand-text demo sidenav-text font-weight-normal ml-2">Wastelink</a>
        <a href="javascript:" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
            <i class="ion ion-md-menu align-middle" style="margin-left:5px!important"></i>
        </a>
    </div>
    <div class="sidenav-divider mt-0"></div>

    <!-- Links -->
    <ul class="sidenav-inner py-1">

        <!-- Dashboards -->
        <li class="sidenav-item active">
            <a href="{% url 'index' %}" class="sidenav-link">
                <i class="sidenav-icon feather icon-home"></i>
                <div>Dashboard</div>
                <div class="pl-1 ml-auto">
                    <div class="badge badge-danger">Hot</div>
                </div>
            </a>
        </li>

        <!-- Layouts -->
        <li class="sidenav-divider mb-1"></li>
        <li class="sidenav-header small font-weight-semibold">Manage</li>

        <!-- UI elements -->
        {% comment %} <li class="sidenav-item">
            <a href="javascript:" class="sidenav-link sidenav-toggle">
                <i class="sidenav-icon feather icon-box"></i>
                <div>Item</div>
            </a>
            <ul class="sidenav-menu">
                <li class="sidenav-item">
                    <a href="{% url 'catlist' %}" class="sidenav-link">
                        <div>Category</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'cclist' %}" class="sidenav-link">
                        <div>Custom Category</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'emaillist' %}" class="sidenav-link">
                        <div>Email Content</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'miclist' %}" class="sidenav-link">
                        <div>MasterInventoryCategory</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'skulist' %}" class="sidenav-link">
                        <div>SKUs</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="sidenav-item">
            <a href="javascript:" class="sidenav-link sidenav-toggle">
                <i class="sidenav-icon feather icon-box"></i>
                <div>Customer</div>
            </a>
            <ul class="sidenav-menu">
                <li class="sidenav-item">
                    <a href="{% url 'cplist' %}" class="sidenav-link">
                        <div>Client</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'cneelist' %}" class="sidenav-link">
                        <div>Consignee</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'cnorlist' %}" class="sidenav-link">
                        <div>Consignor</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'custlist' %}" class="sidenav-link">
                        <div>Customer</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'suplist' %}" class="sidenav-link">
                        <div>Supplier</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'swclist' %}" class="sidenav-link">
                        <div>SupplierWithCode</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'ucmlist' %}" class="sidenav-link">
                        <div>Unit</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'venlist' %}" class="sidenav-link">
                        <div>Vendor</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'wlcustlist' %}" class="sidenav-link">
                        <div>Wltech Customer</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'wldisposallist' %}" class="sidenav-link">
                        <div>Wltech Disposal</div>
                    </a>
                </li>
            </ul>
        </li> {% endcomment %}
        <li class="sidenav-item">
            <a href="javascript:" class="sidenav-link sidenav-toggle">
                <i class="sidenav-icon feather icon-box"></i>
                <div>User</div>
            </a>
            <ul class="sidenav-menu">
                <li class="sidenav-item">
                    <a href="{% url 'userlist' %}" class="sidenav-link">
                        <div>User</div>
                    </a>
                </li>
                {% comment %} {% if 'auth' in perms %} {% endcomment %}
                <li class="sidenav-item">
                    <a href="" class="sidenav-link">
                        <div>Role</div>
                    </a>
                </li>

            <li class="sidenav-item">
                    <a href="" class="sidenav-link">
                        <div>Permission</div>
                    </a>
                </li>
                {% comment %} {% endif %} {% endcomment %}
            </ul>
        </li>
        
        
        <li class="sidenav-item">
            <a href="javascript:" class="sidenav-link sidenav-toggle">
                <i class="sidenav-icon feather icon-box"></i>
                <div>Master</div>
            </a>
            <ul class="sidenav-menu">
                <li class="sidenav-item">
                    
                 <a href="{% url 'entity_purpose_list' %}" class="sidenav-link">
                        <div>Entity Purpose</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    
                 <a href="{% url 'entity_type_list' %}" class="sidenav-link">
                        <div>Entity Type</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    
                 <a href="{% url 'crm_comm_status_list' %}" class="sidenav-link">
                        <div>Crm Common Status</div>
                    </a>
                </li>
                <li class="sidenav-item">
                        
                 <a href="{% url 'crm_comm_type_list' %}" class="sidenav-link">
                        <div>Crm Common Type </div>
                    </a>
                </li>
                <li class="sidenav-item">
                        
                 <a href="{% url 'crm_source_list' %}" class="sidenav-link">
                        <div>Crm Source</div>
                    </a>
                </li>
                <li class="sidenav-item">
                        
                 <a href="{% url 'crm_status_list' %}" class="sidenav-link">
                        <div>Crm Status</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    
                 <a href="{% url 'user_type_list' %}" class="sidenav-link">
                        <div>User Type</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    
                 <a href="{% url 'pincode_list' %}" class="sidenav-link">
                        <div>Pincode</div>
                    </a>
                </li>
                
                 <li class="sidenav-item">
                    <a href="{% url 'industry_list' %}" class="sidenav-link">
                        <div>Industry</div>
                    </a> 
                </li> 
                 <li class="sidenav-item">
                    <a href="{% url 'product_category_list' %}" class="sidenav-link">
                        <div>Product Category</div>
                    </a> 
                </li> 
                 <li class="sidenav-item">
                    <a href="{% url 'product_subcategory_list' %}" class="sidenav-link">
                        <div>Product Subcategory</div>
                    </a> 
                </li> 
                 <li class="sidenav-item">
                    <a href="{% url 'product_nutrition_type_list' %}" class="sidenav-link">
                        <div>Product Nutrition Type</div>
                    </a> 
                </li> 
                 <li class="sidenav-item">
                    <a href="{% url 'product_measure_type_list' %}" class="sidenav-link">
                        <div>Product Measure Type</div>
                    </a> 
                </li> 
                 <li class="sidenav-item">
                    <a href="{% url 'product_measure_unit_list' %}" class="sidenav-link">
                        <div>Product Measure Unit</div>
                    </a> 
                </li> 
                 <li class="sidenav-item">
                    <a href="{% url 'product_nextstep_list' %}" class="sidenav-link">
                        <div>Product Next Step</div>
                    </a> 
                </li> 
                 <li class="sidenav-item"> 
                    <a href="{% url 'product_state_list' %}" class="sidenav-link">
                        <div>Product State</div>
                    </a> 
                </li> 
                 <li class="sidenav-item"> 
                    <a href="{% url 'product_taste_list' %}" class="sidenav-link">
                        <div>Product Taste</div>
                    </a> 
                </li> 
                 <li class="sidenav-item"> 
                    <a href="{% url 'productpackaginglist' %}" class="sidenav-link">
                        <div>Product Packaging</div>
                    </a> 
                </li> 
               
                 <li class="sidenav-item">
                    <a href="{% url 'salutation_list' %}" class="sidenav-link">
                        <div>Salutation</div>
                    </a> 
                </li> 
                 <li class="sidenav-item">
                    <a href="{% url 'designation_list' %}" class="sidenav-link">
                        <div>Designation</div>
                    </a> 
                </li> 
                 <li class="sidenav-item">
                    <a href="{% url 'transaction_type_list' %}" class="sidenav-link">
                        <div>Transaction Type</div>
                    </a> 
                </li> 
                 <li class="sidenav-item">
                    <a href="{% url 'transaction_status_list' %}" class="sidenav-link">
                        <div>Transaction Status</div>
                    </a> 
                </li> 
                 <li class="sidenav-item">
                    <a href="{% url 'transaction_doctype_list' %}" class="sidenav-link">
                        <div>Transaction Doctype</div>
                    </a> 
                </li> 
                 <li class="sidenav-item">
                    <a href="{% url 'paymentterms_list' %}" class="sidenav-link">
                        <div>Payment Terms</div>
                    </a> 
                </li> 

            
            </ul>
        </li>
        <!--Close Master-->
        <li class="sidenav-item">
            <a href="javascript:" class="sidenav-link sidenav-toggle">
                <i class="sidenav-icon feather icon-box"></i>
                <div>Entity</div>
            </a>
            <ul class="sidenav-menu">
                <li class="sidenav-item">
                    
                 <a href="{% url 'entity_list' %}" class="sidenav-link">
                        <div>Entity</div>
                    </a>
                </li>
                
                <li class="sidenav-item">
                    <a href="{% url 'address_list' %}" class="sidenav-link">
                        <div>Service Location</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'contact_list' %}" class="sidenav-link">
                        <div>Entity Contact</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'pricing_list' %}" class="sidenav-link">
                        <div>Entity Pricing</div>
                    </a>
                </li>
               
                <li class="sidenav-item">
                    <a href="{% url 'auditor_list' %}" class="sidenav-link">
                        <div>Entity Auditor</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'transporter_list' %}" class="sidenav-link">
                        <div>Entity Transporter</div>
                    </a>
                </li>

                <li class="sidenav-item">
                    <a href="{% url 'brand_list' %}" class="sidenav-link">
                        <div>Brand</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'crm_list' %}" class="sidenav-link">
                        <div>Crm</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'parent_list' %}" class="sidenav-link">
                        <div>Parent</div>
                    </a>
                </li>
            </ul>
        </li>
        <!--Close Entity-->
        <li class="sidenav-item">
            <a href="javascript:" class="sidenav-link sidenav-toggle">
                <i class="sidenav-icon feather icon-box"></i>
                <div>Product</div>
            </a>
            <ul class="sidenav-menu">
                <li class="sidenav-item">
                    
                 <a href="{% url 'product_list' %}" class="sidenav-link">
                        <div>Product</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'unit_list' %}" class="sidenav-link">
                        <div>Unit</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'composition_list' %}" class="sidenav-link">
                        <div>Composition</div>
                    </a>
                </li>
               
                

            
            </ul>
        </li>
        <!--Close Product-->
         
        <!-- Start Transaction-->
        <li class="sidenav-item">
            <a href="javascript:" class="sidenav-link sidenav-toggle">
                <i class="sidenav-icon feather icon-box"></i>
                <div>Transaction</div>
            </a>
            <ul class="sidenav-menu">
                <li class="sidenav-item">
                    
                 <a href="{% url 'transaction_list' %}" class="sidenav-link">
                        <div>Transaction</div>
                    </a>
                </li>
                
                <li class="sidenav-item">
                    <a href="{% url 'transaction_bags_list' %}" class="sidenav-link">
                        <div>Transaction Bags</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="{% url 'transaction_products_list' %}" class="sidenav-link">
                        <div>Transaction Products</div>
                    </a>
                </li>
                

            
            </ul>
        </li>

        <!--End Transaction-->
        <!-- Upload History-->
        <li class="sidenav-item">
            <a href="javascript:" class="sidenav-link sidenav-toggle">
                <i class="sidenav-icon feather icon-box"></i>
                <div>Upload History</div>
            </a>
            <ul class="sidenav-menu">
                <li class="sidenav-item">
                    
                 <a href="{% url 'transaction_list' %}" class="sidenav-link">
                        <div>Upload </div>
                    </a>
                </li>
                
                
                

            
            </ul>
        </li>

        <!--End Upload-->

        <!-- Forms & Tables -->
        <li class="sidenav-divider mb-1"></li>
        <li class="sidenav-header small font-weight-semibold">Create</li>
        <li class="sidenav-item">
            <a href="javascript:" class="sidenav-link sidenav-toggle">
                <i class="sidenav-icon feather icon-clipboard"></i>
                <div>Ticket</div>
            </a>
            <ul class="sidenav-menu">
                <li class="sidenav-item">
                    <a href="" class="sidenav-link">
                        <div>Inbound Ticket</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidenav-item">
            <a href="tables_bootstrap.html" class="sidenav-link">
                <i class="sidenav-icon feather icon-grid"></i>
                <div>Tables</div>
            </a>
        </li>

        <!--  Icons -->
        <li class="sidenav-divider mb-1"></li>
        <li class="sidenav-header small font-weight-semibold">Icons</li>
        <li class="sidenav-item">
            <a href="javascript:" class="sidenav-link sidenav-toggle">
                <i class="sidenav-icon feather icon-feather"></i>
                <div>Icons</div>
            </a>
            <ul class="sidenav-menu">
                <li class="sidenav-item">
                    <a href="icons_feather.html" class="sidenav-link">
                        <div>Feather</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="icons_linearicons.html" class="sidenav-link">
                        <div>Linearicons</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Pages -->
        <li class="sidenav-divider mb-1"></li>
        <li class="sidenav-header small font-weight-semibold">Pages</li>
        <li class="sidenav-item">
            <a href="pages_authentication_login-v1.html" class="sidenav-link">
                <i class="sidenav-icon feather icon-lock"></i>
                <div>Login</div>
            </a>
        </li>
        <li class="sidenav-item">
            <a href="" class="sidenav-link">
                <i class="sidenav-icon feather icon-user"></i>
                <div>Signup</div>
            </a>
        </li>
        <li class="sidenav-item">
            <a href="pages_faq.html" class="sidenav-link">
                <i class="sidenav-icon feather icon-anchor"></i>
                <div>FAQ</div>
            </a>
        </li>
    </ul>
</div>