{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
 <div class="authentication-inner py-5">
   <!-- [ Logo ] Start -->
  <div class="d-flex justify-content-left align-items-left">
  <div class="ui-w-150">
  <div class="w-100 position-relative">
   <h1 class="float-left">Create Composition</h1>
   <div class="clearfix"></div>
  </div>
  </div>
   </div>
  <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" name='composition' onsubmit="return validate_composition()">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Product<sup>*</sup></label>
                      <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="product">
                        <option selected disabled>Please Select Product</option>
                          {% for i in products %}
                        <option value='{{i.node.id}}'>{{i.node.name}}</option>
                          {% endfor %}
                    </select>
                    <p style="color:#ff0000;position:absolute;" id='product-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Base Product<sup>*</sup></label>
                      <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="baseproduct">
                        <option selected disabled>Please Select Base Product</option>
                          {% for j in products %}
                        <option value='{{j.node.id}}'>{{j.node.name}}</option>
                          {% endfor %}
                    </select>
                    <p style="color:#ff0000;position:absolute;" id='baseproduct-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Composition Unit<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="compositionunit">
                        <option selected disabled>Please Select Composition Unit</option>
                            {% for k in units %}
                        <option value='{{k.node.id}}'>{{k.node.unit}}</option>
                            {% endfor %}
                    </select>
                    <p style="color:#ff0000;position:absolute;" id='compositionunit-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Composition Conversion</label>
                    <input type="text" class="form-control mohan" name="compositionconversion" maxlength="10">
                    <div class="clearfix"></div>
                </div>
            </div>
           
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Composition Value</label>
                    <input type="text" class="form-control mohan" name="compositionvalue" maxlength="10">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Calorie</label>
                    <input type="text" class="form-control mohan" name="calorie" maxlength="10">
                    <div class="clearfix"></div>
            </div>
            </div>
            
       
            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'product/js/composition.js' %}"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'product/js/num_composition.js' %}">


</script>

{% endblock body %}