{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body%}

<div class="container-fluid my-2">
    <div class="form-row my-2 float-left ml-1">
        <h2>Manage Product</h2>
    </div>
    <div class="form-row  float-right ">
           <a href="{% url 'create_product' %}">
                <button type="button" class="btn btn-primary btn-block mt-2 ">Create Product</button>
            </a>
        </div>
        <div class="form-row  float-right mr-3 ">
            <a href="{% url 'exportIndustry' %}">
                  <button type="button" class="btn btn-primary btn-block mt-2" >Export</button>
              </a>
          </div>
      <div class="form-row  float-right  mr-3">
           
                  <button type="button" class="btn btn-primary btn-block mt-2">Upload</button>
             
          </div>

    <br/>
    <br/>
    <br/>
    <br>
    <!--     my-2 float-right mr-1-->
     <!--     my-2 float-right mr-1-->
     <div class="container-fluid">
        
        <form method="POST" action="" enctype="multipart/form-data">
         {% csrf_token %}
     <div class="form-row">
         <div class="form-group col-md-5 ">
             <input type="text" class="form-control mt-2" placeholder="{% ifnotequal request.session.productsSearch None %}{{request.session.productsSearch}}{% else %}{% trans "Click to Search.... " %}{% endifnotequal %}" id="search"  name="products" />
         </div>
 
         <div class="form-group col-md-1">
             <button type="submit" class="btn btn-primary btn-block mt-2" name="Search" value="Search" >Search</button>
         </div>
         <div class="form-group col-md-2 offset-3 mt-2" >
             <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="productsSize" onchange="this.form.submit()" id="productsisex" style="width:80px!important;" >
             <option selected disabled>{% ifnotequal request.session.productsSize None %}{{request.session.productsSize}}{% else %}{% trans "Page Size" %}{% endifnotequal %}</option>
             <option value="20">20</option>
             <option value="30">30</option>
             <option value="40">40</option>
             </select>
         </div>
         <div class="form-group col-md-1 mt-2">
             <button type="submit" class="btn btn-primary btn-block " name="Clear" value="Clear" >Clear</button>
         </div>
     </div>
              </form>

     </div>
  <div class ="table-list" style="overflow-x:auto;">
  <table class ="table table-striped table-hover" id="list" >
      <thead class="thead-dark">

      <tr> 
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:-13px;">Product Name<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:-13px;">Code<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:-13px;">Category  <i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:-13px;">Sub Category  <i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:-13px;">Entity  <i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:-13px;">Brand<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:-26px;cursor: auto;">Action</button></th>

    </tr>
      </thead>
        <tbody>

           {% for i in entity_list %}
           <tr>
            
            <td><a href="{%url 'view_product' i.node.id %}" style="color:#000000;" target="_blank">{{ i.node.name }}</a></td>
            <td>{{ i.node.code }}</td>
            <td>{{ i.node.category.name}}</td>
            <td>{{ i.node.subCategory.name }}</td>
            <td>{{ i.node.entity.name }}</td>
            <td>{{ i.node.brand.brand }}</td>
            <td><a href="{%url 'update_product' i.node.id%}"><i class="feather icon-edit"></i></a>
            <a href="{%url 'delete_product' i.node.id%}"><i class="lnr lnr-trash"></i></a></td>
           </tr>
           {% endfor %}
            
           
        </tbody>
  </table>
    </div>

<!--start Pagination-->
<span class='text-center'>
    {% if max_page > 0 %}
    <form method="POST">
      {% csrf_token %}
      <span>
      <button type="submit" name="First" value="First" class="btn btn-primary">First</button>
      {% ifnotequal request.session.productsCurrentPage 1 %}
      <button type="submit" name="Previous" value="Previous" class="btn btn-primary">Previous</button>
      {% endifnotequal %}
      page <b>{{request.session.productsCurrentPage}}</b> of <b> {{max_page}}</b>
      {% ifnotequal max_page  request.session.productsCurrentPage %}
      <button type="submit" name="Next" value="Next" class="btn btn-primary">Next</button>
      {% endifnotequal %}
      <button type="submit" name="Last" value="Last" class="btn btn-primary">Last</button>&nbsp;&nbsp;[{{maxrowslist}}]
    </span>
    </form>
    {%else%}
    <br>
    <br>
    <br>
    <span class="text-center"><h5 >{% trans "No Results Found" %}</h5></span>
    {% endif%}
  </span> 
  <!--end  Pagination-->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var optionValues =[];
$('#productsisex option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
</script>
{% endblock body %}