{% extends 'core/base.html' %}
{% load static %}
{% block body %}

<div class="authentication-wrapper authentication-1 px-4">
 <div class="authentication-inner py-5">
   <!-- [ Logo ] Start -->
  <div class="d-flex justify-content-left align-items-left">
  <div class="ui-w-150">
  <div class="w-100 position-relative">
   <h2 class="float-left">Modify {{product.name}}</h2>
   <div class="clearfix"></div>
  </div>
  </div>
   </div>
  <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" name='product' onsubmit='return validate_product()'>
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Category<sup>*</sup></label>
                      <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="category" id="categoryid">
                        <option selected value="{{product.category.id}}">{{product.category.name}}</option>
                          {% for i in category %}
                        <option value="{{i.node.id}}">{{i.node.name}}</option>
                          {% endfor %}
                    </select>
                    <p style="color:#ff0000;position:absolute;" id='category-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">SubCategory<sup>*</sup></label>
                      
                      <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="subcategory" id="subcategory_id" >
                        <option selected value="{{product.subCategory.id}}">{{product.subCategory.name}}</option>
                          {% comment %} {% for j in subcategory %}
                        <option value="{{j.node.id}}">{{j.node.name}}</option>
                          {% endfor %} {% endcomment %}
                    </select>

                    <p style="color:#ff0000;position:absolute;" id='subcategory-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Entity<sup>*</sup></label>
                   <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="entity" id="enity_id">
                        <option selected value="{{product.entity.id}}">{{product.entity.name}}</option>
                        {% for k in entity %}
                        <option value='{{k.node.id}}'>{{k.node.name}}</option>
                        {% endfor %}
                    </select>
                    <p style="color:#ff0000;position:absolute;" id='entity-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Brand<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="brand" id="brand_id">
                       <option selected value="{{product.brand.id}}">{{product.brand.brand}}</option>
                       {% comment %} {% for l in brand %}
                      <option value={{l.node.id}}>{{l.node.brand}}</option>
                         {% endfor %} {% endcomment %}
                    </select>
                    <p style="color:#ff0000;position:absolute;" id='brand-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
           
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Name<sub>*</sub></label>
                    <input type="text" class="form-control" name="name" maxlength="256" value="{{product.name}}">
                    <p style="color:#ff0000;position:absolute;" id='name-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Code<sub>*</sub></label>
                    <input type="text" class="form-control" name="code" maxlength="128" value="{{product.code}}">
                    <p style="color:#ff0000;position:absolute;" id='code-m'></p>
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">BuySell<sub>*</sub></label>
                    <input type="text" class="form-control" name="buysell" maxlength="2" value="{{product.buysell}}">
                    <p style="color:#ff0000;position:absolute;" id='buysell-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">State<sub>*</sub></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="state" id="state-id">
                      <option selected value="{{product.state.id}}">{{product.state.state}}</option>
                         {% for p in state %}
                      <option value='{{p.node.id}}'>{{p.node.state}}</option>
                         {% endfor %}
                    </select>
                     <p style="color:#ff0000;position:absolute;" id='state-m'></p>
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Taste<sub>*</sub></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="taste" id="taste-id" >
                    <option selected value="{{product.taste.id}}">{{product.taste.taste}}</option>
                        {% for o in taste %}
                    <option value='{{o.node.id}}'>{{o.node.taste}}</option>
                        {% endfor %}
                    </select>
                     <p style="color:#ff0000;position:absolute;" id='taste-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Nutrition<sub>*</sub></label>
                     <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="nutrition" id="nutrition-id">
                      <option selected value="{{product.nutrition.id}}">{{product.nutrition.type}}</option>
                         {% for u in nutrition %}
                      <option value='{{u.node.id}}'>{{u.node.type}}</option>
                         {% endfor %}
                    </select>
                     <p style="color:#ff0000;position:absolute;" id='nutrition-m'></p>
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Unit Type<sub>*</sub></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="unittype" id="unittypes-id">
                    <option selected value="{{product.unitType.id}}">{{product.unitType.measureType}}</option>
                        {% for t in unittype %}
                    <option value='{{t.node.id}}'>{{t.node.measureType}}</option>
                        {% endfor %}
                    </select>
                     <p style="color:#ff0000;position:absolute;" id='unittype-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Unit<sub>*</sub></label>
                     <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="unit" id="unitid">
                      <option selected value="{{product.unit.id}}">{{product.unit.unit}}</option>
                         {% for r in unit %}
                      <option value='{{r.node.id}}'>{{r.node.unit}}</option>
                         {% endfor %}
                    </select>
                    <p style="color:#ff0000;position:absolute;" id='unit-m'></p>
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Unit Value</label>
                    <input type="text" class="form-control mohan " name="unitvalue" id='unit' maxlength="10" value="{{product.unitValue}}">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Denominator</label>
                    <input type="text" class="form-control mohan" name="denominator" id='den' maxlength="10" value="{{product.denominator}}">

                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Aunit<sup>*</sup></label>
                    <input type="text" class="form-control" name="aunit" maxlength="16" value="{{product.aunit}}">
                    <p style="color:#ff0000;position:absolute;" id='aunit-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Numerator</label>
                <input type="text" class="form-control mohan" name="numerator" id='n' maxlength="10" value="{{product.numerator}}">

                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Bunit<sup>*</sup></label>
                    <input type="text" class="form-control" name="bunit" maxlength="16" value="{{product.bunit}}">
                    <p style="color:#ff0000;position:absolute;" id='bunit-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Item Value</label>
                     <input type="text" class="form-control mohan" name="itemvalue" id='i' maxlength="10" value="{{product.itemValue}}">
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Mrp in m</label>
                    <input type="text" class="form-control mohan" name="mrpinm" id='m' maxlength="10" value="{{product.mrpInM}}">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Unit Inside Pacs</label>
                     <input type="text" class="form-control mohan" name="unitinsidepacs" id='u' maxlength="10" value="{{product.unitInsidePacs}}">
                    <div class="clearfix"></div>
            </div>
            </div>

               <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Metric System</label>
                    <input type="text" class="form-control" name="metricsystem" maxlength="127" value="{{product.metricSystem}}">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Length</label>
                     <input type="text" class="form-control mohan" name="length" id='length-id' maxlength="10" value="{{product.length}}">
                    <div class="clearfix"></div>
            </div>
            </div>
               <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Metric Unit Type</label>
                    <input type="text" class="form-control" name="metricunittype" maxlength="127" value="{{product.metricUnitType}}">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Gross Weight</label>
                     <input type="text" class="form-control mohan" name="grossweight" id='gross-id'maxlength="10" value="{{product.grossWeight}}">
                    <div class="clearfix"></div>
            </div>
            </div>
               <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Moisture</label>
                    <input type="text" class="form-control mohan" name="moisture" id='moisture-id'maxlength="10" value="{{product.moisture}}">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Yield</label>
                     <input type="text" class="form-control mohan" name="yield" id='yield-id'maxlength="10" value="{{product.yieldField}}">
                    <div class="clearfix"></div>
            </div>
            </div>
               <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Buy Price</label>
                    <input type="text" class="form-control mohan" name="buyprice" id='buy-price' maxlength="10" value="{{product.buyPrice}}">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Sell Price</label>
                     <input type="text" class="form-control mohan" name="sellprice" id='sell-price' maxlength="10" value="{{product.sellPrice}}">
                    <div class="clearfix"></div>
            </div>
            </div>
               <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Next Step<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="nextstep" id="nxt">
                      <option selected value="{{product.nextStep.id}}">{{product.nextStep.nextStep}}</option>
                        {% for e in nextstep %}
                      <option value="{{e.node.id}}">{{e.node.nextStep}}</option>
                        {% endfor %}
                    </select>
                    <p style="color:#ff0000;position:absolute;" id='nextstep-m'></p>
                    <div class="clearfix"></div>
                </div>
                 <div class="form-group col-md-3" style="margin-top:21px!important">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" name="isbase" id="base">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <label class="form-control" for="base">Is Base</label>
                        <div class="clearfix"></div>
                    </div>
                </div>
                 <div class="form-group col-md-3"  style="margin-top:21px!important">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" name="isveg" id="super">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <label class="form-control" for="super">Is Veg</label>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            </div>
               <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Unit Calorie</label>
                    <input type="text" class="form-control mohan" name="unitcalorie" min="0" id="calorieid" maxlength="10" value="{{product.unitCalorie}}">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Barcode</label>
                    <input type="text" class="form-control" name="barcode" maxlength="128" value="{{product.barcode}}">
                    <div class="clearfix"></div>
            </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">prodoct cgst</label>
                    <input type="text" class="form-control " name="prod_cgst" min="0" id="calorieid" maxlength="10" value="{{product.prodCgst}}">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Product sgst </label>
                    <input type="text" class="form-control" name="prod_sgst" maxlength="128" value="{{product.prodSgst}}">
                    <div class="clearfix"></div>
            </div>
            </div>
                                                  
               <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Prodoct igst</label>
                    <input type="text" class="form-control " name="prod_igst" min="0" id="calorieid" maxlength="10" value="{{product.prodIgst}}">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Product hsn</label>
                    <input type="text" class="form-control" name="prohsn" maxlength="128" value="{{product.prodHsn}}">
                    <div class="clearfix"></div>
            </div>
            </div>
               <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Packaging Type</label>
                     <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="packagingtype">
                    <option selected value="{{product.packagingType.id}}">{{product.packagingType.packagingType}}</option>
                    {% for e in  packinglist %}
                    <option value="{{e.node.id}}">{{e.node.packagingType}}</option>
                      {% endfor %}
                      </select> 
                    
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    
            </div>
            </div>


            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block mt-4">Update</button>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'product/js/product.js' %}"></script>
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'product/js/update_product.js' %}"></script>

<!--Category to subcategory-->
<script>
    function categorytosubcategory(){
        const category = document.querySelector("#categoryid");
        const subcategory = document.querySelector("#subcategory_id");
        category.addEventListener("click", (e) => {
            subcategory.innerHTML = ``
            const searchValue = e.target.value;
            console.log(searchValue);
            if (searchValue.trim().length > 0 && searchValue !== "Please Select Category") {
                fetch("{% url 'categorytosubcategory' %}", {
                    body: JSON.stringify({ search: searchValue }),
                    method: "POST",
                }).then((res) => res.json())
                    .then((data) => {
                        //console.log("data", data);
                        if (data.length === 0) {
                            distriDDL.innerHTML =
                                `<option>No Parent</option>`
                        }
                        else {
                            data.forEach((item) => {
                                    var e = document.getElementById("categoryid");
                                    var strUser = e.value;
                            if (searchValue ===strUser){
              
                                subcategory.innerHTML += `
                                        <option value="${item.node.id}">${item.node.name}</option>
                                        `;
                            }
                            })
                        }
                    })
    }
    })
        }
    
        categorytosubcategory();
   
</script>
<!--End Category to subcategory-->
<!--Entity to Brand-->
<script>
    function entitytobrand(){
        const entity = document.querySelector("#enity_id");
        const brand = document.querySelector("#brand_id");
        entity.addEventListener("click", (e) => {
            brand.innerHTML = ``
            const searchValue = e.target.value;
            
            if (searchValue.trim().length > 0 && searchValue !== "Please Select Entity") {
                fetch("{% url 'entitytobrand' %}", {
                    body: JSON.stringify({ search: searchValue }),
                    method: "POST",
                }).then((res) => res.json())
                    .then((data) => {
                        console.log("data", data);
                        if (data.length === 0) {
                            distriDDL.innerHTML =
                                `<option>No Parent</option>`
                        }
                        else {
                            data.forEach((item) => {
                                    var e = document.getElementById("enity_id");
                                    var strUser = e.value;
                            if (searchValue ===strUser){
              
                                brand.innerHTML += `
                                        <option value="${item.node.id}">${item.node.brand}</option>
                                        `;
                            }
                            })
                        }
                    })
    }
    })
        }
    
        entitytobrand();
    </script>

<!--End Entity to Brand-->
{% endblock body %}