{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
 <div class="authentication-inner py-5">
   <!-- [ Logo ] Start -->
  <div class="d-flex justify-content-left align-items-left">
  <div class="ui-w-150">
  <div class="w-100 position-relative">
   <h2 class="float-left">Modify Composition of Product - {{data.product.name}}</h2>
   <div class="clearfix"></div>
  </div>
  </div>
   </div>
  <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Product<sup>*</sup></label>
                      <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="product" id="productid">
                        <option selected value="{{data.product.id}}">{{data.product.name}}</option>
                          {% for i in p %}
                        <option value="{{i.node.id}}">{{i.node.name}}</option>
                          {% endfor %}
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Base Product<sup>*</sup></label>
                      <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="baseproduct" id="baseproductid">
                        <option selected value="{{data.baseProduct.id}}">{{data.baseProduct.name}}</option>
                          {% for j in p %}
                        <option value="{{j.node.id}}">{{j.node.name}}</option>
                          {% endfor %}
                    </select>
                    
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Composition Unit<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="compositionunit" id="compositionunitid">
                        <option selected value="{{data.compositionUnit.id}}">{{data.compositionUnit.unit}}</option>
                        {% for i in u %}
                        <option value="{{i.node.id}}">{{i.node.unit}}</option>
                          {% endfor %}
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Composition Conversion</label>
                    <input type="text" class="form-control mohan" name="compositionconversion" value="{{data.compositionConversion}}" maxlength="10">
                    <div class="clearfix"></div>
                </div>
            </div>
           
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Composition Value</label>
                    <input type="text" class="form-control mohan" name="compositionvalue" value="{{data.compositionValue}}" maxlength="10">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Calorie</label>
                    <input type="text" class="form-control mohan" name="calorie" value="{{data.calorie}}" maxlength="10">
                    <div class="clearfix"></div>
            </div>
            </div>
            
       
            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block mt-4">Update</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'product/js/update_composition.js' %}"></script>
{% endblock body %}