{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
 <div class="authentication-inner py-5">
   <!-- [ Logo ] Start -->
  <div class="d-flex justify-content-left align-items-left">
  <div class="ui-w-150">
  <div class="w-100 position-relative">
   <h2 class="float-left">Modify {{data.product.name}} unit</h2>
   <div class="clearfix"></div>
  </div>
  </div>
   </div>
  <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" name='units' onsubmit="return validate_unit()">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Product<sup>*</sup></label>
                      <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="product" id="productid">
                        <option selected value="{{data.product.id}}">{{data.product.name}}</option>
                        {% for i in products %}
                        <option value="{{i.node.id}}">{{i.node.name}}</option>
                          {% endfor %}
                    </select>
                    <p style="color:#ff0000;position:absolute;" id='product-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Sec Unit Type<sup>*</sup></label>
                      <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="s_unittype" id="secunittypeid">
                          <option selected value="{{data.secUnitType.id}}">{{data.secUnitType.measureType}}</option>
                          {% for j in unittype %}
                        <option value="{{j.node.id}}">{{j.node.measureType}}</option>
                          {% endfor %}
                    </select>
                    <p style="color:#ff0000;position:absolute;" id='s_unittype-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Sec Unit<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="s_unit" id="secunitid">
                        <option selected value="{{data.secUnit.id}}">{{data.secUnit.unit}}</option>
                        {% for k in units %}
                        <option value="{{k.node.id}}">{{k.node.unit}}</option>
                        {% endfor %}
                    </select>
                    <p style="color:#ff0000;position:absolute;" id='s_unit-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Sec conversion</label>
                    <input type="text" class="form-control mohan" name="secconversion" value="{{data.secConversion}}" maxlength="10">
                    <div class="clearfix"></div>
                </div>
            </div>
           
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Sec value</label>
                    <input type="text" class="form-control mohan" name="secvalue" value="{{data.secValue}}" maxlength="10">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    
                    <div class="clearfix"></div>
            </div>
            </div>
            
       
            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block mt-4">Update</button>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'product/js/units.js' %}"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript" src="{% static 'product/js/update_unit.js' %}"></script>
{% endblock body %}