{% extends 'core/base.html' %}
{% load static %}
{% block body %}

<div class="authentication-wrapper authentication-1 px-4">
 <div class="authentication-inner py-5">
   <!-- [ Logo ] Start -->
  <div class="d-flex justify-content-left align-items-left">
  <div class="ui-w-150">
  <div class="w-100 position-relative">
   <h2 class="float-left">View-{{product.name}}</h2>
   <div class="clearfix"></div>
  </div>
  </div>
   </div>
  <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" name='product' onsubmit='return validate_product()'>
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Category<sup>*</sup></label>
                    <input type="text" class="form-control" name="" value="{{product.category.name}}" readonly>
        
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">SubCategory<sup>*</sup></label>
                      <input type="text" class="form-control" name="" value="{{product.subCategory.name}}" readonly>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Entity<sup>*</sup></label>
                    <input type="text" class="form-control" name="" value="{{product.entity.name}}" readonly>
                   
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Brand<sup>*</sup></label>
                    <input type="text" class="form-control" name="" value="{{product.brand.brand}}" readonly>
                    
                    <div class="clearfix"></div>
                </div>
            </div>
           
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Name<sub>*</sub></label>
                    <input type="text" class="form-control" name="name" maxlength="256" value="{{product.name}}" readonly>
                    
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Code<sub>*</sub></label>
                    <input type="text" class="form-control" name="code" maxlength="128" value="{{product.code}}" readonly>
                    
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">BuySell<sub>*</sub></label>
                    <input type="text" class="form-control" name="buysell" maxlength="2" value="{{product.buysell}}" readonly>
                    
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">State<sub>*</sub></label>
                    <input type="text" class="form-control" name="" value="{{product.state.state}}" readonly>
    
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Taste<sub>*</sub></label>
                    <input type="text" class="form-control" name="" value="{{product.taste.taste}}" readonly>
    
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Nutrition<sub>*</sub></label>
                    <input type="text" class="form-control" name="" value="{{product.nutrition.type}}" readonly>
                     
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Unit Type<sub>*</sub></label>
                    <input type="text" class="form-control" name="" value="{{product.unitType.measureType}}" readonly>
                    
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Unit<sub>*</sub></label>
                    <input type="text" class="form-control" name="" value="{{product.unit.unit}}" readonly>
                     
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Unit Value</label>
                    <input type="text" class="form-control mohan " name="unitvalue" id='unit'  value="{{product.unitValue}}" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Denominator</label>
                    <input type="text" class="form-control mohan" name="denominator" id='den'  value="{{product.denominator}}" readonly>

                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Aunit<sup>*</sup></label>
                    <input type="text" class="form-control" name="aunit"  value="{{product.aunit}}" readonly>
                    
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Numerator</label>
                <input type="text" class="form-control mohan" name="numerator" id='n'  value="{{product.numerator}}" readonly>

                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Bunit<sup>*</sup></label>
                    <input type="text" class="form-control" name="bunit"  value="{{product.bunit}}" readonly>
                    
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Item Value</label>
                     <input type="text" class="form-control mohan" name="itemvalue" id='i'  value="{{product.itemValue}}" readonly>
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Mrp in m</label>
                    <input type="text" class="form-control mohan" name="mrpinm" id='m' value="{{product.mrpInM}}" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Unit Inside Pacs</label>
                     <input type="text" class="form-control mohan" name="unitinsidepacs" id='u'  value="{{product.unitInsidePacs}}" readonly>
                    <div class="clearfix"></div>
            </div>
            </div>

               <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Metric System</label>
                    <input type="text" class="form-control" name="metricsystem"  value="{{product.metricSystem}}" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Length</label>
                     <input type="text" class="form-control mohan" name="length" id='length-id'  value="{{product.length}}" readonly>
                    <div class="clearfix"></div>
            </div>
            </div>
               <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Metric Unit Type</label>
                    <input type="text" class="form-control" name="metricunittype"  value="{{product.metricUnitType}}" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Gross Weight</label>
                     <input type="text" class="form-control mohan" name="grossweight" id='gross-id' value="{{product.grossWeight}}" readonly>
                    <div class="clearfix"></div>
            </div>
            </div>
               <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Moisture</label>
                    <input type="text" class="form-control mohan" name="moisture" id='moisture-id' value="{{product.moisture}}" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Yield</label>
                     <input type="text" class="form-control mohan" name="yield" id='yield-id' value="{{product.yieldField}}" readonly>
                    <div class="clearfix"></div>
            </div>
            </div>
               <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Buy Price</label>
                    <input type="text" class="form-control mohan" name="buyprice" id='buy-price'  value="{{product.buyPrice}}" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Sell Price</label>
                     <input type="text" class="form-control mohan" name="sellprice" id='sell-price'  value="{{product.sellPrice}}" readonly>
                    <div class="clearfix"></div>
            </div>
            </div>
               <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Next Step<sup>*</sup></label>
                    <input type="text" class="form-control" name="" value="{{product.nextStep.nextStep}}" readonly>
                    
                    <div class="clearfix"></div>
                </div>
                 <div class="form-group col-md-3" style="margin-top:21px!important">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" name="isbase" id="base" readonly disabled>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <label class="form-control" for="base">Is Base</label>
                        <div class="clearfix"></div>
                    </div>
                </div>
                 <div class="form-group col-md-3"  style="margin-top:21px!important">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" name="isveg" id="super" readonly disabled>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <label class="form-control" for="super">Is Veg</label>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            </div>
               <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Unit Calorie</label>
                    <input type="text" class="form-control mohan" name="unitcalorie" min="0" id="calorieid" maxlength="10" value="{{product.unitCalorie}}" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Barcode</label>
                    <input type="text" class="form-control" name="barcode" maxlength="128" value="{{product.barcode}}" readonly>
                    <div class="clearfix"></div>
            </div>
            </div>
              

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">prodoct cgst</label>
                    <input type="text" class="form-control " name="prod_cgst" min="0" id="calorieid" maxlength="10" value="{{product.prodCgst}}" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Product sgst </label>
                    <input type="text" class="form-control" name="prod_sgst" maxlength="128" value="{{product.prodSgst}}" readonly>
                    <div class="clearfix"></div>
            </div>
            </div>
                                                  
               <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Prodoct igst</label>
                    <input type="text" class="form-control " name="prod_igst" min="0" id="calorieid" maxlength="10" value="{{product.prodIgst}}" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Product hsn</label>
                    <input type="text" class="form-control" name="prohsn" maxlength="128" value="{{product.prodHsn}}" readonly>
                    <div class="clearfix"></div>
            </div>
            </div>
               <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Packaging Type</label>
                   
                    
                      <input type="text" class="form-control" name="" value="{{product.packagingType.packagingType}}" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    
            </div>
            </div>

            <div class="form-row float-right mr-1">
                <a href="{%url 'update_product' product.id %}">
                <button type="button" class="btn btn-primary btn-block mr-1">Edit</button>
                </a>
            </div>
            <div class="form-row float-right mr-3">
                <a href="{% url 'product_list'%}">
                <button type="button" class="btn btn-primary btn-block mr-3">Back</button>
                </a>
            </div>
        </form>
    </div>
</div>


{% endblock body %}