{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
 <div class="authentication-inner py-5">
   <!-- [ Logo ] Start -->
  <div class="d-flex justify-content-left align-items-left">
  <div class="ui-w-150">
  <div class="w-100 position-relative">
   <h1 class="float-left">View- {{data.product.name}} unit</h1>
   <div class="clearfix"></div>
  </div>
  </div>
   </div>
  <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" name='units' onsubmit="return validate_unit()">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Product<sup>*</sup></label>
                    <input type='text' name='product' class='form-control' value="{{data.product.name}}" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Sec Unit Type<sup>*</sup></label>
                    <input type='text' name='s_unittype' class='form-control' value="{{data.secUnitType.measureType}}" readonly>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Sec Unit<sup>*</sup></label>
                    <input type="text" class="form-control mohan" name="secconversion" value="{{data.secUnit.unit}}" readonly>
      
                   
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Sec conversion</label>
                    <input type="text" class="form-control mohan" name="secconversion" value="{{data.secConversion}}" readonly>
                    <div class="clearfix"></div>
                </div>
            </div>
           
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Sec value</label>
                    <input type="text" class="form-control mohan" name="secvalue" value="{{data.secValue}}" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    
                    <div class="clearfix"></div>
            </div>
            </div>
            
       
            <div class="form-row float-right mr-1">
               <a href="{% url 'update_unit' data.id  %}">
                <button type="button" class="btn btn-primary btn-block mr-1">Edit</button>
                </a>
            </div>
            <div class="form-row float-right mr-3">
               <a href="{% url 'unit_list' %}">
                <button type="button" class="btn btn-primary btn-block mr-3">back</button>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock body %}