o{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
 <div class="authentication-inner py-5">
   <!-- [ Logo ] Start -->
  <div class="d-flex justify-content-left align-items-left">
  <div class="ui-w-150">
  <div class="w-100 position-relative">
   <h2 class="float-left">View- Composition of Product - {{data.product.name}}</h2>
   <div class="clearfix"></div>
  </div>
  </div>
   </div>
  <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Product<sup>*</sup></label>
                    <input type="text" class="form-control" name="product" value="{{data.product.name}}" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Base Product<sup>*</sup></label>
                    <input type="text" class="form-control" name="" value="{{data.baseProduct.name}}" readonly>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Composition Unit<sup>*</sup></label>
                    <input type="text" class="form-control" name="" value="{{data.compositionUnit.unit}}" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Composition Conversion</label>
                    <input type="text" class="form-control mohan" name="compositionconversion" value="{{data.compositionConversion}}" readonly>
                    <div class="clearfix"></div>
                </div>
            </div>
           
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Composition Value</label>
                    <input type="text" class="form-control mohan" name="compositionvalue" value="{{data.compositionValue}}" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Calorie</label>
                    <input type="text" class="form-control mohan" name="calorie" value="{{data.calorie}}" readonly>
                    <div class="clearfix"></div>
            </div>
            </div>
            
       
            <div class="form-row float-right mr-1">
                <a href="{%url 'update_composition' data.id%}">
                <button type="button" class="btn btn-primary btn-block mt-4">Edit</button>
                </a>
            </div>
            <div class="form-row float-right mr-3">
                <a href="{% url 'composition_list'%}">
                <button type="button" class="btn btn-primary btn-block mt-4">Back</button>
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock body %}