{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h1 class="float-left">
                        Add Supplier
                    </h1>

                    <!--                        <img src="assets/img/logo-dark.png" alt="Brand Logo" class="img-fluid">-->
                    <!--                    <img src="{% static 'core\images\img.png' %}"  alt="Brand Logo" class="img-fluid">-->
                    <!--                    <img src="{% static 'core\images\wastelink_signature.png' %}" alt="Brand Logo" class="img-fluid">-->
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>

        <form class="my-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Supplier Code<sup>*</sup></label>
                    <input type="text" class="form-control" name="suppliers_code" required>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Supplier Name<sup>*</sup></label>
                    <input type="text" class="form-control" name="suppliers_name" required>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Distributor Code<sup>*</sup></label>
                    <input type="text" class="form-control" name="distributors_code" required>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Distributor Name<sup>*</sup></label>
                    <input type="text" class="form-control" name="distributors_name" required>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="form-label">Distributor Address<sup>*</sup></label>
                    <input type="text" class="form-control" name="distributors_address" required>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">City<sup>*</sup></label>
                    <input type="text" class="form-control" name="city" required>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">State<sup>*</sup></label>
                    <input type="text" class="form-control" name="state" required>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Supplier Latitude</label>
                    <input type="text" class="form-control" name="suppliers_latitude">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Supplier Longitude</label>
                    <input type="text" class="form-control" name="supplier_longitude">
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Contact Number<sup>*</sup></label>
                    <input type="text" class="form-control" name="contact_number" required>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Created By</label>
                    <input type="text" class="form-control" name="created_by">
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Supplier Type<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="supplier_type" id="supplier_type">
                        <option selected disabled>---Select Type---</option>
                        <option value="C">Company</option>
                        <option value="W">Warehouse</option>
                        <option value="D">Distributor</option>
                        <option value="F">Factory</option>
                        <option value="R">Retailer</option>
                        <option value="RO">Regional Office</option>
                        <option value="BO">Branch Office</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row float-right mr-1 my-2">
                <button type="submit" class="btn btn-primary btn-block mt-4">Add</button>
            </div>
        </form>


    </div>
</div>

{% endblock body %}