{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<a href="{% url 'sup_create' %}">Add Supplier</a>
<a href="{% url 'sup_update' %}">Update Supplier</a>
<a href="{% url 'sup_delete' %}">Delete Supplier</a>
{% endblock body %}