{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<h1>Here view all Supplier with code </h1>
<a href="{% url 'swc_create' %}">Add Supplier with Code</a>
<a href="{% url 'swc_update' %}">Update Supplier with Code</a>
<a href="{% url 'swc_delete' %}">Delete Supplier with Code</a>

{% endblock body %}