{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<style>
    .vl {
        border: 3px solid #6f9ee5;
        width: 10%;
        margin-bottom:3px;
      }
      .v2 {
        border: 3px solid #bec5d1;
        width: 10%;
        margin-left:11%;
        margin-top:-9px;
      }
      .v3 {
        border: 3px solid #bec5d1;
        width: 10%;
       margin-left:22%;
       margin-top:-6px;
       
      }
      .v4 {
        border: 3px solid #bec5d1;
        width: 10%;
       margin-left:33%;
       margin-top:-6px;
       
      }
      .v5 {
        border: 3px solid #bec5d1;
        width: 10%;
       margin-left:44%;
       margin-top:-6px;
       
      }
      .circle {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top: -14px;
        margin-left:9.5%;
      
    }

    .circle2 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:21%;
    }
    .circles3 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:32%;
    }
    .circle4 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:43%;
    }


    .one{
        margin-left:8.5%;
        margin-top:-1px;
        color:#3f88f7;
       }
       .two{
        margin-left:19.5%;
        margin-top:-22px;
       }
       .three{
        margin-left:29.5%;
        margin-top:-20px;
       }
       .complete{
        margin-left:41%;
        margin-top:-20px;
       }

</style>

</span>
<div class="authentication-wrapper authentication-1 px-4">
 <div class="authentication-inner py-5">
   
   <!-- [ Logo ] Start -->
  <div class="d-flex justify-content-left align-items-left">
  <div class="ui-w-150">
  <div class="w-100 position-relative">
   <h2 class="float-left">Create Transaction</h2>

    
   <div class="clearfix"></div>
   
  </div>
  </div>
   </div>
   <br>
   <span class="text-center">
    <div class="vl"></div>
    <div class="v2"></div>
    <div class="v3"></div>
    <div class="v4"></div>
    <div class="v5"></div>
  </span>
  <div class="circle"></div>
  <div class="circle2"></div>
  <div class="circles3"></div>
  <div class="circle4"></div>
  <span>
    <div class="one">Initiate</div>
    <div class="two">Add Bags</div>
    <div class="three">Add Products</div>
    <div class="complete">Assign Auditor</div>
    </span>
  <br>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" name='' >
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Type<sub>*</sub></label>
                     <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="type">
                        <option selected disabled>Please Select Type</option>
                          {% for i in transactiontype %}
                        <option value='{{i.node.id}}'>{{i.node.transactionType}}</option>
                          {% endfor %}
                    </select> 
                    <div class="clearfix"></div>
                </div>
                
                <div class="form-group col-md-6">
                    <label class="form-label">Billing Enity<sub>*</sub></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="billingentity" id="billingentityid">
                        <option selected disabled>Please Select Billing Entity</option>
                        {% for entity in entity_data %}
                        <option value="{{entity.node.id}}">{{entity.node.name}}</option>
                              {% endfor %}
                    </select>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Pickup Enity</label>
                     <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="pickupentity" id="pickupentityid">
                        <option selected disabled>Please Select Pickup Entity</option>
                        
                    </select>  
                    <div class="clearfix"></div>  
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Pickup Schedule Date</label>
                    <input type="date" class="form-control" name="pickupscheduledate" >
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row">   
                <div class="form-group col-md-6">
                    <label class="form-label">Pickup Entity Address</label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="entityaddress" id="entityaddressid">
                        <option selected disabled>Please Select Entity Address</option>
                        {% comment %} {% for entity in entity_data %}
                        <option value="{{entity.node.id}}">{{entity.node.name}}</option>
                        {% endfor %} {% endcomment %}
                    </select>
                    <div class="clearfix"></div>
                </div>
                  <div class="form-group col-md-6">
                    <label class="form-label">Pickup Unit Count</label>
                    <input type="text" class="form-control" name="pickupunitcount" >
                    <div class="clearfix"></div>
                </div> 
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Pickup Weight</label>
                    <input type="text" class="form-control" name="pickupweight" >
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Pickup Bag Count</label>
                    <input type="text" class="form-control" name="pickupbagcount" >
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 ">
                    <label class="form-label">Pickup Audit</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="pickupaudit"  value="true">
                        <label class="form-check-label" for="">
                          Yes
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="pickupaudit"  value="false" checked>
                        <label class="form-check-label" for="">
                          No
                        </label>
                      </div>

                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Receive Audit</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="receiveaudit" id="" value="true" >
                        <label class="form-check-label">
                         Yes
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="receiveaudit" id="" value="false" checked>
                        <label class="form-check-label" >
                          No
                        </label>
                      </div>
                    <div class="clearfix"></div>
            </div>
            </div>  
            </div>
            <div class="form-row float-right mr-4" style="margin-top:-52px;">
                <button type="submit" class="btn btn-primary btn-block">Next</button>
            </div>
        </form>
    </div>
</div>


<!-- ======Billing  Entity to Pickup Entity ======== -->
<script>
    function billinge_to_pickupe(){
        const pickupentity = document.querySelector("#pickupentityid");
        const billingentity = document.querySelector("#billingentityid");
        billingentity.addEventListener("click", (e) => {
            pickupentity.innerHTML = ``
            const searchValue = e.target.value;
            if (searchValue.trim().length > 0 && searchValue !== "Please Select Billing  Entity") {
                fetch("{% url 'billingEntity_pickupEntity' %}", {
                    body: JSON.stringify({ search: searchValue }),
                    method: "POST",
                }).then((res) => res.json())
                    .then((data) => {
                        console.log("data", data);
                        if (data.length === 0) {
                            distriDDL.innerHTML =
                                `<option>No Parent</option>`
                        }
                        else {
                            data.forEach((item) => {
                                    var e = document.getElementById("billingentityid");
                                    var strUser = e.value;
                            if (searchValue ===strUser){
    
                                pickupentity.innerHTML += `
                                        <option value="${item.id}">${item.name}</option>
                                        `;
                            }
                            })
                        }
                    })
    }
    })
        }
    
        billinge_to_pickupe();
    </script>
<!-- ====== End Billing  Entity to Pickup Entity ======== -->

<!-- ====== Pickup Entity to Address Entity ======== -->

<script>
    function pickupe_address(){
        
        const pickupentity = document.querySelector("#pickupentityid");
        
        const addressentity = document.querySelector("#entityaddressid");
        pickupentity.addEventListener("click", (e) => {
            addressentity.innerHTML = ``
            const searchValue = e.target.value;
            if (searchValue.trim().length > 0 && searchValue !== "Please Select Pickup  Entity") {
                fetch("{% url 'pickupEntity_toAddress' %}", {
                    body: JSON.stringify({ search: searchValue }),
                    method: "POST",
                }).then((res) => res.json())
                    .then((data) => {
                        console.log("data", data);
                        if (data.length === 0) {
                            distriDDL.innerHTML =
                                `<option>No Parent</option>`
                        }
                        else {
                            data.forEach((item) => {
                                    var e = document.getElementById("pickupentityid");
                                    var strUser = e.value;
                            if (searchValue ===strUser){
    
                                addressentity.innerHTML += `
                                        <option value="${item.node.id}">${item.node.addressLabel}</option>
                                        `;
                            }
                            })
                        }
                    })
    }
    })
        }
    
        pickupe_address();
    </script>
<!-- ====== End  Pickup Entity to Address Entity ======== -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var optionValues =[];
$('#pickupentityid option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
</script>
{% endblock body %}