{% extends 'core/base.html' %}
{% load static %}

{% block body %}
<style>
  .vl {
      border: 3px solid #6f9ee5;
      width: 10%;
      margin-bottom:3px;
    }
    .v2 {
      border: 3px solid #6f9ee5;
      width: 10%;
      margin-left:11%;
      margin-top:-9px;
    }
    .v3 {
      border: 3px solid #6f9ee5;
      width: 10%;
     margin-left:22%;
     margin-top:-6px;
     
    }
    .v4 {
      border: 3px solid #bec5d1;
      width: 10%;
     margin-left:33%;
     margin-top:-6px;
     
    }
    .v5 {
      border: 3px solid #bec5d1;
      width: 10%;
     margin-left:44%;
     margin-top:-6px;
     
    }
    .circle {
      background-color:#0cad0c;
      border:1px solid green;    
      height:20px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:20px;
      margin-top: -14px;
      margin-left:9.5%;
    
  }

  .circle2 {
      background-color:#0cad0c;
      border:1px solid green;    
      height:20px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:20px;
      margin-top:-20px;
      margin-left:21%;
  }
  .circles3 {
      background-color:#fff;
      border:1px solid #000000;    
      height:20px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:20px;
      margin-top:-20px;
      margin-left:32%;
  }
  .circle4 {
      background-color:#fff;
      border:1px solid #000000;    
      height:20px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:20px;
      margin-top:-20px;
      margin-left:43%;
  }


  .one{
      margin-left:8.5%;
      margin-top:-1px;
      color:#0cad0c;
     }
     .two{
      margin-left:19.5%;
      margin-top:-22px;
      color:#0cad0c;
     }
     .three{
      margin-left:29.5%;
      margin-top:-20px;
      color:#3f88f7;
     }
     .complete{
      margin-left:41%;
      margin-top:-20px;
     }

</style>
<div class="authentication-wrapper authentication-1 px-4">
 <div class="authentication-inner py-5">
   <!-- [ Logo ] Start -->
   
  <div class="d-flex justify-content-left align-items-left">
  <div class="ui-w-150">
  <div class="w-100 position-relative">
   <h2 class="float-left">Create Transaction Products</h2>
   
   <div class="clearfix"></div>
  </div>
  </div>
   </div>
   <br>
   <span class="text-center">
    <div class="vl"></div>
    <div class="v2"></div>
    <div class="v3"></div>
    <div class="v4"></div>
    <div class="v5"></div>
  </span>
  <div class="circle"><i class="fa fa-check" style="font-size:11px;color:#fff;  margin-left:3px;"></i></div>
  <div class="circle2"><i class="fa fa-check" style="font-size:11px;color:#fff;  margin-left:3px;"></i></div>
  <div class="circles3"></div>
  <div class="circle4"></div>
  <span>
    <div class="one">Initiate</div>
    <div class="two">Add Bags</div>
    <div class="three">Add Products</div>
    <div class="complete">Assign Auditor</div>
    </span>
    
  </br>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" name='' >
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Product<sup>*</sup></label>
                      <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="product" id="productid">
                        <option selected disabled>Please Select product</option>
                          {% for i in product %}
                        <option value='{{i.node.id}}'>{{i.node.name}}</option>
                          {% endfor %}
                    </select> 
                    {% comment %} <input type="text" class="form-control" name="transaction" maxlength="10"> {% endcomment %}
                    <div class="clearfix"></div>
                </div>
                
                <div class="form-group col-md-6">
                    <label class="form-label">Yield</label>
                    <input type="text" class="form-control" name="yield" maxlength="10">
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Rate</label>
                    <input type="text" class="form-control" name="rate" maxlength="10">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Packaging Type</label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="productpackaging">
                      <option selected disabled>Please Select Packaging Type</option>
                        {% for i in mpackaging %}
                      <option value='{{i.node.id}}'>{{i.node.packagingType}}</option>
                        {% endfor %}
                  </select>
                    <div class="clearfix"></div>
                </div>
            </div>
           
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Bag Number</label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="bagnumber">
                      <option selected disabled>Please Select Bag Number</option>
                        {% for i in bagid %}
                      <option value='{{i.node.id}}'>{{i.node.bagNumber}}</option>
                        {% endfor %}
                  </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Cateogry</label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="category" id="categoryid">
                      <option selected disabled>Please Select Category</option>
                        {% for i in bagid %}
                      <option value='{{i.node.id}}'>{{i.node.bagNumber}}</option>
                        {% endfor %}
                  </select>
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">SubCategory</label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="subcategory" id="subcategoryid">
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Pickup Weight</label>
                    <input type="text" class="form-control" name="pickupweight" maxlength="10">
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Pickup Unit Count</label>
                    <input type="text" class="form-control" name="pickupunitcount" maxlength="10">
                    <div class="clearfix"></div>
                </div>
               
            </div>
           
            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block mt-4">Next</button>
            </div>
        </form>
    </div>
</div>
<!--Product to Category -->
<script>
  function productToCategorysubcategory(){
      const product = document.querySelector("#productid");
      const category = document.querySelector("#categoryid");
  
      product.addEventListener("click", (e) => {
        category.innerHTML = ``
          const searchValue = e.target.value;
          if (searchValue.trim().length > 0 && searchValue !== "Please Select Product") {
              fetch("{% url 'product_categoryandsubcatogry' %}", {
                  body: JSON.stringify({ search: searchValue }),
                  method: "POST",
              }).then((res) => res.json())
                  .then((data) => {
                      console.log("data", data);
                      if (data.length === 0) {
                          distriDDL.innerHTML =
                              `<option>No Parent</option>`
                      }
                      else {
                          data.forEach((item) => {
                                  var e = document.getElementById("productid");
                                  var strUser = e.value;
                                  console.log(strUser)
                          if (searchValue ===strUser){
  
                            category.innerHTML += `
                                      <option value="${item.category.id}">${item.category.name}</option>
                                      `;
                          }
                          })
                      }
                  })
  }
  })
      }
      
      productToCategorysubcategory();
  </script>
<!-- End Product to Category -->

<!--Product to  Subcategory-->
<script>
  function productsubcategory(){
      const product = document.querySelector("#productid");
      const subcategory = document.querySelector("#subcategoryid");
  
      product.addEventListener("click", (e) => {
        subcategory.innerHTML = ``
          const searchValue = e.target.value;
          if (searchValue.trim().length > 0 && searchValue !== "Please Select Product") {
              fetch("{% url 'product_categoryandsubcatogry' %}", {
                  body: JSON.stringify({ search: searchValue }),
                  method: "POST",
              }).then((res) => res.json())
                  .then((data) => {
                      console.log("data", data);
                      if (data.length === 0) {
                          distriDDL.innerHTML =
                              `<option>No Parent</option>`
                      }
                      else {
                          data.forEach((item) => {
                                  var e = document.getElementById("productid");
                                  var strUser = e.value;
                                  console.log(strUser)
                          if (searchValue ===strUser){
  
                            subcategory.innerHTML += `
                                      <option value="${item.subCategory.id}">${item.subCategory.name}</option>
                                      `;
                          }
                          })
                      }
                  })
  }
  })
      }
      
      productsubcategory();
  </script>
<!-- End Product to  Subcategory-->
{% endblock body %}