{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
 <div class="authentication-inner py-5">
   <!-- [ Logo ] Start -->
  <div class="d-flex justify-content-left align-items-left">
  <div class="ui-w-150">
  <div class="w-100 position-relative">
   <h2 class="float-left">Create Transaction Bags</h2>
   <div class="clearfix"></div>
  </div>
  </div>
   </div>
  <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" name='' >
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Transaction<sup>*</sup></label>
                      <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="transaction">
                        <option selected disabled>Please Select Transaction</option>
                          {% for i in transactioin %}
                        <option value='{{i.node.id}}'>{{i.node.id}}</option>
                          {% endfor %}
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Bag Number</label>
                    <input type="text" class="form-control" name="bagnumber" maxlength="10">
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Bag Weight</label>
                    <input type="text" class="form-control" name="bagweight" maxlength="10">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Unit Count</label>
                    <input type="text" class="form-control" name="unitcount" maxlength="10">
                    <div class="clearfix"></div>
                </div>
            </div>
           
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Is Audited</label>
                    <div class="form-check form-check-inline ml-4">
                      <input class="form-check-input" type="radio" name="isaudited" id="" value="true">
                      <label class="form-check-label" for="">
                        Yes
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="isaudited" value="false" checked>
                      <label class="form-check-label" for="">
                        No
                      </label>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Audited Bag Weight</label>
                    <input type="text" class="form-control" name="auditedbagweight" maxlength="10">
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Audited Unit Count</label>
                    <input type="text" class="form-control" name="auditedunitcount" maxlength="10">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Logistic Bag Weight</label>
                    <input type="text" class="form-control" name="logisticbagweight" maxlength="10">
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Logistic Unit Count</label>
                    <input type="text" class="form-control" name="logisticunitcount" maxlength="10">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Received Bag Weight</label>
                    <input type="text" class="form-control" name="receivedbagweight" maxlength="10">
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label"> Received Unit Count</label>
                    <input type="text" class="form-control" name="receivedunitcount" maxlength="10">
                    <div class="clearfix"></div>
                </div>
               
            </div>
            </div>
            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock body %}