{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<style>
  .vl {
      border: 3px solid #6f9ee5;
      width: 10%;
      margin-bottom:3px;
    }
    .v2 {
      border: 3px solid #6f9ee5;
      width: 10%;
      margin-left:11%;
      margin-top:-9px;
    }
    .v3 {
      border: 3px solid #bec5d1;
      width: 10%;
     margin-left:22%;
     margin-top:-6px;
     
    }
    .v4 {
      border: 3px solid #bec5d1;
      width: 10%;
     margin-left:33%;
     margin-top:-6px;
     
    }
    .v5 {
      border: 3px solid #bec5d1;
      width: 10%;
     margin-left:44%;
     margin-top:-6px;
     
    }
    .circle {
      background-color:#0cad0c;
      border:1px solid green;    
      height:20px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:20px;
      margin-top: -14px;
      margin-left:9.5%;
    
  }

  .circle2 {
      background-color:#fff;
      border:1px solid #000000;    
      height:20px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:20px;
      margin-top:-20px;
      margin-left:21%;
  }
  .circles3 {
      background-color:#fff;
      border:1px solid #000000;    
      height:20px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:20px;
      margin-top:-20px;
      margin-left:32%;
  }
  .circle4 {
      background-color:#fff;
      border:1px solid #000000;    
      height:20px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:20px;
      margin-top:-20px;
      margin-left:43%;
  }


  .one{
      margin-left:8.5%;
      margin-top:-1px;
      color:#0cad0c;
     }
     .two{
      margin-left:19.5%;
      margin-top:-22px;
      color:#3f88f7;
     }
     .three{
      margin-left:29.5%;
      margin-top:-20px;
     }
     .complete{
      margin-left:41%;
      margin-top:-20px;
     }

</style>
<div class="authentication-wrapper authentication-1 px-4">
	<div class="authentication-inner py-5">

		<!-- [ Logo ] Start -->
		<div class="d-flex justify-content-left align-items-left">
			<div class="ui-w-150">
				<div class="w-100 position-relative">
					<h2 class="float-left">
						Create Item Details
					</h2>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<br>
   <span class="text-center">
    <div class="vl"></div>
    <div class="v2"></div>
    <div class="v3"></div>
    <div class="v4"></div>
    <div class="v5"></div>
  </span>
  <div class="circle"><i class="fa fa-check" style="font-size:11px;color:#fff;  margin-left:3px;"></i></div>
  <div class="circle2"></div>
  <div class="circles3"></div>
  <div class="circle4"></div>
  <span>
    <div class="one">Initiate</div>
    <div class="two">Add Bags</div>
    <div class="three">Add Products</div>
    <div class="complete">Assign Auditor</div>
    </span>
    
  </br>
		<!-- [ Logo ] End -->

		<!-- [ Form ] Start -->
		<form class="my-2" method="post" enctype="multipart/form-data"  name="item_form" id="item_form" >
			{% csrf_token %}
      <div class="form-row" id="row">
				<div class="form-group col-md-6">
					<label class="form-label">Bag Id</label>
					<input type="text" class="form-control" name="bagid" id="bagid">
					<div class="clearfix"></div>
				</div>
				<div class="form-group col-md-6">
					<label class="form-label">Bag Barcode</label>
					<input type="text" class="form-control" name="bagbarcode">
					<div class="clearfix"></div>
				</div>
			</div>
      <div class="form-row">
				<div class="form-group col-md-6">
					<label class="form-label">Bag Weight</label>
					<input type="text" class="form-control" name="bagweight" id="row">
					<div class="clearfix"></div>
				</div>
				<div class="form-group col-md-6">
					<label class="form-label">Bag Unit Count</label>
					<input type="text" class="form-control" name="bagunitcount">
					<div class="clearfix"></div>
				</div>
			</div> 
      
    </form>
        <button class="btn btn-primary" style="font-size:5px" onclick="m()"><i style="font-size:12px" class="fa">&#xf067;</i></button>
   <div class="form-row float-right mt-4 ">
      <button type="submit" class="btn btn-primary btn-block "  id="submit" formmethod="POST" form="item_form">Next</button>
    </div>  
  </div>
</div>

 <script>
   var countre=1;
  function m(){
    countre+=1
   
    html=' <div class="form-row" id="row'+countre+'">\
      <div class="form-group col-md-6">\
        <label class="form-label">Bag Id</label>\
        <input type="text" class="form-control" name="bagid[]" id="bagid'+countre+'">\
        <div class="clearfix"></div>\
      </div>\
      <div class="form-group col-md-6">\
        <label class="form-label">Bag Barcode</label>\
        <input type="text" class="form-control" name="bagbarcode'+countre+'">\
        <div class="clearfix"></div>\
      </div>\
    </div>\
    <div class="form-row" id="row'+countre+'">\
      <div class="form-group col-md-6">\
        <label class="form-label">Bag Weight</label>\
        <input type="text" class="form-control" name="bagweight'+countre+'">\
        <div class="clearfix"></div>\
      </div>\
      <div class="form-group col-md-6">\
        <label class="form-label">Bag Unit Count</label>\
        <input type="text" class="form-control" name="bagunitcount'+countre+'">\
        <div class="clearfix"></div>\
      </div>\
    </div>\ '
     var form=document.getElementById('item_form');
     form.innerHTML+=html
  }
  </script> 
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $("#submit").click(function(){
        $.ajax({
        url:"createitemdetails",
        method:"POST",
        data:$('#item_form').serialize(),
        
        success:function(data){
         // alert(data);
         console.log(data);
          $('#item_form')[0].reset();
        }

        });
      });
    });
    
  </script>

 



  {% endblock body %}