{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<style>
  .vl {
      border: 3px solid #6f9ee5;
      width: 10%;
      margin-bottom:3px;
    }
    .v2 {
      border: 3px solid #6f9ee5;
      width: 10%;
      margin-left:11%;
      margin-top:-9px;
    }
    .v3 {
      border: 3px solid #6f9ee5;
      width: 10%;
     margin-left:22%;
     margin-top:-6px;
     
    }
    .v4 {
      border: 3px solid #bec5d1;
      width: 10%;
     margin-left:33%;
     margin-top:-6px;
     
    }
    .v5 {
      border: 3px solid #bec5d1;
      width: 10%;
     margin-left:44%;
     margin-top:-6px;
     
    }
    .circle {
      background-color:#0cad0c;
      border:1px solid green;    
      height:20px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:20px;
      margin-top: -14px;
      margin-left:9.5%;
    
  }

  .circle2 {
      background-color:#0cad0c;
      border:1px solid green;    
      height:20px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:20px;
      margin-top:-20px;
      margin-left:21%;
  }
  .circles3 {
      background-color:#0cad0c;
      border:1px solid green;    
      height:20px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:20px;
      margin-top:-20px;
      margin-left:32%;
  }
  .circle4 {
      background-color:#fff;
      border:1px solid #000000;    
      height:20px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:20px;
      margin-top:-20px;
      margin-left:43%;
  }


  .one{
      margin-left:8.5%;
      margin-top:-1px;
      color:#0cad0c;
     }
     .two{
      margin-left:19.5%;
      margin-top:-22px;
      color:#0cad0c;
     }
     .three{
      margin-left:29.5%;
      margin-top:-20px;
      color:#0cad0c;
     }
     .complete{
      margin-left:41%;
      margin-top:-20px;
      color:#3f88f7;
     }

</style>
<div class="authentication-wrapper authentication-1 px-4">
 <div class="authentication-inner py-5">
   <!-- [ Logo ] Start -->
  <div class="d-flex justify-content-left align-items-left">
  <div class="ui-w-150">
  <div class="w-100 position-relative">
   <h2 class="float-left">Select-Auditor,Transpoter and Processor</h2>
   <div class="clearfix"></div>
  </div>
  </div>
   </div>
   <br>
   <span class="text-center">
    <div class="vl"></div>
    <div class="v2"></div>
    <div class="v3"></div>
    <div class="v4"></div>
    <div class="v5"></div>
  </span>
  <div class="circle"><i class="fa fa-check" style="font-size:11px;color:#fff;  margin-left:3px;"></i></div>
  <div class="circle2"><i class="fa fa-check" style="font-size:11px;color:#fff;  margin-left:3px;"></i></div>
  <div class="circles3"><i class="fa fa-check" style="font-size:11px;color:#fff;  margin-left:3px;"></i></div>
  <div class="circle4"></div>
  <span>
    <div class="one">Initiate</div>
    <div class="two">Add Bags</div>
    <div class="three">Add Products</div>
    <div class="complete">Assign Auditor</div>
    </span>
    
  </br>
  
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" name='' >
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Entity<sup>*</sup></label>
                      <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="entity" id="entity_id">
                        <option selected disabled>Please Select Entity</option>
                           {% for i in entitylist %}
                        <option value='{{i.node.id}}'>{{i.node.name}}</option>
                          {% endfor %} 
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                  <label class="form-label">Auditor User<sup>*</sup></label>
                  <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="auditoruser" id="auditoruserid">
                    <option selected disabled>Please Select Auditor User</option>
                      {% comment %} {% for i in transactioin %}
                    <option value='{{i.node.id}}'>{{i.node.id}}</option>
                      {% endfor %} {% endcomment %}
                </select>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="form-label">Logistic Entity<sup>*</sup></label>
                  <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="logisticentity" id="logisticentityid">
                    <option selected disabled>Please Select Logistic Entity</option>
                      {% for i in transactioin %}
                    <option value='{{i.node.id}}'>{{i.node.id}}</option>
                      {% endfor %}
                </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                  <label class="form-label">Processing Unit<sup>*</sup></label>
                  <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="processingUnit">
                    <option selected disabled>Please Select Processing Unit</option>
                      {% for i in entitylist2 %}
                    <option value='{{i.node.id}}'>{{i.node.name}}</option>
                      {% endfor %}
                </select>
                    <div class="clearfix"></div>
                </div>
            </div>
           
           
            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
            </div>
        </form>
    </div>
</div>


<!-- ======= entity to Auditor User ======= --> 
<script>
  function entitytoauditoruser(){
      const entity = document.querySelector("#entity_id");
      const auditoruser = document.querySelector("#auditoruserid");
      entity.addEventListener("click", (e) => {
          auditoruser.innerHTML = ``
          const searchValue = e.target.value;
          console.log(searchValue);
          if (searchValue.trim().length > 0 && searchValue !== "Please Select Entity") {
              fetch("{% url 'entitytoauditoruser' %}", {
                  body: JSON.stringify({ search: searchValue }),
                  method: "POST",
              }).then((res) => res.json())
                  .then((data) => {
                      console.log("data", data);
                      if (data.length === 0) {
                          distriDDL.innerHTML =
                              `<option>No Parent</option>`
                      }
                      else {
                          data.forEach((item) => {
                                  var e = document.getElementById("entity_id");
                                  var strUser = e.value;
                          if (searchValue ===strUser){
            
                              auditoruser.innerHTML += `
                                      <option value="${item.node.id}">${item.node.auditorUser.username}</option>
                                      `;
                          }
                          })
                      }
                  })
  }
  })
      }
  
    entitytoauditoruser();
  </script>
<!-- ====== End Entity to Auditor User ======== -->

<!-- ======= entity to Logistic Entity ======= --> 
<script>
  function entitytologisticEntity(){
      const entity = document.querySelector("#entity_id");
      const logisticentity = document.querySelector("#logisticentityid");
      entity.addEventListener("click", (e) => {
        logisticentity.innerHTML = ``
          const searchValue = e.target.value;
          console.log(searchValue);
          if (searchValue.trim().length > 0 && searchValue !== "Please Select Entity") {
              fetch("{% url 'entitytologisticentity' %}", {
                  body: JSON.stringify({ search: searchValue }),
                  method: "POST",
              }).then((res) => res.json())
                  .then((data) => {
                      console.log("data", data);
                      if (data.length === 0) {
                          distriDDL.innerHTML =
                              `<option>No Parent</option>`
                      }
                      else {
                          data.forEach((item) => {
                                  var e = document.getElementById("entity_id");
                                  var strUser = e.value;
                          if (searchValue ===strUser){
            
                            logisticentity.innerHTML += `
                                      <option value="${item.node.id}">${item.node.transporter.name}</option>
                                      `;
                          }
                          })
                      }
                  })
  }
  })
      }
  
    entitytologisticEntity();
  </script>
<!-- ====== End Entity to Logistic Entity ======== -->

{% endblock body %}