{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body%}

<div class="container-fluid my-2">
    <div class="form-row my-2 float-left ml-1">
        <h2>Manage Transaction Product</h2>
    </div>
    <div class="form-row  float-right">
          <a href="{% url 'create_transaction_products'%}">
                <button type="button" class="btn btn-primary btn-block mt-2">Create Transaction Product</button>
            </a>
        </div>
    <div class="form-row  float-right mr-3 ">
          <a href="{% url 'transaction_products' %}">
                <button type="button" class="btn btn-primary btn-block mt-2" >Export</button>
            </a>
        </div>
    <div class="form-row  float-right  mr-3">
         
                <button type="button" class="btn btn-primary btn-block mt-2">Upload</button>
           
        </div>

    <br/>
    <br/>
    <br/>
    <br>
    <!--     my-2 float-right mr-1-->
     <div class="container-fluid">
        
       <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-5">
            <input type="text" class="form-control mt-2" placeholder="{% ifnotequal request.session.transactionproductsSearch None %}{{request.session.transactionproductsSearch}}{% else %}{% trans "Click to Search.... " %}{% endifnotequal %}" id="search"  name="transactionproducts" />
        </div>

        <div class="form-group col-md-1">
            <button type="submit" class="btn btn-primary btn-block mt-2" name="Search" value="Search" >Search</button>
        </div>
        <div class="form-group col-md-2 offset-3" >
            <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="transactionproductsSize" onchange="this.form.submit()" id="transactionsSize" style="width:80px!important;" >
            <option selected disabled>{% ifnotequal request.session.transactionproductsSize None %}{{request.session.transactionproductsSize}}{% else %}{% trans "Page Size" %}{% endifnotequal %}</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            </select>
        </div>
        <div class="form-group col-md-1">
            <button type="submit" class="btn btn-primary btn-block " name="Clear" value="Clear" >Clear</button>
        </div>
    </div>
             </form>
        

    </div>
  <div class ="table-list" style="overflow-x:auto;">
  <table class ="table table-striped table-hover" id="list">
      <thead class="thead-dark">

      <tr>
      <form method="POST" >
       {% csrf_token %}
        
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">transaction<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">product<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">bag number<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value=""> pickup units<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">pickup weight<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">	audited units<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">audited weight<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">logistic units<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">logistic weight<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">received units<i class="fa fa-fw fa-sort"></i></button></th>                         
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">received_weight<i class="fa fa-fw fa-sort"></i></button></th>
      
     
      {% comment %} <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">Id<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">Industry<i class="fa fa-fw fa-sort"></i></button></th> {% endcomment %}
      </form>
      <th><button class="btn btn-link" style="color:#FFFFFF;">Action</button></th>

    </tr>
      </thead>
        <tbody>

            {% for transaction in transaction_products %}
            <tr>
            
                <th scope="row">{{ transaction.node.transaction }}</th>
                 <th scope="row">{{ transaction.node.product }}</th>
                <th scope="row">{{ transaction.node.bagNumber }}</th>
                <th scope="row">{{ transaction.node.pickupUnits }}</th>
                <th scope="row">{{ transaction.node.pickupWeight }}</th>

                <th scope="row">{{ transaction.node.auditedUnits }}</th>
                <th scope="row">{{ transaction.node.auditedWeight }}</th>

                <th scope="row">{{ transaction.node.logisticUnits }}</th>
                <th scope="row">{{ transaction.node.logisticWeight }}</th>
                <th scope="row">{{ transaction.node.receivedUnits }}</th>
                <th scope="row">{{ transaction.node.receivedWeight }}</th>
                
                 

               
                <td><a href="{% url 'update_transaction_products' transaction.node.id %}"><i class="feather icon-edit"></i></a>
                <a href="#"><i class="lnr lnr-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
  </table>
    </div>
</div>
<!--start Pagination-->
<span class='text-center'>
    {% if max_page > 0 %}
    <form method="POST">
      {% csrf_token %}
      <span> 
      <button type="submit" name="First" value="First" class="btn btn-primary">First</button>
      {% ifnotequal request.session.transactionproductsCurrentPage 1 %}
      <button type="submit" name="Previous" value="Previous" class="btn btn-primary">Previous</button>
      {% endifnotequal %}
      page <b>{{request.session.transactionproductsCurrentPage}}</b> of <b> {{max_page}}</b>
      {% ifnotequal max_page  request.session.transactionproductsCurrentPage %}
      <button type="submit" name="Next" value="Next" class="btn btn-primary">Next</button>
      {% endifnotequal %}
      <button type="submit" name="Last" value="Last" class="btn btn-primary">Last</button>
    </span>
    </form>
    {%else%}
    <span class="text-center"><h5 style="margin-top:22px!important;">{% trans "No Results Found" %}</h5><span>
    {% endif%}
  </span> 
  <!--end  Pagination-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var optionValues =[];
$('#masterIndustrySize option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
</script>
{% endblock body %}

