{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body%}

<div class="container-fluid my-2">
    <div class="form-row my-2 float-left ml-1">
        <h2>Manage Transaction Bags</h2>
    </div>
    <div class="form-row  float-right">
          <a href="{% url 'create_transaction_bags'%}">
                <button type="button" class="btn btn-primary btn-block mt-2">Create  Transaction Bags</button>
            </a>
        </div>
    <div class="form-row  float-right mr-3 ">
          <a href="{% url 'transaction_bags' %}">
                <button type="button" class="btn btn-primary btn-block mt-2" >Export</button>
            </a>
        </div>
    <div class="form-row  float-right  mr-3">
         
                <button type="button" class="btn btn-primary btn-block mt-2">Upload</button>
           
        </div>

    <br/>
    <br/>
    <br/>
    <br>
    <!--     my-2 float-right mr-1-->
     <div class="container-fluid">
        
       <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-5">
            <input type="text" class="form-control mt-2" placeholder="{% ifnotequal request.session.transactionbagsSearch None %}{{request.session.transactionbagsSearch}}{% else %}{% trans "Click to Search.... " %}{% endifnotequal %}" id="search"  name="transactionbags" />
        </div>

        <div class="form-group col-md-1">
            <button type="submit" class="btn btn-primary btn-block mt-2" name="Search" value="Search" >Search</button>
        </div>
        <div class="form-group col-md-2 mt-2 ">
            <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name='filterisaudited' onchange="this.form.submit();" id="ms">
             <option selected disabled>{% ifnotequal request.session.transactionbagsisAudited None %}{{request.session.transactionbagsisAudited}}{% else %}{% trans "Is Audited" %}{% endifnotequal %}</option>
             <option value="True">True</option>
             <option value="False">False</option>
             
            </select>
        </div>
        <div class="form-group col-md-2 offset-1 mt-2" >
            <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="transactionbagsSize" onchange="this.form.submit()" id="transactionsbagssize" style="width:80px!important;" >
            <option selected disabled>{% ifnotequal request.session.transactionbagsSize None %}{{request.session.transactionbagsSize}}{% else %}{% trans "Page Size" %}{% endifnotequal %}</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            </select>
        </div>
        <div class="form-group col-md-1 mt-2">
            <button type="submit" class="btn btn-primary btn-block " name="Clear" value="Clear" >Clear</button>
        </div>
    </div>
             </form>
        

    </div>
  <div class ="table-list" style="overflow-x:auto;">
  <table class ="table table-striped table-hover" id="list">
      <thead class="thead-dark">

      <tr>
      <form method="POST" >
       {% csrf_token %}
        
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="transaction" value="Transaction">transaction<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="bagnumber" value="Bag Number">bag number<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="bagweight" value="Bag Weight">bag weight<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">unit count<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">is audited<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">audited bag weight<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">audited unit count<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">logistic bag weight<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">logistic unit count<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">received bag weight<i class="fa fa-fw fa-sort"></i></button></th>                         
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">received unit count<i class="fa fa-fw fa-sort"></i></button></th>
      
     
      {% comment %} <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">Id<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">Industry<i class="fa fa-fw fa-sort"></i></button></th> {% endcomment %}
      </form>
      <th><button class="btn btn-link" style="color:#FFFFFF;">Action</button></th>

    </tr>
      </thead>
        <tbody>

            {% for transaction in transaction_bags %}
            <tr>
                <th scope="row"><a href="{% url 'bags' transaction.node.id %}" style="color:#000000">{{ transaction.node.transaction.id }}</a></th>
                 <th scope="row"><a href="{% url 'bags' transaction.node.id%}" style="color:#000000">{{ transaction.node.bagNumber }}</a></th>
                <th scope="row">{{ transaction.node.bagWeight }}</th>
                <th scope="row">{{ transaction.node.unitCount }}</th>
                <th scope="row">{{ transaction.node.isAudited }}</th>
                <th scope="row">{{ transaction.node.auditedBagWeight }}</th>
                <th scope="row">{{ transaction.node.auditedUnitCount }}</th>
                <th scope="row">{{ transaction.node.logisticBagWeight }}</th>
                <th scope="row">{{ transaction.node.logisticUnitCount }}</th>
                <th scope="row">{{ transaction.node.receivedBagWeight }}</th>
                <th scope="row">{{ transaction.node.receivedUnitCount }}</th>
                

                {% comment %} <th scope="row">{{ transaction.node.billingEntity.name}}</th> {% endcomment %}

                {% comment %} <td><a href="{% url 'view_industry' transaction.node.id%}" style="color:#000000" target="_blank">{{ entity.node.transaction }}</a></td> {% endcomment %}

                <td><a href="{% url 'update_transaction_bags' transaction.node.id %}"><i class="feather icon-edit"></i></a>
                <a href="{% url 'delete_transaction_bags' transaction.node.id %}"><i class="lnr lnr-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
  </table>
    </div>

<!--start Pagination-->
<span class='text-center'>
    {% if max_page > 0 %}
    <form method="POST">
      {% csrf_token %}
      <span> 
      <button type="submit" name="First" value="First" class="btn btn-primary">First</button>
      {% ifnotequal request.session.transactionbagsCurrentPage 1 %}
      <button type="submit" name="Previous" value="Previous" class="btn btn-primary">Previous</button>
      {% endifnotequal %}
      page <b>{{request.session.transactionbagsCurrentPage}}</b> of <b> {{max_page}}</b>
      {% ifnotequal max_page  request.session.transactionbagsCurrentPage %}
      <button type="submit" name="Next" value="Next" class="btn btn-primary">Next</button>
      {% endifnotequal %}
      <button type="submit" name="Last" value="Last" class="btn btn-primary">Last</button>
    </span>
    </form>
    {%else%}
    <br><br>
    <span class="text-center"><h5 >{% trans "No Results Found" %}</h5><span>
    {% endif%}
  </span> 
  <!--end  Pagination-->

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var optionValues =[];
$('#transactionsbagssize option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
</script>
<script>
    var optionValues =[];
$('#ms option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
</script>
{% endblock body %}

