{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body%}

<div class="container-fluid my-2">
    <div class="form-row my-2 float-left ml-1">
        <h2>Manage Transaction</h2>
    </div>
    <div class="form-row  float-right">
          <a href="{% url 'create_transaction'%}">
                <button type="button" class="btn btn-primary btn-block mt-2">Create Transaction</button>
            </a>
        </div>
    <div class="form-row  float-right mr-3 ">
          <a href="{% url 'transaction' %}">
                <button type="button" class="btn btn-primary btn-block mt-2" >Export</button>
            </a>
        </div>
    <div class="form-row  float-right  mr-3"> 
    <button type="button" class="btn btn-primary btn-block mt-2">Upload</button> 
    </div>

    <br/>
    <br/>
    <br/>
    <br>
    <!--     my-2 float-right mr-1-->
     <div class="container-fluid">
        
       <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-5">
            <input type="text" class="form-control mt-2" placeholder="{% ifnotequal request.session.transactionsSearch None %}{{request.session.transactionsSearch}}{% else %}{% trans "Click to Search.... " %}{% endifnotequal %}" id="search"  name="transactions" />
        </div>

        <div class="form-group col-md-1">
            <button type="submit" class="btn btn-primary btn-block mt-2" name="Search" value="Search" >Search</button>
        </div>
        <div class="form-group col-md-2 offset-3" >
            <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="transactionsSize" onchange="this.form.submit()" id="transactionsSize" style="width:80px!important;" >
            <option selected disabled>{% ifnotequal request.session.transactionsSize None %}{{request.session.transactionsSize}}{% else %}{% trans "Page Size" %}{% endifnotequal %}</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            </select>
        </div>
        <div class="form-group col-md-1">
            <button type="submit" class="btn btn-primary btn-block " name="Clear" value="Clear" >Clear</button>
        </div>
    </div>
             </form>
        

    </div>
  <div class ="table-list" style="overflow-x:auto;">
  <table class ="table table-striped table-hover" id="list">
      <thead class="thead-dark">

      <tr>
      <form method="POST" >
       {% csrf_token %}
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-13px;" name="" value="">Type<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-13px;" name="" value="">Status<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-13px;" name="" value="">Billing Entity<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-23px;" name="" value="">Ticket Serial<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-13px;" name="" value="">PickUp Entity<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-20px;" name="" value="">PickUp Address<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-13px;" name="" value="">PickUp Schedule Date<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-20px;" name="" value="">PickUp Unit Count<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-20px;" name="" value="">PickUp Weight<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-20px;" name="" value="">PickUp Bag Count<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-20px;" name="" value="">PickUp Audit<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-13px;" name="" value="">Receive Audit<i class="fa fa-fw fa-sort"></i></button></th>                         
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-13px;" name="" value="">Pickup Audit Entity<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-13px;" name="" value="">Pickup Audit User <i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-13px;" name="" value="">Transport Entity<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-13px;" name="" value="">Receive Entity<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-13px;" name="" value="">Receive Address<i class="fa fa-fw fa-sort"></i></button></th>
    
      {% comment %} <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">Id<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;" name="" value="">Industry<i class="fa fa-fw fa-sort"></i></button></th> {% endcomment %}
      </form>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-26px;">Action</button></th>

    </tr>
      </thead>
        <tbody>
            {% for transaction in transaction %}
            <tr>
               
                <th scope="row">{{ transaction.node.type.transactionType}}</th>
                <th scope="row">{{ transaction.node.status.transactionStatus }}</th>
                <th scope="row">{{ transaction.node.billingEntity.name }}</th>
                <th scope="row">{{ transaction.node.ticketSerial}}</th>
                <th scope="row">{{ transaction.node.pickupEntity.name }}</th>
                <th scope="row">{{ transaction.node.pickupAddress.addressLabel}}</th>
                <th scope="row">{{ transaction.node.pickupScheduleDate}}</th>
                <th scope="row">{{ transaction.node.pickupUnitCount}}</th>
                <th scope="row">{{ transaction.node.pickupWeight}}</th>
                <th scope="row">{{ transaction.node.pickupBagCount}}</th>
                <th scope="row">{{ transaction.node.pickupAudit }}</th>
                <th scope="row">{{ transaction.node.receiveAudit}}</th>
                <th scope="row">{{ transaction.node.pickupAuditEntity.name}}</th>
                <th scope="row">{{ transaction.node.pickupAuditUser.addressLabel }}</th>
                <th scope="row">{{ transaction.node.transportEntity.name }}</th>
                <th scope="row">{{ transaction.node.receiveEntity.name }}</th>
                <th scope="row">{{ transaction.node.receiveAddress.addressLabel }}</th>
                
                             
                <td><a href="#"><i class="feather icon-edit"></i></a>
                <a href="#"><i class="lnr lnr-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
  </table>
    </div>
</div>
<!--start Pagination-->
<span class='text-center'>
    {% if max_page > 0 %}
    <form method="POST">
      {% csrf_token %}
      <span> 
      <button type="submit" name="First" value="First" class="btn btn-primary">First</button>
      {% ifnotequal request.session.transactionsCurrentPage 1 %}
      <button type="submit" name="Previous" value="Previous" class="btn btn-primary">Previous</button>
      {% endifnotequal %}
      page <b>{{request.session.transactionsCurrentPage}}</b> of <b> {{max_page}}</b>
      {% ifnotequal max_page  request.session.transactionsCurrentPage %}
      <button type="submit" name="Next" value="Next" class="btn btn-primary">Next</button>
      {% endifnotequal %}
      <button type="submit" name="Last" value="Last" class="btn btn-primary">Last</button>
    </span>
    </form>
    {%else%}
    <span class="text-center"><h5 style="margin-top:22px!important;">{% trans "No Results Found" %}</h5><span>
    {% endif%}
  </span> 
  <!--end  Pagination-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var optionValues =[];
$('#masterIndustrySize option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
</script>
{% endblock body %}