{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
 <div class="authentication-inner py-5">
   <!-- [ Logo ] Start -->
  <div class="d-flex justify-content-left align-items-left">
  <div class="ui-w-150">
  <div class="w-100 position-relative">
   <h2 class="float-left">Modify Transaction Bag Number - {{data.bagNumber}}</h2>
   <div class="clearfix"></div>
  </div>
  </div>
   </div>
  <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" name='' >
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Transaction<sup>*</sup></label>
                      <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="transaction">
                        <option selected >{{data.transaction.id}}</option>
                          {% for i in transactionss %}
                          <option value="{{i.node.id}}">{{i.node.id}}</option>
                          {% endfor %}
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Bag Number</label>
                    <input type="text" class="form-control" name="bagnumber" maxlength="10" value="{{data.bagNumber}}">
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Bag Weight</label>
                    <input type="text" class="form-control" name="bagweight" maxlength="10" value="{{data.bagWeight}}">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Unit Count</label>
                    <input type="text" class="form-control" name="unitcount" maxlength="10" value={{data.unitCount}}>
                    <div class="clearfix"></div>
                </div>
            </div>
           
            <div class="form-row">
              {% if  data.isAudited %}
                <div class="form-group col-md-6">
                    <label class="form-label">Is Audited</label>
                    <div class="form-check form-check-inline ml-4">
                      <input class="form-check-input" type="radio" name="isaudited" id="" value="True" checked>
                      <label class="form-check-label" for="">
                        Yes
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="isaudited" value="False" >
                      <label class="form-check-label" for="">
                        No
                      </label>
                    </div>
                    <div class="clearfix"></div> 
                    <hr style="margin-top:33px;">
                    {% else %}
                    <div class="form-group col-md-6">
                      <label class="form-label">Is Audited</label>
                      <div class="form-check form-check-inline ml-4">
                        <input class="form-check-input" type="radio" name="isaudited" id="" value="true">
                        <label class="form-check-label" for="">
                          Yes
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="isaudited" value="false" checked>
                        <label class="form-check-label" for="">
                          No
                        </label>
                      </div>
                     
                      <div class="clearfix"></div>
                      <hr style="margin-top:33px;">
                      {% endif %}
                </div>
                
                <div class="form-group col-md-6">
                    <label class="form-label">Audited Bag Weight</label>
                    <input type="text" class="form-control" name="auditedbagweight" value="{{data.auditedBagWeight}}" maxlength="10">
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Audited Unit Count</label>
                    <input type="text" class="form-control" name="auditedunitcount" value="{{data.auditedUnitCount}}" maxlength="10">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Logistic Bag Weight</label>
                    <input type="text" class="form-control" name="logisticbagweight" value="{{data.logisticBagWeight}}" maxlength="10">
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Logistic Unit Count</label>
                    <input type="text" class="form-control" name="logisticunitcount" value="{{data.logisticUnitCount}}" maxlength="10">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Received Bag Weight</label>
                    <input type="text" class="form-control" name="receivedbagweight" value="{{data.receivedBagWeight}}" maxlength="10">
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label"> Received Unit Count</label>
                    <input type="text" class="form-control" value="{{data.receivedUnitCount}}" name="receivedunitcount" maxlength="10">
                    <div class="clearfix"></div>
                </div>
               
            </div>
            </div>
            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block mt-4">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock body %}