{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
 <div class="authentication-inner py-5">
   <!-- [ Logo ] Start -->
  <div class="d-flex justify-content-left align-items-left">
  <div class="ui-w-150">
  <div class="w-100 position-relative">
    <h2 class="float-left">Modify {{data.product.name}} unit</h2>
   <div class="clearfix"></div>
  </div>
  </div>
   </div>
  <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" name='' >
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Transaction<sup>*</sup></label>
                      {% comment %} <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="product">
                        <option selected disabled>Please Select Transaction</option>
                          {% for i in products %}
                        <option value='{{i.id}}'>{{i.name}}</option>
                          {% endfor %}
                    </select> {% endcomment %}
                    <input type="text" class="form-control" name="transaction" maxlength="10">
                    <div class="clearfix"></div>
                </div>
                
                <div class="form-group col-md-6">
                    <label class="form-label">Product<sup>*</sup></label>
                    <input type="text" class="form-control" name="product" maxlength="10">
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Bag Number</label>
                    <input type="text" class="form-control" name="bagnumber" maxlength="10">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Pickup Units</label>
                    <input type="text" class="form-control" name="pickupunits" maxlength="10">
                    <div class="clearfix"></div>
                </div>
            </div>
           
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Pickup Weight</label>
                    <input type="text" class="form-control" name="pickupweight" maxlength="10">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Audited Unit</label>
                    <input type="text" class="form-control" name="auditedunit" maxlength="10">
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Audited Weight</label>
                    <input type="text" class="form-control" name="auditedweight" maxlength="10">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Logistic Units </label>
                    <input type="text" class="form-control" name="logisticunits" maxlength="10">
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Logistic Weight</label>
                    <input type="text" class="form-control" name="logisticweight" maxlength="10">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Received Units</label>
                    <input type="text" class="form-control" name="receivedunits" maxlength="10">
                    <div class="clearfix"></div>
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label"> Received Weight</label>
                    <input type="text" class="form-control" name="receivedweight" maxlength="10">
                    <div class="clearfix"></div>
                </div>
               
            </div>
            </div>
            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock body %}