{% extends 'core/base.html' %}
{% load static %}
{% block body%}
{% load i18n %}

<div class="container-fluid my-2">
    <div class="form-row my-2 float-left ml-1">
        <h2>Manage Entity Brand</h2>
    </div>
    <div class="form-row  float-right">
            <a href="{% url 'create_brand1' %}">
                <button type="button" class="btn btn-primary btn-block mt-2">Create Entity Brand</button>
            </a>
        </div>

        <div class="form-row  float-right mr-3 ">  
            <a href="{% url 'export_data_brand' %}"> 
                <button type="button" class="btn btn-primary btn-block mt-2 " >{% trans "Export" %}</button>
            </a>
               </div>
       <div class="form-row  float-right mr-3 ">   
                <button type="button" class="btn btn-primary btn-block mt-2 " data-toggle="modal" data-target="#myModals">{% trans "Upload" %}</button>
           </div>
    <br/>
    <br/>
    <br/>
    <br>
    <!--warning Message -->
    {% if messages %}
    {% for message in messages %}
    <span style="text-align:center!important; margin-left:294px; color:#ff0000;" >{{message}}</span><br/>
    {% endfor %}
    <br/>
    {% endif %}
    <!-- Warning Message-->

    <div class="container-fluid">
        
        <form method="POST" action="" enctype="multipart/form-data">
         {% csrf_token %}
     <div class="form-row">
         <div class="form-group col-md-5">
             <input type="text" class="form-control mt-2" placeholder="{% ifnotequal request.session.entityBrandSearch None %}{{request.session.entityBrandSearch}}{% else %}{% trans "Click to Search.... " %}{% endifnotequal %}" id="search"  name="searchBrand" />
         </div>
 
         <div class="form-group col-md-1">
             <button type="submit" class="btn btn-primary btn-block mt-2" name="Search" value="Search" >Search</button>
         </div>
         <div class="form-group col-md-2 offset-3" >
             <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="entityBrandSize" onchange="this.form.submit()" id="entitybrandpagesize" style="width:80px!important;" >
             <option selected disabled>{% ifnotequal request.session.entitySize None %}{{request.session.entitySize}}{% else %}{% trans "Page Size" %}{% endifnotequal %}</option>
             <option value="20">20</option>
             <option value="30">30</option>
             <option value="40">40</option>
             </select>
         </div>
         <div class="form-group col-md-1">
             <button type="submit" class="btn btn-primary btn-block " name="Clear" value="Clear" >Clear</button>
         </div>
 
         
         
 
     </div>
              </form>
         
 
     </div>
    <!-- Create a Filter  Block-->
    
    <!-- End a Filter  Block-->
  <div class ="table-list" style="overflow-x:auto;">
  <table class ="table table-striped table-hover" id="list">
      <thead class="thead-dark">

      <tr>
      <form  method="POST"  >
        {% csrf_token %}
      <th><button class="btn btn-link" style="color:#ffffff;" name="entity_sorting" value="Entity Name">Entity Name<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;" name="brand_sorting"value="Brand" >Brand<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;cursor:auto;">Action</button></th>
      </form>
    </tr>
      </thead>
        <tbody>

            {% for entity in entity_list %}
            <tr>
                <th scope="row"><a href="{% url 'view_brand' entity.node.id %}" target="_blank" style="color:#000000;">{{ entity.node.entity.name }}</a></th>
                <td>{{ entity.node.brand }}</td>
                <td><a href="{%url 'update_brand' entity.node.id%}"><i class="feather icon-edit"></i></a>
                <a href="{%url 'delete_brand' entity.node.id%}"><i class="lnr lnr-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
  </table>
    </div>
</div>
<!--start Pagination-->
<span class='text-center'>
    {% if  max_page > 0  %}
  
    <form method="POST">
      {% csrf_token %}
      <span>
      <button type="submit" name="First" value="First" class="btn btn-primary">First</button>
      {% ifnotequal request.session.entityBrandCurrentPage  1 %}
      <button type="submit" name="Previous" value="Previous" class="btn btn-primary">Previous</button>
      {% endifnotequal %}
      page <b>{{request.session.entityBrandCurrentPage}}</b> of <b> {{max_page}}</b>
      {% ifnotequal max_page  request.session.entityBrandCurrentPage %}
      <button type="submit" name="Next" value="Next" class="btn btn-primary">Next</button>
      {% endifnotequal %}
      <button type="submit" name="Last" value="Last" class="btn btn-primary">Last</button>
    </span>
    </form>
   
    {% else %}
    <h5>No Results Found</h5>
    {% endif %}
  </span> 
  <!--end  Pagination-->

<!--Upload Model-->
<div class="container">
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="myModals" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{% trans "Upload File" %}</h4>
          </div>
          <div class="modal-body">
            <form method="POST" enctype="multipart/form-data" action="{% url 'upload_file_brand' %}">
            {%csrf_token %}
             <div class="form-row">
             <div class="form-group col-md-12">
                      <input type="file" class="form-control" name="excel_files">
                      <div class="clearfix"></div>
                  </div>
             </div> 
                  <br>
              <div class='row '>
              <div class='col-md-6 mt-4'>
              <button type="submit" class="btn btn-primary btn-block" value='Upload' name="uploadexcel" >{% trans "Submit" %}</button>
              </div>
             <div class='col-md-6 mt-4'>
             <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
             </div>
             </div>
            </form>
          </div>
        </div>
      </div>
    </div>
<!-- End Upload Model-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var optionValues =[];
$('#entitybrandpagesize option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
</script

{% endblock body %}