{% extends 'core/base.html' %}
{% load static %}
{% block body%}
{% load i18n %}

<div class="container-fluid my-2">
    <div class="form-row my-2 float-left ml-1">
        <h2>Manage Entity Contact</h2>
    </div>
    <div class="form-row  float-right ">
          <a href="{% url 'create_contact' %}">
                <button type="button" class="btn btn-primary btn-block mt-2 ">Create Entity Contact</button>
            </a>
        </div>
        <div class="form-row  float-right mr-3 ">  
            <a href="{% url 'export_data_address' %}"> 
                <button type="button" class="btn btn-primary btn-block mt-2 " >{% trans "Export" %}</button>
            </a>
               </div>
       <div class="form-row  float-right mr-3 ">   
                <button type="button" class="btn btn-primary btn-block mt-2 " data-toggle="modal" data-target="#myModals">{% trans "Upload" %}</button>
           </div>

    <br/>
    <br/>
    <br/>
    <br>
    <!--warning Message -->
    {% if messages %}
    {% for message in messages %}
    <span style="text-align:center!important; margin-left:294px; color:#ff0000;" >{{message}}</span><br/>
    {% endfor %}
    <br/>
    {% endif %}
    <!-- Warning Message-->
    <!-- Create a Filter  Block-->
    <div class="container-fluid">
        
        <form method="POST" action="" enctype="multipart/form-data">
         {% csrf_token %}
     <div class="form-row">
         <div class="form-group col-md-5">
             <input type="text" class="form-control mt-2" placeholder="{% ifnotequal request.session.entityContactSearch None %}{{request.session.entityContactSearch}}{% else %}{% trans "Click to Search.... " %}{% endifnotequal %}" id="search"  name="entityContact" />
         </div>
 
         <div class="form-group col-md-1">
             <button type="submit" class="btn btn-primary btn-block mt-2" name="Search" value="Search" >Search</button>
         </div>
         <div class="form-group col-md-2 offset-3" >
             <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="entityContactSize" onchange="this.form.submit()" id="entityAddressSizeid" style="width:80px!important;" >
             <option selected disabled>{% ifnotequal request.session.entityContactSize None %}{{request.session.entityContactSize}}{% else %}{% trans "Page Size" %}{% endifnotequal %}</option>
             <option value="1">1</option>
             <option value="2">2</option>
             <option value="3">3</option>
             </select>
         </div>
         <div class="form-group col-md-1">
             <button type="submit" class="btn btn-primary btn-block " name="Clear" value="Clear" >Clear</button>
         </div>
     </div>
     </form>
     </div>
    <!-- End a Filter  Block-->
  <div class ="table-list" style="overflow-x:auto;">
  <table class ="table table-striped table-hover" id="list">
      <thead class="thead-dark">
      <tr>
       <form method="POST">
           {% csrf_token %}
      <th><button class="btn btn-link" style="color:#ffffff;" name="" value=""> salutation <i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;" name="" value="">first name<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;">middle name<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;">last name <i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;">user <i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;">designation <i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;">entity<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;">address<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;">gender<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;">email<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;">alt email<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;">cc email <i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;">bcc email <i class="fa fa-fw fa-sort"></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;">mobile <i class="fa fa-fw fa-sort"></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;">alt mobile <i class="fa fa-fw fa-sort"></button></th>
      <th><button class="btn btn-link" style="color:#ffffff; cursor:auto;">Action </button></th>
      </form>
    </tr>
      </thead>
        <tbody>

            {% for entity in entity_list %}
            <tr>
                <th scope="row"><a href="#" target="_blank" style='color:#000000'>{{ entity.node.salutation.salutation }}</a></th>
                <td>{{ entity.node.firstName }}</td>
                <td>{{ entity.node.middleName }}</td>
                <td>{{ entity.node.lastName }}</td>
                <td>{{ entity.node.user.username }}</td>
                <td>{{ entity.node.designation.designation }}</td>
                <td>{{ entity.node.entity.name }}</td>
                <td>{{ entity.node.address.addressLabel }}</td>
                <td>{{ entity.node.gender }}</td>
                <td>{{ entity.node.email }}</td>
                <td>{{ entity.node.altEmail }}</td>
                <td>{{ entity.node.ccEmail }}</td>
                <td>{{ entity.node.bccEmail }}</td>
                <td>{{ entity.node.mobile }}</td>
                <td>{{ entity.node.altMobile }}</td>
                <td><a href="{%url 'update_address' entity.node.id%}"><i class="feather icon-edit"></i></a>
                <a href="{%url 'delete_address' entity.node.id%}"><i class="lnr lnr-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
  </table>
    </div>
    
<!--start Pagination-->
<span class='text-center'>
    <form method="POST">
      {% csrf_token %}
      <span>
      <button type="submit" name="First" value="First" class="btn btn-primary">First</button>
      {% ifnotequal request.session.entityContactCurrentPage  1 %}
      <button type="submit" name="Previous" value="Previous" class="btn btn-primary">Previous</button>
      {% endifnotequal %}
      page <b>{{request.session.entityContactCurrentPage}}</b> of <b> {{max_page}}</b>
      {% ifnotequal max_page  request.session.entityContactCurrentPage %}
      <button type="submit" name="Next" value="Next" class="btn btn-primary">Next</button>
      {% endifnotequal %}
      <button type="submit" name="Last" value="Last" class="btn btn-primary">Last</button>
    </span>
    </form>
  </span> 
  <!--end  Pagination-->
  
  
  
  


   
<!--Upload Model-->
<div class="container">
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="myModals" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{% trans "Upload File" %}</h4>
          </div>
          <div class="modal-body">
            <form method="POST" enctype="multipart/form-data" action="{% url 'upload_file_address' %}">
            {%csrf_token %}
             <div class="form-row">
             <div class="form-group col-md-12">
                      <input type="file" class="form-control" name="excel_files">
                      <div class="clearfix"></div>
                  </div>
             </div> 
                  <br>
              <div class='row '>
              <div class='col-md-6 mt-4'>
              <button type="submit" class="btn btn-primary btn-block" value='Upload' name="uploadexcel" >{% trans "Submit" %}</button>
              </div>
             <div class='col-md-6 mt-4'>
             <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
             </div>
             </div>
            </form>
          </div>
        </div>
      </div>
    </div>
<!-- End Upload Model-->
</div>
</div>
{% endblock body %}