{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<style>
    .vl {
        border: 3px solid #6f9ee5;
        width: 10%;
        margin-bottom:3px;
      }
      .v2 {
        border: 3px solid #6f9ee5;
        width: 10%;
        margin-left:11%;
        margin-top:-9px;
      }
      .v3 {
        border: 3px solid #6f9ee5;
        width: 10%;
       margin-left:22%;
       margin-top:-6px;
       
      }
      .v4 {
        border: 3px solid #6f9ee5;
        width: 10%;
       margin-left:33%;
       margin-top:-6px;
       
      }
      .v5 {
        border: 3px solid #6f9ee5;
        width: 10%;
       margin-left:44%;
       margin-top:-6px;
       
      }
      .v6{
        border: 3px solid #bec5d1;
        width: 10%;
        margin-left:55%;
        margin-top:-6px;  
      }
      .v7{
        border: 3px solid #bec5d1;
        width: 10%;
        margin-left:66%;
        margin-top:-6px;  
      }
      
      .circle {
        background-color:#0cad0c; 
        border:1px solid green;  
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top: -14px;
        margin-left:9.5%;
      
    }

    .circle2 {
        background-color:#0cad0c; 
        border:1px solid green;   
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:21%;
    }
    .circles3 {
        background-color:#0cad0c; 
        border:1px solid green;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:32%;
    }
    .circle4 {
        background-color:#0cad0c;
        border:1px solid green;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:43%;
    }
    .circle5 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:54%;
    }
    .circle6 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:68%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:65%;
    }
    


    .one{
        margin-left:8.5%;
        margin-top:-1px;
        color:#0cad0c;
       }
       .two{
        margin-left:19.5%;
        margin-top:-22px;
        color:#0cad0c;
       }
       .three{
        margin-left:30.5%;
        margin-top:-20px;
        color:#0cad0c;
       }
       .complete{
        margin-left:42%;
        margin-top:-20px;
        color:#0cad0c;
       }
       .auditor{
        margin-left:53%;
        margin-top:-20px;
        color:#3f88f7;
       }
       .transporter{
        margin-left:63%;
        margin-top:-20px;
       }
</style>
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        Create Entity Auditor
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <br>
        <span class="text-center">
         <div class="vl"></div>
         <div class="v2"></div>
         <div class="v3"></div>
         <div class="v4"></div>
         <div class="v5"></div>
         <div class="v6"></div>
         <div class="v7"></div>
         
       </span>
       <div class="circle"><i class="fa fa-check" style="font-size:11px;color:#fff; margin-left:3px;"></i></div>
       <div class="circle2"><i class="fa fa-check" style="font-size:11px;color:#fff; margin-left:3px;"></i></div>
       <div class="circles3"><i class="fa fa-check" style="font-size:11px;color:#fff; margin-left:3px;"></i></div>
       <div class="circle4"><i class="fa fa-check" style="font-size:11px;color:#fff; margin-left:3px;"></i></div>
       <div class="circle5"></div>
       <div class="circle6"></div>
       <div class="circle7"></div>
       <span>
         <div class="one">Initiate</div>
         <div class="two">Service Location</div>
         <div class="three">Contact</div>
         <div class="complete">Pricing</div>
         <div class="auditor">Auditor</div>
         <div class="transporter">Transporter</div>
       
         </span>
       <br>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          
            <div class="form-row">
                <div class="form-group col-md-6">
                    {% comment %} <label class="form-label">Entity</label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="entity" id="">
                        <option selected disabled>Please Select Entity</option>
                        {% for i in entity_list %}
                        <option value="{{i.node.entity.id}}">{{i.node.entity.name}}</option>
                        {% endfor %}

                        </select> {% endcomment %}


                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Auditor</label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="baseentity" id="auditorid">
                    <option selected disabled>Please Select Auditor</option>
                    {% for i in entity_list %}
                        <option value="{{i.node.id}}">{{i.node.name}}</option>
                        {% endfor %}
                    </select>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Auditor User</label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="parententity" id="auditoruserid">
                    <option selected disabled>Please Entity Auditor User</option>
                    {% for i in entity_list %}
                        <option value="{{i.node.parentEntity.id}}">{{i.node.parentEntity.name}}</option>
                        {% endfor %}
                    </select>
                  </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Auditor Contact</label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="parententity" id="distid">
                    <option selected disabled>Please Entity Auditor Contact</option>
                    {% for i in entity_contact %}
                        <option value="{{i.node.user.id}}">{{i.node.user.username}}</option>
                        {% endfor %}
                    </select>
                  </select>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Valid From</label>
                    <input type="date" class="form-control" name="validfrom" id="txtDate" >
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Valid Upto</label>
                    <input type="Date" class="form-control" name="validupto" id="txtDates">
                    <div class="clearfix"></div>
                </div>
          
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label mt-3 ">Is Active</label>
                   
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="isactive" value="True">
                      <label class="form-check-label mr-3">
                       Yes
                      </label>
                    </div>
                    <div class="form-check form-check-inline mr-3">
                      <input class="form-check-input" type="radio" name="isactive" value="False" id="k" checked>
                      <label class="form-check-label" for="k">
                       No
                      </label>
                    </div>
                    <hr>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block ">Next</button>
            </div>
        </form>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 <script>
  $(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var minDate= year + '-' + month + '-' + day;
    
    $('#txtDate').attr('min', minDate);
});
 </script>
 <script>
  $(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var minDate= year + '-' + month + '-' + day;
    
    $('#txtDates').attr('min', minDate);
});
 </script>




 <!--Category to subcategory-->
<script>
    function auditor_auditoruser(){
        const category = document.querySelector("#auditorid");
        const subcategory = document.querySelector("#auditoruserid");
        category.addEventListener("click", (e) => {
            subcategory.innerHTML = ``
            const searchValue = e.target.value;
            console.log(searchValue);
            if (searchValue.trim().length > 0 && searchValue !== "Please Select Auditor") {
                fetch("{% url 'auditor_auditor_user' %}", {
                    body: JSON.stringify({ search: searchValue }),
                    method: "POST",
                }).then((res) => res.json())
                    .then((data) => {
                        //console.log("data", data);
                        if (data.length === 0) {
                            distriDDL.innerHTML =
                                `<option>No Parent</option>`
                        }
                        else {
                            data.forEach((item) => {
                                    var e = document.getElementById("auditorid");
                                    var strUser = e.value;
                            if (searchValue ===strUser){
              
                                subcategory.innerHTML += `
                                        <option value="${item.node.id}">${item.node.username}</option>
                                        `;
                            }
                            })
                        }
                    })
    }
    })
        }
    
        auditor_auditoruser();
   
</script>
{% endblock body %}