{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        Create Service Location
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
             <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="form-label">Address label<sup>*</sup></label>
                    <input type="text" class="form-control" name="addresslabel">
                    <div class="clearfix"></div>
                </div></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Address1<sup>*</sup></label>
                    <input type="text" class="form-control" name="address1">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Address2</label>
                    <input type="text" class="form-control" name="address2">
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Country<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="country" id="countryid">
                        <option selected disabled>Please Select Country</option>
                        {% for i in country %}
                        <option value="{{i.country}}">{{i.country}}</option>
                        {% endfor %}

                        </select>


                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">State<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="state" id="stateid">
                    <option selected disabled>Please Select State</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">District<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="district" id="distid">
                    <option selected disabled>Please Select District</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">City</label>
                    <input type="text" class="form-control" name="city">
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Pincode<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="pincode" id="pincodeid">
                    <option selected disabled>Please Select Pincode</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Locality<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="locality" id="localityid">
                    <option selected disabled>Please Select Locality</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
            </div>
         <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Latitude</label>
                    <input type="text" class="form-control" name="lat" >
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Longitude</label>
                    <input type="text" class="form-control" name="long">
                    <div class="clearfix"></div>
                </div>
            </div>
         <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">GST</label>
                    <input type="text" class="form-control" name="gst" >
                    <div class="clearfix"></div>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-label">Entity Name<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="entity">
                    <option selected disabled>Please Select Entity Name</option>
                        {% for i in entity %}
                    <option value="{{i.node.id}}">{{i.node.name}}</option>
                        {% endfor %}
                    </select>
                    <div class="clearfix"></div>
                </div>
            </div>


            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block ">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>

    function country_to_state(){
    const belongsTo = document.querySelector("#stateid");
    const userType = document.querySelector("#countryid");

    userType.addEventListener("click", (e) => {
        belongsTo.innerHTML = ``
        const searchValue = e.target.value;
        console.log(searchValue);



        if (searchValue.trim().length > 0 && searchValue !== "Please Select Country") {
            fetch("{% url 'fetchstate_to' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    console.log("data", data);
                    if (data.length === 0) {
                        distriDDL.innerHTML =
                            `<option>No State</option>`
                    }
                    else {
                        data.forEach((item) => {
                                var e = document.getElementById("countryid");
                                var strUser = e.value;
                                //console.log('hello',strUser)

                        if (searchValue ===strUser){

                            belongsTo.innerHTML += `
                                    <option value="${item.state}">${item.state}</option>
                                    `;
                        }



                        })
                    }
                })
}
})
    }

    function state_to_district(){
    const belongsTo = document.querySelector("#distid");
    const userType = document.querySelector("#stateid");

    userType.addEventListener("click", (e) => {
        belongsTo.innerHTML = ``
        const searchValue = e.target.value;
        console.log(searchValue);



        if (searchValue.trim().length > 0 && searchValue !== "Please Select State") {
            fetch("{% url 'fetchdistrict_to' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    console.log("data", data);
                    if (data.length === 0) {
                        distriDDL.innerHTML =
                            `<option>No State</option>`
                    }
                    else {
                        data.forEach((item) => {
                                var e = document.getElementById("stateid");
                                var strUser = e.value;
                                //console.log('hello',strUser)

                        if (searchValue ===strUser){

                            belongsTo.innerHTML += `
                                    <option value="${item.district}">${item.district}</option>
                                    `;
                        }



                        })
                    }
                })
}
})
    }

function district_to_pincode(){

    const belongsTo = document.querySelector("#pincodeid");
    const userType = document.querySelector("#distid");

    userType.addEventListener("click", (e) => {
        belongsTo.innerHTML = ``
        const searchValue = e.target.value;
        console.log(searchValue);



        if (searchValue.trim().length > 0 && searchValue !== "Please Select District") {
            fetch("{% url 'fatch_pincode_to' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    console.log("data", data);
                    if (data.length === 0) {
                        distriDDL.innerHTML =
                            `<option>No State</option>`
                    }
                    else {
                        data.forEach((item) => {
                                var e = document.getElementById("distid");
                                var strUser = e.value;
                                //console.log('hello',strUser)

                        if (searchValue ===strUser){

                            belongsTo.innerHTML += `
                                    <option value="${item.pincode}">${item.pincode}</option>
                                    `;
                        }



                        })
                    }
                })
}
})
    }
function pincode_to_locality(){
    const belongsTo = document.querySelector("#localityid");
    const userType = document.querySelector("#pincodeid");

    userType.addEventListener("click", (e) => {
        belongsTo.innerHTML = ``
        const searchValue = e.target.value;
        console.log(searchValue);



        if (searchValue.trim().length > 0 && searchValue !== "Please Select Pincode") {
            fetch("{% url 'fatch_locality_to' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    console.log("data", data);
                    if (data.length === 0) {
                        distriDDL.innerHTML =
                            `<option>No State</option>`
                    }
                    else {
                        data.forEach((item) => {
                                var e = document.getElementById("pincodeid");
                                var strUser = e.value;
                                //console.log('hello',strUser)

                        if (searchValue ===strUser){

                            belongsTo.innerHTML += `
                                    <option value="${item.locality}">${item.locality}</option>
                                    `;
                        }



                        })
                    }
                })
}
})
    }
    country_to_state();
    state_to_district();
    district_to_pincode();
    pincode_to_locality();

</script>



{% endblock body %}