{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        Create Brand
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          
            <div class="form-row">
<!--                <div class="form-group col-md-6">-->
<!--                    <label class="form-label">Entity Name<sup>*</sup></label>-->
<!--                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0">-->
<!--                        <option selected disabled>Please Select Entity Name</option>-->
<!--                       -->
<!--                        </select>-->
<!--                      -->

<!--                    <div class="clearfix"></div>-->
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Brand Name<sup>*</sup></label>
                    <input type="text" class="form-control" name="brandname">
                    <div class="clearfix"></div>
                </div>
            </div>
            

            
            <div class="form-row float-right mt-4">
                <button type="submit" class="btn btn-primary btn-block ">Submit</button>
            </div>
        </form>
    </div>
</div>


{% endblock body %}