{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<style>
    .vl {
        border: 3px solid #6f9ee5;
        width: 10%;
        margin-bottom:3px;
      }
      .v2 {
        border: 3px solid #bec5d1;
        width: 10%;
        margin-left:11%;
        margin-top:-9px;
      }
      .v3 {
        border: 3px solid #bec5d1;
        width: 10%;
       margin-left:22%;
       margin-top:-6px;
       
      }
      .v4 {
        border: 3px solid #bec5d1;
        width: 10%;
       margin-left:33%;
       margin-top:-6px;
       
      }
      .v5 {
        border: 3px solid #bec5d1;
        width: 10%;
       margin-left:44%;
       margin-top:-6px;
       
      }
      .v6{
        border: 3px solid #bec5d1;
        width: 10%;
        margin-left:55%;
        margin-top:-6px;  
      }
      .v7{
        border: 3px solid #bec5d1;
        width: 10%;
        margin-left:66%;
        margin-top:-6px;  
      }
      
      .circle {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top: -14px;
        margin-left:9.5%;
      
    }

    .circle2 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:21%;
    }
    .circles3 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:32%;
    }
    .circle4 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:43%;
    }
    .circle5 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:54%;
    }
    .circle6 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:68%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:65%;
    }
    


    .one{
        margin-left:8.5%;
        margin-top:-1px;
        color:#3f88f7;
       }
       .two{
        margin-left:19.5%;
        margin-top:-22px;
       }
       .three{
        margin-left:30.5%;
        margin-top:-20px;
       }
       .complete{
        margin-left:42%;
        margin-top:-20px;
       }
       .auditor{
        margin-left:53%;
        margin-top:-20px;
       }
       .transporter{
        margin-left:63%;
        margin-top:-20px;
       }
      
       

</style>
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        Create Entity
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
       
        <!-- [ Logo ] End -->
        <br>
        <span class="text-center">
         <div class="vl"></div>
         <div class="v2"></div>
         <div class="v3"></div>
         <div class="v4"></div>
         <div class="v5"></div>
         <div class="v6"></div>
         <div class="v7"></div>
         <div class="v8"></div>
       </span>
       <div class="circle"></div>
       <div class="circle2"></div>
       <div class="circles3"></div>
       <div class="circle4"></div>
       <div class="circle5"></div>
       <div class="circle6"></div>
       <div class="circle7"></div>
       <span>
         <div class="one">Initiate</div>
         <div class="two">Address</div>
         <div class="three">Contact</div>
         <div class="complete">Pricing</div>
         <div class="auditor">Auditor</div>
         <div class="transporter">Transporter</div>
         <div class="brand">Brand</div>
         </span>
       <br>
        <!-- [ Form ] Start -->
        <form class="my-2" method="post" name='entity' onsubmit='return validate_entity()' enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Entity Purpose</label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name='entity_purpose'>
                    <option selected disabled>Please Select Entity Purpose</option>
                    {% for i in entity_purpose%}
                        <option value="{{ i.node.id }}">{{ i.node.entityPurpose }}</option>
                        {% endfor %}
                    </select>
                   <p style='color:#ff0000;position:absolute;' id='entity_purpose-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Entity Type<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="entity_type" id="user_type" onchange="yesnoCheck(this);">
                        <option selected disabled>Please Select Entity Type</option>

                        {% for i in entity_type%}
                        <option value="{{ i.node.id }}">{{ i.node.entityType }}</option>
                        {% endfor %}


                        </select>
                   <p style='color:#ff0000;position:absolute;' id='entity_type-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
             <div class="form-row mt-2">
              <div class="form-group col-md-6" style="display:none;" id="base_entity">

                    <label class="form-label">Main/Head Entity<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="base_entity" id="base_id">
                        <option selected disabled>Please Select Main/Head Entity</option>

                        {% for i in base_entities%}
                        <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                        </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6" style="display:none;" id="parent_entity">

                    <label class="form-label">Parent Entity<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="parent_entity" id="parent_id">
                        <option selected disabled>Please Select Parent Entity</option>

                        {% for j in parent_entities%}
                        <option value="{{ j.id }}">{{ j.name }}</option>
                        {% endfor %}
                        </select>
                    <div class="clearfix"></div>
					</div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">

                    <label class="form-label">Industry<sup>*</sup></label>
                  
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name='industry' id="industryid">
                    <option selected disabled>Please Select Industry</option>
    
                    </select>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name='industry' id="industryids" style="display:none;">
                    <option selected disabled>Please Select Industry</option>
                    {% for i in entity_industry%}
                        <option value="{{ i.node.id }}">{{ i.node.industry }}</option>
                        {% endfor %} 
                    </select>
                 <p style='color:#ff0000;position:absolute;' id='industry-m'></p>
                    <div class="clearfix"></div>
                </div>
                
                 
                <div class="form-group col-md-6">
                    <label class="form-label">Name<sup>*</sup></label>
                    <input type="text" class="form-control" name="name" id='nameid' maxlength="256">
                   <p style='color:#ff0000;position:absolute' id='name-m'></p>
                    <div class="clearfix"></div>
                </div>
                </div>
                <div class="form-row">
                    
                    <div class="form-group col-md-6">
                        <label class="form-label">Legal Name<sup>*</sup></label>
                        {% comment %} id="legalids" disabled {% endcomment %}
                        <input type="text" class="form-control" name="legal_name" >
                        <p style='color:#ff0000;position:absolute' id='legal_name-m'></p>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label">Code</label>
                        <input type="text" class="form-control" name="code"  id='codeid'>
                        <p style='color:#ff0000;position:absolute' id='code-m'></p>
                        <div class="clearfix"></div>
                    </div> 
                </div>
         <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">Abbrv</label>
                    <input type="text" class="form-control" name="abbrv" >
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" name="emailid" >
                    <div class="clearfix"></div>
                </div>
            </div>
         <div class="form-row mt-2">
                
                    <div class="form-group col-md-6">

                    <label class="form-label">Phone</label>
                    <input type="text" class="form-control" name="phone"  id='myphone' minlength="10">

                    <div class="clearfix"></div>
                    
                </div>
                    <div class="form-group col-md-6">

                    <label class="form-label">Website</label>
                    <input type="text" class="form-control" name="website"  id='' >

                    <div class="clearfix"></div>

                </div>

               
            </div>
            <div class="form-row mt-2">
                
                <div class="form-group col-md-6">

                <label class="form-label">Crm Id</label>
                <input type="text" class="form-control" name="crmid">

                <div class="clearfix"></div>
                
            </div>
        </div>
            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block " id='btnid' >Next</button>
            </div>
        </form>
    </div>
</div>


<script>

    function yesnoCheck(that) {

    if (that.value != "1") {

        document.getElementById("base_entity").style.display = "block";
        document.getElementById("parent_entity").style.display = "block";
        document.getElementById("industryids").style.display = "none";
        document.getElementById("industryid").style.display = "block";
        document.getElementById("legalids").disabled = true;
        } else
        {
        document.getElementById("base_entity").style.display = "none";
        document.getElementById("parent_entity").style.display = "none";
        document.getElementById("industryids").style.display = "block";
        document.getElementById("industryid").style.display = "none";
        document.getElementById("legalids").disabled = false;
    }
    }

    function base_to_parent(){
    const belongsTo = document.querySelector("#parent_id");
    const userType = document.querySelector("#base_id");

    userType.addEventListener("click", (e) => {
        belongsTo.innerHTML = ``
        const searchValue = e.target.value;


        if (searchValue.trim().length > 0 && searchValue !== "Please Select Base Entity") {
            fetch("{% url 'fetchid' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    console.log("data", data);
                    if (data.length === 0) {
                        distriDDL.innerHTML =
                            `<option>No Parent</option>`
                    }
                    else {
                        data.forEach((item) => {
                                var e = document.getElementById("base_id");
                                var strUser = e.value;
                                //console.log('hello',strUser)

                        if (searchValue ===strUser){

                            belongsTo.innerHTML += `
                                    <option value="${item.id}">${item.name}</option>
                                    `;
                        }



                        })
                    }
                })
}
})
    }

base_to_parent();


</script>

<!-- ======Base to Industry======== -->
<script>
    function base_to_industry(){
        const belongsTo = document.querySelector("#industryid");
        const userType = document.querySelector("#base_id");
    
        userType.addEventListener("click", (e) => {
            belongsTo.innerHTML = ``
            const searchValue = e.target.value;
           // console.log(searchValue);
    
            if (searchValue.trim().length > 0 && searchValue !== "Please Select Base Entity") {
               
                fetch("{% url 'base_onIndustry' %}", {
                    body: JSON.stringify({ search: searchValue }),
                    method: "POST",
                }).then((res) => res.json())
                    .then((data) => {
                        console.log("data", data);
                        if (data.length === 0) {
                            distriDDL.innerHTML =
                                `<option>No Parent</option>`
                        }
                        else {
                            data.forEach((item) => {
                                    var e = document.getElementById("base_id");
                                    var strUser = e.value;
                                    console.log('abcd');
                                    console.log('hello'+ strUser)
    
                            if (searchValue ===strUser){
    
                                belongsTo.innerHTML += `
                                        <option value="${item.id}">${item.industry}</option>
                                        `;
                            }
    
    
    
                            })
                        }
                    })
    }
    })
        }
    
        base_to_industry();
    
    
    </script>
</script>


<!--=======End Base to Industrty-->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $('#parent_id option').each(function(){
        if($.inArray(this.value, optionValues) >-1){
           $(this).remove()
        }else{
           optionValues.push(this.value);
        }
     });
     var optionValues =[];
</script>



<script src="{% static 'entity/js/entity.js' %}"></script>
<script src="{% static 'user/js/phonevalidation.js' %}"></script>
<script >
const entity_name = document.getElementById("nameid");
const warning_m = document.getElementById("name-m");
entity_name.addEventListener("input", (e) => {
    warning_m.innerHTML =''
    const searchValue = e.target.value;
        if (searchValue.trim().length > 0) {
        fetch("{% url 'entity_name' %}", {
            body: JSON.stringify({ search: searchValue }),
            method: "POST",
        }).then((res) => res.json())
            .then((data) => {
                var x = document.getElementById("name-m").innerHTML=data;
                if(x=="This value already exists!")
                {document.getElementById("btnid").disabled = true;}
                else{
                    document.getElementById("btnid").disabled = false;
                }  
        })
    }
})
</script>


<script>
    function myFunction() {
        var x = document.getElementById("mySelect").value;

        alert(x);
        // document.getElementById("demo").innerHTML = "You selected: " + x; 
       /* if (x=="category"){
            document.getElementById("productid").disabled = true;
            document.getElementById("subcategoryid").disabled = true;
          
          }
        if (x=="subcategory"){
            document.getElementById("productid").disabled = true;
            document.getElementById("subcategoryid").disabled = false;
          
          }
        if (x=="product"){
            document.getElementById("productid").disabled = false;
            document.getElementById("subcategoryid").disabled = false;
          
          } */
        
      }
</script>

{% comment %} 
<script >
const entity_code = document.getElementById("codeid");
const warning_m = document.getElementById("code-m");
entity_code.addEventListener("input", (e) => {
    warning_m.innerHTML =''
    const searchValue = e.target.value;
    console.log(searchValue)
    if (searchValue.trim().length > 0) {
        fetch("{% url 'entity_code' %}", {
            body: JSON.stringify({ search: searchValue }),
            method: "POST",
        }).then((res) => res.json())
            .then((data) => {
                var x = document.getElementById("code-m").innerHTML=data;
                if(x=="This value already exists!")
                {document.getElementById("btnid").disabled = true;}
                else{
                    document.getElementById("btnid").disabled = false;
                }  
        })
    }
})
</script> {% endcomment %}
{% endblock body %}