{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<style>
    .vl {
        border: 3px solid #6f9ee5;
        width: 10%;
        margin-bottom:3px;
      }
      .v2 {
        border: 3px solid #6f9ee5;
        width: 10%;
        margin-left:11%;
        margin-top:-9px;
      }
      .v3 {
        border: 3px solid #6f9ee5;
        width: 10%;
       margin-left:22%;
       margin-top:-6px;
       
      }
      .v4 {
        border: 3px solid #bec5d1;
        width: 10%;
       margin-left:33%;
       margin-top:-6px;
       
      }
      .v5 {
        border: 3px solid #bec5d1;
        width: 10%;
       margin-left:44%;
       margin-top:-6px;
       
      }
      .v6{
        border: 3px solid #bec5d1;
        width: 10%;
        margin-left:55%;
        margin-top:-6px;  
      }
      .v7{
        border: 3px solid #bec5d1;
        width: 10%;
        margin-left:66%;
        margin-top:-6px;  
      }
      
      .circle {
        background-color:#0cad0c; 
        border:1px solid green;  
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top: -14px;
        margin-left:9.5%;
      
    }

    .circle2 {
        background-color:#0cad0c; 
        border:1px solid green;   
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:21%;
    }
    .circles3 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:32%;
    }
    .circle4 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:43%;
    }
    .circle5 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:54%;
    }
    .circle6 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:68%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:65%;
    }
    


    .one{
        margin-left:8.5%;
        margin-top:-1px;
        color:#0cad0c;
       }
       .two{
        margin-left:19.5%;
        margin-top:-22px;
        color:#0cad0c;
       }
       .three{
        margin-left:30.5%;
        margin-top:-20px;
        color:#3f88f7;
       }
       .complete{
        margin-left:42%;
        margin-top:-20px;
       }
       .auditor{
        margin-left:53%;
        margin-top:-20px;
       }
       .transporter{
        margin-left:63%;
        margin-top:-20px;
       }
</style>
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        Create Entity Contact
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
     
        <!-- [ Logo ] End -->
        
        <br>
        <span class="text-center">
         <div class="vl"></div>
         <div class="v2"></div>
         <div class="v3"></div>
         <div class="v4"></div>
         <div class="v5"></div>
         <div class="v6"></div>
         <div class="v7"></div>
         <div class="v8"></div>
       </span>
       <div class="circle"><i class="fa fa-check" style="font-size:11px;color:#fff; margin-left:3px;"></i></div>
       <div class="circle2"><i class="fa fa-check" style="font-size:11px;color:#fff; margin-left:3px;"></i></div>
       <div class="circles3"></div>
       <div class="circle4"></div>
       <div class="circle5"></div>
       <div class="circle6"></div>
       <div class="circle7"></div>
       <span>
         <div class="one">Initiate</div>
         <div class="two">Address</div>
         <div class="three">Contact</div>
         <div class="complete">Pricing</div>
         <div class="auditor">Auditor</div>
         <div class="transporter">Transporter</div>
         <div class="brand">Brand</div>
         </span>
       <br>
        
        
        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Salutation<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="salutation" id="countryid">
                      <option selected disabled>Please Select Salutation</option>
                      {% for i in salutation %}
                      <option value="{{i.node.id}}">{{i.node.salutation}}</option>
                      {% endfor %}

                      </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">First Name</label>
                    <input type="text" class="form-control" name="firstname">
                    <div class="clearfix"></div>
                </div>
              
              </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Middle Name</label>
                    <input type="text" class="form-control" name="middlename">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="lastname">
                    <div class="clearfix"></div>
                </div>
            </div>
            
              
              
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Designation<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="designation" id="countryid">
                        <option selected disabled>Please Select Designation</option>
                        {% for i in desig %}
                        <option value="{{i.node.id}}">{{i.node.designation}}</option>
                        {% endfor %} 

                        </select>


                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6  mt-3 ">
                    <label class="form-label">Gender</label>
                    <div class="form-check form-check-inline ml-2">
                      <input class="form-check-input" type="radio" name="g" id="" value="m" checked>
                      <label class="form-check-label" for="">
                        Male
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="g" id="" value="f" >
                      <label class="form-check-label" for="">
                        Female
                      </label>
                    </div>
                    <div class="clearfix"></div>
                   <strong> <hr></strong>
                </div>
                {% comment %} <div class="form-group col-md-6">
                    <label class="form-label">Entity<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="" id="">
                    <option selected disabled>Please Select Entity</option>
                    {% for i in entity %}
                        <option value="{{i.node.id}}">{{i.node.name}}</option>
                        {% endfor %} 
                    </select>
                    <div class="clearfix"></div>
                </div> {% endcomment %}
               
            </div>
         
            {% comment %} <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Address<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="" id="">
                    <option selected disabled>Please Select Address</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6  mt-3 ">
                    <label class="form-label">Gender</label>
                    <div class="form-check form-check-inline ml-2">
                      <input class="form-check-input" type="radio" name="g" id="" checked>
                      <label class="form-check-label" for="">
                        Male
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="g" id="" >
                      <label class="form-check-label" for="">
                        Female
                      </label>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div> {% endcomment %}
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Email<sup>*</sup></label>
                    <input type="text" class="form-control" name="email" >
                    {% comment %} <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="pincode" id="pincodeid">
                    <option selected disabled>Please Select Pincode</option>
                    </select> {% endcomment %}
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Alt Email</label>
                    <input type="text" class="form-control" name="altemail" >
                    {% comment %} <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="locality" id="localityid">
                    <option selected disabled>Please Select Locality</option>
                    </select> {% endcomment %}
                    <div class="clearfix"></div>
                </div>
            </div>
         <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">CC Email</label>
                    <input type="text" class="form-control" name="ccemail" >
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Bcc Email</label>
                    <input type="text" class="form-control" name="bbcemail">
                    <div class="clearfix"></div>
                </div>
            </div>
         <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Mobile</label>
                    <input type="text" class="form-control" name="mobile" >
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Alt Mobile</label>
                    <input type="text" class="form-control" name="altmobile" >
                    <div class="clearfix"></div>
                </div>

               
            </div>

            
            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block ">Submit</button>
            </div>
        </form>
    </div>
</div
{% endblock body %}