{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<style>
    .vl {
        border: 3px solid #6f9ee5;
        width: 10%;
        margin-bottom:3px;
      }
      .v2 {
        border: 3px solid #6f9ee5;
        width: 10%;
        margin-left:11%;
        margin-top:-9px;
      }
      .v3 {
        border: 3px solid #bec5d1;
        width: 10%;
       margin-left:22%;
       margin-top:-6px;
       
      }
      .v4 {
        border: 3px solid #bec5d1;
        width: 10%;
       margin-left:33%;
       margin-top:-6px;
       
      }
      .v5 {
        border: 3px solid #bec5d1;
        width: 10%;
       margin-left:44%;
       margin-top:-6px;
       
      }
      .v6{
        border: 3px solid #bec5d1;
        width: 10%;
        margin-left:55%;
        margin-top:-6px;  
      }
      .v7{
        border: 3px solid #bec5d1;
        width: 10%;
        margin-left:66%;
        margin-top:-6px;  
      }
      
      .circle {
        background-color:#0cad0c; 
        border:1px solid green;  
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top: -14px;
        margin-left:9.5%;
      
    }

    .circle2 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:21%;
    }
    .circles3 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:32%;
    }
    .circle4 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:43%;
    }
    .circle5 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:54%;
    }
    .circle6 {
        background-color:#fff;
        border:1px solid #000000;    
        height:20px;
        border-radius:68%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:20px;
        margin-top:-20px;
        margin-left:65%;
    }
    


    .one{
        margin-left:8.5%;
        margin-top:-1px;
        color:#0cad0c;
       }
       .two{
        margin-left:19.5%;
        margin-top:-22px;
        color:#3f88f7;
       }
       .three{
        margin-left:30.5%;
        margin-top:-20px;
       }
       .complete{
        margin-left:42%;
        margin-top:-20px;
       }
       .auditor{
        margin-left:53%;
        margin-top:-20px;
       }
       .transporter{
        margin-left:63%;
        margin-top:-20px;
       }
</style>
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        Create Service Location
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
     
        <!-- [ Logo ] End -->
        <br>
        <span class="text-center">
         <div class="vl"></div>
         <div class="v2"></div>
         <div class="v3"></div>
         <div class="v4"></div>
         <div class="v5"></div>
         <div class="v6"></div>
         <div class="v7"></div>
         <div class="v8"></div>
       </span>
       <div class="circle"><i class="fa fa-check" style="font-size:11px;color:#fff; margin-left:3px;"></i></div>
       <div class="circle2"></div>
       <div class="circles3"></div>
       <div class="circle4"></div>
       <div class="circle5"></div>
       <div class="circle6"></div>
       <div class="circle7"></div>
       <span>
         <div class="one">Initiate</div>
         <div class="two">Address</div>
         <div class="three">Contact</div>
         <div class="complete">Pricing</div>
         <div class="auditor">Auditor</div>
         <div class="transporter">Transporter</div>
         <div class="brand">Brand</div>
         </span>
       <br>
        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="form-label">Address label<sup>*</sup></label>
                    <input type="text" class="form-control" name="addresslabel">
                    <div class="clearfix"></div>
                </div></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Address1<sup>*</sup></label>
                    <input type="text" class="form-control" name="address1">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Address2</label>
                    <input type="text" class="form-control" name="address2">
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Country<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="country" id="countryid">
                        <option selected disabled>Please Select Country</option>
                        {% for i in country %}
                        <option value="{{i.country}}">{{i.country}}</option>
                        {% endfor %}

                        </select>


                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">State<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="state" id="stateid">
                    <option selected disabled>Please Select State</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">District<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="district" id="distid">
                    <option selected disabled>Please Select District</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">City</label>
                    <input type="text" class="form-control" name="city">
                    <div class="clearfix"></div>
                </div>
            </div>
         
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Pincode<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="pincode" id="pincodeid">
                    <option selected disabled>Please Select Pincode</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Locality<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="locality" id="localityid">
                    <option selected disabled>Please Select Locality</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
            </div>
         <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Latitude</label>
                    <input type="text" class="form-control" name="lat" >
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Longitude</label>
                    <input type="text" class="form-control" name="long">
                    <div class="clearfix"></div>
                </div>
            </div>
         <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">GST</label>
                    <input type="text" class="form-control" name="gst" >
                    <div class="clearfix"></div>
                </div>

               
            </div>

            
            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block ">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>

    function country_to_state(){
    const belongsTo = document.querySelector("#stateid");
    const userType = document.querySelector("#countryid");

    userType.addEventListener("click", (e) => {
        belongsTo.innerHTML = ``
        const searchValue = e.target.value;
        console.log(searchValue);



        if (searchValue.trim().length > 0 && searchValue !== "Please Select Country") {
            fetch("{% url 'fetchstate_to' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    console.log("data", data);
                    if (data.length === 0) {
                        distriDDL.innerHTML =
                            `<option>No State</option>`
                    }
                    else {
                        data.forEach((item) => {
                                var e = document.getElementById("countryid");
                                var strUser = e.value;
                                //console.log('hello',strUser)

                        if (searchValue ===strUser){

                            belongsTo.innerHTML += `
                                    <option value="${item.state}">${item.state}</option>
                                    `;
                        }



                        })
                    }
                })
}
})
    }

    function state_to_district(){
    const belongsTo = document.querySelector("#distid");
    const userType = document.querySelector("#stateid");

    userType.addEventListener("click", (e) => {
        belongsTo.innerHTML = ``
        const searchValue = e.target.value;
        console.log(searchValue);



        if (searchValue.trim().length > 0 && searchValue !== "Please Select State") {
            fetch("{% url 'fetchdistrict_to' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    console.log("data", data);
                    if (data.length === 0) {
                        distriDDL.innerHTML =
                            `<option>No State</option>`
                    }
                    else {
                        data.forEach((item) => {
                                var e = document.getElementById("stateid");
                                var strUser = e.value;
                                //console.log('hello',strUser)

                        if (searchValue ===strUser){

                            belongsTo.innerHTML += `
                                    <option value="${item.district}">${item.district}</option>
                                    `;
                        }



                        })
                    }
                })
}
})
    }

function district_to_pincode(){

    const belongsTo = document.querySelector("#pincodeid");
    const userType = document.querySelector("#distid");

    userType.addEventListener("click", (e) => {
        belongsTo.innerHTML = ``
        const searchValue = e.target.value;
        console.log(searchValue);



        if (searchValue.trim().length > 0 && searchValue !== "Please Select District") {
            fetch("{% url 'fatch_pincode_to' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    console.log("data", data);
                    if (data.length === 0) {
                        distriDDL.innerHTML =
                            `<option>No State</option>`
                    }
                    else {
                        data.forEach((item) => {
                                var e = document.getElementById("distid");
                                var strUser = e.value;
                                //console.log('hello',strUser)

                        if (searchValue ===strUser){

                            belongsTo.innerHTML += `
                                    <option value="${item.pincode}">${item.pincode}</option>
                                    `;
                        }



                        })
                    }
                })
}
})
    }
function pincode_to_locality(){
    const belongsTo = document.querySelector("#localityid");
    const userType = document.querySelector("#pincodeid");

    userType.addEventListener("click", (e) => {
        belongsTo.innerHTML = ``
        const searchValue = e.target.value;
        console.log(searchValue);



        if (searchValue.trim().length > 0 && searchValue !== "Please Select Pincode") {
            fetch("{% url 'fatch_locality_to' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    console.log("data", data);
                    if (data.length === 0) {
                        distriDDL.innerHTML =
                            `<option>No State</option>`
                    }
                    else {
                        data.forEach((item) => {
                                var e = document.getElementById("pincodeid");
                                var strUser = e.value;
                                //console.log('hello',strUser)

                        if (searchValue ===strUser){

                            belongsTo.innerHTML += `
                                    <option value="${item.locality}">${item.locality}</option>
                                    `;
                        }



                        })
                    }
                })
}
})
    }
    country_to_state();
    state_to_district();
    district_to_pincode();
    pincode_to_locality();



</script>

{% endblock body %}