{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        Create CRM Entity
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Entity<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="entity" id="">
                        <option selected disabled>Please Select Entity</option>
                        {% for i in entity_list %}
                        <option value="{{i.node.entity.id}}">{{i.node.entity.name}}</option>
                        {% endfor %}

                        </select>


                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Source<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="source" id="">
                    <option selected disabled>Please Source</option>
                    {% for i in entity_list %}
                        <option value="{{i.node.source.id}}">{{i.node.source.source}}</option>
                        {% endfor %}
                    </select>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Status<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="status" id="distid">
                    <option selected disabled>Please Status</option>
                    {% for i in entity_list %}
                        <option value="{{i.node.status.id}}">{{i.node.status.status}}</option>
                        {% endfor %}
                    </select>
                  </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                <label class="form-label">Owner<sup>*</sup></label>
                <input type="text" name="owner" class="form-control">
                </div>
            </div>

            


            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block ">Submit</button>
            </div>
        </form>
    </div>
</div>





{% endblock body %}