{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<style>
.vl {
    border: 3px solid #6f9ee5;
    width: 10%;
    margin-bottom:3px;
  }
  .v2 {
    border: 3px solid #6f9ee5;
    width: 10%;
    margin-left:11%;
    margin-top:-9px;
  }
  .v3 {
    border: 3px solid #6f9ee5;
    width: 10%;
   margin-left:22%;
   margin-top:-6px;
   
  }
  .v4 {
    border: 3px solid #6f9ee5;
    width: 10%;
   margin-left:33%;
   margin-top:-6px;
   
  }
  .v5 {
    border: 3px solid #6f9ee5;
    width: 10%;
   margin-left:44%;
   margin-top:-6px;
   
  }
  .v6{
    border: 3px solid #6f9ee5;
    width: 10%;
    margin-left:55%;
    margin-top:-6px;  
  }
  .v7{
    border: 3px solid #bec5d1;
    width: 10%;
    margin-left:66%;
    margin-top:-6px;  
  }
  
  .circle {
    background-color:#0cad0c; 
    border:1px solid green;  
    height:20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:20px;
    margin-top: -14px;
    margin-left:9.5%;
  
}

.circle2 {
    background-color:#0cad0c; 
    border:1px solid green;   
    height:20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:20px;
    margin-top:-20px;
    margin-left:21%;
}
.circles3 {
    background-color:#0cad0c; 
    border:1px solid green;    
    height:20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:20px;
    margin-top:-20px;
    margin-left:32%;
}
.circle4 {
    background-color:#0cad0c;
    border:1px solid green;    
    height:20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:20px;
    margin-top:-20px;
    margin-left:43%;
}
.circle5 {
    background-color:#0cad0c;
    border:1px solid green;    
    height:20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:20px;
    margin-top:-20px;
    margin-left:54%;
}
.circle6 {
    background-color:#fff;
    border:1px solid #000000;    
    height:20px;
    border-radius:68%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:20px;
    margin-top:-20px;
    margin-left:65%;
}



.one{
    margin-left:8.5%;
    margin-top:-1px;
    color:#0cad0c;
   }
   .two{
    margin-left:19.5%;
    margin-top:-22px;
    color:#0cad0c;
   }
   .three{
    margin-left:30.5%;
    margin-top:-20px;
    color:#0cad0c;
   }
   .complete{
    margin-left:42%;
    margin-top:-20px;
    color:#0cad0c;
   }
   .auditor{
    margin-left:53%;
    margin-top:-20px;
    color:#0cad0c;
   }
   .transporter{
    margin-left:63%;
    margin-top:-20px;
    color:#3f88f7;
   }
</style>
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        Create Entity Transporter
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <br>
        <span class="text-center">
         <div class="vl"></div>
         <div class="v2"></div>
         <div class="v3"></div>
         <div class="v4"></div>
         <div class="v5"></div>
         <div class="v6"></div>
         <div class="v7"></div>
         
       </span>
       <div class="circle"><i class="fa fa-check" style="font-size:11px;color:#fff; margin-left:3px;"></i></div>
       <div class="circle2"><i class="fa fa-check" style="font-size:11px;color:#fff; margin-left:3px;"></i></div>
       <div class="circles3"><i class="fa fa-check" style="font-size:11px;color:#fff; margin-left:3px;"></i></div>
       <div class="circle4"><i class="fa fa-check" style="font-size:11px;color:#fff; margin-left:3px;"></i></div>
       <div class="circle5"><i class="fa fa-check" style="font-size:11px;color:#fff; margin-left:3px;"></i></div>
       <div class="circle6"></div>
       <div class="circle7"></div>
       <span>
         <div class="one">Initiate</div>
         <div class="two">Service Location</div>
         <div class="three">Contact</div>
         <div class="complete">Pricing</div>
         <div class="auditor">Auditor</div>
         <div class="transporter">Transporter</div>
       
         </span>
       <br>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Entity</label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="entity" id="entityid">
                        <option selected disabled>Please Select Entity</option>
                        {% for i in entity_list %}
                        <option value="{{i.node.id}}">{{i.node.name}}</option>
                        {% endfor %}

                        </select>


                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Transporter</label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="transporter" id="transporterid">
                    <option selected disabled>Please Select Transporter</option>
                    {% for i in entity_list %}
                        <option value="{{i.node.id}}">{{i.node.name}}</option>
                        {% endfor %}
                    </select>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Is Active</label>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="isactive" id="" value="true">
                      <label class="form-check-label" for="flexRadioDefault1">
                       Yes
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="isactive" value="false" id="" checked>
                      <label class="form-check-label" for="flexRadioDefault2">
                        No
                      </label>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                  <label class="form-label">Rate</label>
                  <input type='text' class='form-control' name="rate">
                </div>
            </div>

            


            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block ">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
function entityTotransporter(){

const entity = document.getElementById("entityid");
const transporter = document.getElementById("transporterid");
entity.addEventListener("click", (e) => {
    transporter.innerHTML = ``
    const searchValue = e.target.value;
  // console.log(searchValue);
   if (searchValue.trim().length > 0 && searchValue !== "Please Select Entity") {
               
    fetch("{% url 'tranporter' %}", {
        body: JSON.stringify({ search: searchValue }),
        method: "POST",
    }).then((res) => res.json())
        .then((data) => {
           // console.log("data", data);
            if (data.length === 0) {
                distriDDL.innerHTML =
                    `<option>No Data</option>`
            }
            else {
                data.forEach((item) => {
                        var e = document.getElementById("entityid");
                        var strUser = e.value;
                        
                if (searchValue ===strUser){

                    transporter.innerHTML += `
                            <option value="${item.id}">${item.name}</option>
                            `;
                }



                })
            }
        })
}
   
})
}
entityTotransporter();
</script>



{% endblock body %}