{% extends 'core/base.html' %}
{% block body %}
<div class="container my-5">
    <h2 class="display"> Entity CRM - Delete Confirmation - {{data.entity.name}}</h2>
    <hr/>
    {% comment %} {% url 'deleteuser' user.id %}' {% endcomment %}
    <form method="post" action='#'>
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4">
                <p>Are you sure want to delete <b>{{data.entity.name}}</b>?</p>
            </div>
        </div>

<a href="{% url 'brand_list' %}"> <button type="button" class="btn btn-secondary">Close</button></a>
<!--          <form method="post">-->
<button type="submit" class="btn btn-primary">Delete</button>
</form>
</div>
{% endblock body %}