{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body%}
<div class="container-fluid my-2">
    <div class="form-row my-2 float-left ml-1">
        <h2>{% trans "Manage Entities" %}</h2>
    </div>
    <div class="form-row  float-right ">
            <a href="{% url 'create_entity' %}">
             <button type="button" class="btn btn-primary btn-block mt-2 ">{% trans "Create Entity" %}</button>
            </a>
        </div>
    <div class="form-row  float-right mr-3 ">  
         <a href="{% url 'export_data_entity' %}"> 
             <button type="button" class="btn btn-primary btn-block mt-2 " >{% trans "Export" %}</button>
         </a>
            </div>
    <div class="form-row  float-right mr-3 ">   
             <button type="button" class="btn btn-primary btn-block mt-2 " data-toggle="modal" data-target="#myModals">{% trans "Upload" %}</button>
        </div>
    <br/>
    <br/>
    <br/>
    <br>
     
{% if messages %}
{% for message in messages %}
<span style="text-align:center!important; margin-left:294px; color:#ff0000;" >{{message}}</span><br/>
{% endfor %}
<br/>

{% endif %}

     <div class="container-fluid">
       <form method="POST">
         {% csrf_token %}
      <div class="row">
        <div class="form-group col-md-* ml-4">
                    {% if None %}
                 <input type="text" class="form-control" placeholder="{{request.session.entity_purpose}}" id="search" name='search_data'/>
                 {% else %}
                 <input type="text" class="form-control" placeholder="Click to Search...." id="search" name='search_data'/>
                 {% endif %}
                 <div class="clearfix"></div>
                 </div>
        <div class="form-group col-md-1">
                 {% comment %} <label class="form-label">Search</label> {% endcomment %}
                
                 <button type="submit" class="btn btn-primary btn-block" style="width: 75px !important;" name='filterdata' value='Filter'>{% trans "Search" %}</button>
                 
                 
                 <div class="clearfix"></div>
                 </div>
                 
                 <div class="form-group col-md-2">  
                  <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="entity_type" id="ent"  onchange="this.form.submit()" >
                      <option selected  disabled >{% ifnotequal request.session.entity_type None%}{{request.session.entity_type}}{% else %}{% trans "Select Entity Type"%}{% endifnotequal %}</option>
                     
                      {% for i in entity_type_lists%}
                      <option value="{{ i.node.entityType }}">{{ i.node.entityType }}</option>
                      {% endfor %}
                      </select>
                  <div class="clearfix"></div>
                   </div>
        <div class="form-group col-md-*">
                 <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name='entity_purpose' id="mySelect"  onchange="this.form.submit()">
                 <option selected disabled >{% ifnotequal request.session.entity_purpose None %}{{request.session.entity_purpose}}{% else %}{% trans "Select Entity Purpose"%}{% endifnotequal %}</option>
                 {% for i in entity_purpose_lists%}
                     <option value="{{ i.node.entityPurpose }}">{{ i.node.entityPurpose }}</option>
                     {% endfor %}
                 </select>
                 <div class="clearfix"></div>
                 </div>

                
                  <div class="form-group col-md-2">
                 <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name='industry' id='ind' onchange="this.form.submit()">
                 <option selected disabled >{% ifnotequal request.session.industry None%}{{request.session.industry}} {% else %}{% trans "Select Industry" %}{% endifnotequal %}</option>
                 {% for i in industry_lists%}
                     <option value="{{ i.node.industry }}">{{ i.node.industry }}</option>
                     {% endfor %}
                 </select>
                 <div class="clearfix"></div>
                </div>
                  <div class="form-group col-md-*">
                 <select class="custom-select mr-sm-2 mb-2 mb-sm-0" onchange="this.form.submit()" name="num" id="numsize">
                 <option selected disabled >{% ifnotequal request.session.num None %}{{request.session.num}}{% else %}{% trans "Page Size" %}{% endifnotequal %}</option>
                 <option value='10'>10</option>
                 <option value='20'>20</option>
                 <option value='30'>30</option>
                 <option value='50'>50</option>
                 <option value='70'>70</option>
                 <option value='100'>100</option>
                 <option value='150'>150</option>
                 
                 </select>
                 <div class="clearfix"></div>
             </div> 

             <div class="form-group col-md-1">
              <button type="submit" class="btn btn-primary btn-block" style="width: 75px !important;" name="rfilter" value="Clear">{% trans "Clear" %}</button>
              
              
              <div class="clearfix"></div>
              </div>
            </form>
     </div>
     <!---close New Container -->
  <div class ="table-list" style="overflow-x:auto;">
  <table class ="table table-striped table-hover" id="list">
      <thead class="thead-dark">

      <tr>
       <form method="POST">  
        {% csrf_token %} 
        <style>
        #msorting:hover {
            background-color: #2e3136;
          }
        </style>
      <th><button name="td_sorting" value="name" style="color:#ffffff;" class="btn btn-link" id="msorting">{% trans "Name" %}<i class="fa fa-fw fa-sort"></button></th>
      
      <th ><button name="td_sorting" value="lname" style="color:#ffffff;" class="btn btn-link" id="msorting" style='color:white!important;'>{% trans "Legal Name" %}<i class="fa fa-fw fa-sort"></button></th>
      <th><button name="td_sorting" value="code" style="color:#ffffff;" class="btn btn-link" id="msorting">{% trans "Code" %}<i class="fa fa-fw fa-sort"></button></th>
      <th><button name="td_sorting" value="etype" style="color:#ffffff;" class="btn btn-link" id="msorting">{% trans "Entity Type" %} <i class="fa fa-fw fa-sort"></button></th>
      <th><button name="td_sorting" value="epurpose" style="color:#ffffff;" class="btn btn-link" id="msorting">{% trans "Entity Purpose" %} <i class="fa fa-fw fa-sort"></button></th>
      <th><button name="td_sorting" value="indus" style="color:#ffffff;" class="btn btn-link" id="msorting">{% trans "Industry" %} <i class="fa fa-fw fa-sort"></button></th>
      <th><button name=""  class="btn btn-link" id="msorting" style="color:#ffffff;">{% trans "Email" %} </button></th>
      <th><button name=""  class="btn btn-link" id="msorting" style="color:#ffffff;">{% trans "Phone" %} </button></th>
      <th><button name="td_sorting" value="abbs" style="color:#ffffff;" class="btn btn-link" id="msorting">{% trans "Abbrv" %} <i class="fa fa-fw fa-sort"></button></th>
    </form>
      <th><button name="td_sorting" value="" style="color:#ffffff;" class="btn btn-link" id="msorting">{% trans "Action" %}</button></th>
 
    </tr>
      </thead>
        <tbody>

            {% for entity in entity_list %}
            <tr>
                <th scope="row"><a href="{% url 'view_entity' entity.node.id%}" target="_blank" style='color:#000000'>{{entity.node.name }}</a></th>
                <td>{{ entity.node.legalName }}</td>
                <td>{{ entity.node.code }}</td>
                <td>{{ entity.node.entityType.entityType }}</td>
                <td>{{ entity.node.entityPurpose.entityPurpose }}</td>
                <td>{{ entity.node.industry.industry }}</td>
                <td>{{ entity.node.email }}</td>
                <td>{{ entity.node.phone }}</td>
                <td>{{ entity.node.abbrv }}</td>
                <td><a href="{% url 'update_entity' entity.node.id%}"><i class="feather icon-edit"></i></a>
                <a href="{% url 'delete_entity' entity.node.id%}"><i class="lnr lnr-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tbody>

            {% for entity in entity_search.object_list %}
            <tr>
                <th scope="row"><a href="{%url 'view_entity' entity.id%}" target="_blank"  style='color:#000000'>{{ entity.name }}</a></th>
                <td>{{ entity.legalName }}</td>
                <td>{{ entity.code }}</td>
                <td>{{ entity.entityType.entityType }}</td>
                <td>{{ entity.entityPurpose.entityPurpose }}</td>
                <td>{{ entity.industry.industry }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.abbrv }}</td>
                <td><a href="{%url 'update_entity' entity.id%}"><i class="feather icon-edit"></i></a>
                <a href="{%url 'delete_entity' entity.id%}"><i class="lnr lnr-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tbody>

            {% for entity in entity_filter %}
            <tr>
                <th scope="row"><a href="{%url 'view_entity' entity.node.id%}" target="_blank" style='color:#000000'>{{ entity.node.name }}</a></th>
                <td>{{ entity.node.legalName }}</td>
                <td>{{ entity.node.code }}</td>
                <td>{{ entity.node.entityType.entityType }}</td>
                <td>{{ entity.node.entityPurpose.entityPurpose }}</td>
                <td>{{ entity.node.industry.industry }}</td>
                <td>{{ entity.node.email }}</td>
                <td>{{ entity.node.phone }}</td>
                <td>{{ entity.node.abbrv }}</td>
                <td><a href="{%url 'update_entity' entity.node.id%}"><i class="feather icon-edit"></i></a>
                <a href="{%url 'delete_entity' entity.node.id%}"><i class="lnr lnr-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
  </table>
    </div>
    {% if tpg > 0 %}
    <form action="" method="post" >
       {%csrf_token%}
      <div class="text-center mt-4">
      <button type="submit" name="f" class="btn btn-primary" value="First">{% trans "First" %}</button>
      {% if mo > 0 %}
     <button type="submit" name="p"class="btn btn-primary"  value="Previous">{% trans "Previous" %}</button>
     {% endif %}
     <span><b> &#160;{% trans "Page" %} {{pg}} {% trans "of" %}&#160;{{tpg}} &#160;</b></span>
     {% ifnotequal pg tpg %}
     <button type="submit" name="d" class="btn btn-primary" value="Next">{% trans "Next" %}</button>
     {% endifnotequal %}
     <button type="submit" name="l" class="btn btn-primary" value="Last">{% trans "Last" %}</button> &nbsp;&nbsp;[{{total_records}}]</div>
    </form>
    {%else%}
    <br>
    <br>
    <br>
    <span class="text-center"><h5>{% trans "No Results Found" %}</h5><span>
    {% endif%}
</div>
<div class="container">
  <!-- Trigger the modal with a button -->
  <!-- Modal -->
  <div class="modal fade" id="myModals" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{% trans "Upload File" %}</h4>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data" action="{% url 'entity_file' %}">
          {%csrf_token %}
           <div class="form-row">
           <div class="form-group col-md-12">
                    <input type="file" class="form-control" name="excel_files">
                    <div class="clearfix"></div>
                </div>
           </div> 
                <br>
            <div class='row '>
            <div class='col-md-6 mt-4'>
            <button type="submit" class="btn btn-primary btn-block" value='Upload' name="uploadexcel" >{% trans "Submit" %}</button>
            </div>
           <div class='col-md-6 mt-4'>
           <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
           </div>
           </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
var optionValues =[];
$('#ent option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
$('#mySelect option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
$('#ind option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
$('#numsize option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
  </script>
{% endblock body %}