{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body%}

<div class="container-fluid my-2">
    <div class="form-row my-2 float-left ml-1">
        <h2>Manage Entity Transporter</h2>
    </div>
    <div class="form-row  float-right">
          <a href="{% url 'create_transporter'%}">
                <button type="button" class="btn btn-primary btn-block mt-2">Create Entity Transporter</button>
            </a>
        </div>
    <div class="form-row  float-right mr-3 ">
          <a href="{% url 'exportIndustry' %}">
                <button type="button" class="btn btn-primary btn-block mt-2" >Export</button>
            </a>
        </div>
    <div class="form-row  float-right  mr-3">
         
                <button type="button" class="btn btn-primary btn-block mt-2">Upload</button>
           
        </div>

    <br/>
    <br/>
    <br/>
    <br>
    <!--     my-2 float-right mr-1-->
     <div class="container-fluid">
        
       <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-5">
            <input type="text" class="form-control mt-2" placeholder="{% ifnotequal request.session.masterIndustrySearch None %}{{request.session.masterIndustrySearch}}{% else %}{% trans "Click to Search.... " %}{% endifnotequal %}" id="search"  name="searchIndustry" />
        </div>

        <div class="form-group col-md-1">
            <button type="submit" class="btn btn-primary btn-block mt-2" name="Search" value="Search" >Search</button>
        </div>
        <div class="form-group col-md-2 offset-3" >
            <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="masterIndustrySize" onchange="this.form.submit()" id="masterIndustrySize" style="width:80px!important;" >
            <option selected disabled>{% ifnotequal request.session.masterIndustrySize None %}{{request.session.masterIndustrySize}}{% else %}{% trans "Page Size" %}{% endifnotequal %}</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            </select>
        </div>
        <div class="form-group col-md-1">
            <button type="submit" class="btn btn-primary btn-block " name="Clear" value="Clear" >Clear</button>
        </div>
    </div>
             </form>
        

    </div>
  <div class ="table-list" style="overflow-x:auto;">
  <table class ="table table-striped table-hover" id="list">
      <thead class="thead-dark">

      <tr>
      <form method="POST" >
       {% csrf_token %}
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-20px;" name="" value="">entity<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-20px;" name="" value="">transporter<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-20px;" name="" value="">is Active<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-20px;" name="" value="">rate<i class="fa fa-fw fa-sort"></i></button></th>
      </form>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-30px;" name="" value="">Action</button></th>

    </tr>
      </thead>
        <tbody>

            {% for entity in entity_transapoter %}
            <tr>
                {% comment %} <th scope="row">{{ entity.node.id }}</th> {% endcomment %}
                <td><a href="#" style="color:#000000" target="_blank">{{ entity.node.entity.name }}</a></td>
                <td><a href="#" style="color:#000000" target="_blank">{{ entity.node.transporter.name }}</a></td>
                <td><a href="#" style="color:#000000" target="_blank">{{ entity.node.isActive }}</a></td>
                <td><a href="#" style="color:#000000" target="_blank">{{ entity.node.rate }}</a></td>

                <td><a href="{%url 'update_industry' entity.node.id%}"><i class="feather icon-edit"></i></a>
                <a href="{%url 'delete_industry' entity.node.id%}"><i class="lnr lnr-trash"></i></a></td> 
            </tr>
            {% endfor %}
        </tbody>
  </table>
    </div>
</div>
<!--start Pagination-->
<span class='text-center'>
    {% if max_page > 0 %}
    <form method="POST">
      {% csrf_token %}
      <span>
      <button type="submit" name="First" value="First" class="btn btn-primary">First</button>
      {% ifnotequal request.session.masterIndustryCurrentPage 1 %}
      <button type="submit" name="Previous" value="Previous" class="btn btn-primary">Previous</button>
      {% endifnotequal %}
      page <b>{{request.session.masterIndustryCurrentPage}}</b> of <b> {{max_page}}</b>
      {% ifnotequal max_page  request.session.masterIndustryCurrentPage %}
      <button type="submit" name="Next" value="Next" class="btn btn-primary">Next</button>
      {% endifnotequal %}
      <button type="submit" name="Last" value="Last" class="btn btn-primary">Last</button>
    </span>
    </form>
    {%else%}
    {% comment %} <span class="text-center"><h5 style="margin-top:22px!important;">{% trans "No Results Found" %}</h5></span> {% endcomment %}
    {% endif%}
  </span> 
  <!--end  Pagination-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var optionValues =[];
$('#masterIndustrySize option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
</script>
{% endblock body %}