{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        Modify Entity Pricing -
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Entity<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="entity" id="">
                        <option selected disabled>Please Select Entity</option>
                         {% for i in entity_data %}
                        <option value="{{i.node.id}}">{{i.node.name}}</option>
                        {% endfor %}

                        </select>


                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Category<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="category" id="">
                    <option selected disabled>Please Select Category</option>
                         {% for i in product_category %}
                        <option value="{{i.node.id}}">{{i.node.name}}</option>
                        {% endfor %}
                  </select>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">SubCategory<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="subcategory" id="">
                    <option selected disabled>Please Select SubCategory</option>
                    {% for i in product_subcategory %}
                    <option value="{{i.node.id}}">{{i.node.name}}</option>
                    {% endfor %}
                  </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                  <label class="form-label">Product<sup>*</sup></label>
                  <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="product" id="">
                  <option selected disabled>Please Select Product</option>
                  {% for i in product %}
                  <option value="{{i.node.id}}">{{i.node.name}}</option>
                  {% endfor %}
                </select>
                  <div class="clearfix"></div>
                </div>
            </div>
         
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Price</label>
                    <input type="text" class="form-control" name="price" >
                    {% comment %} <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="" id="">
                    <option selected disabled>Please Select Pincode</option>
                    </select> {% endcomment %}
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label mt-3 ">Price Type</label>
                   
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="pricetype" value="true" id="flexRadioDefault1">
                      <label class="form-check-label mr-3 " for="flexRadioDefault1">
                       True
                      </label>
                    </div>
                    <div class="form-check form-check-inline mr-3">
                      <input class="form-check-input" type="radio" name="pricetype" value="false" id="flexRadioDefault2" checked>
                      <label class="form-check-label" for="flexRadioDefault2">
                       False
                      </label>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
         <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Valid From</label>
                    <input type="date" class="form-control" name="validfrom" >
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Valid Upto</label>
                    <input type="Date" class="form-control" name="validupto">
                    <div class="clearfix"></div>
                </div>
            </div>
         <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Pricing Type</label>
                    <input type="text" class="form-control" name="pricingtypes" maxlength="1" >
                    <div class="clearfix"></div>
                </div>

               
            </div>

            
            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block ">Submit</button>
            </div>
        </form>
    </div>
</div>



{% endblock body %}