{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        Modify Brand name - {{data.entity.name}}
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data" name='brand1' onsubmit="return validate_brand()">
            {% csrf_token %}
          
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Entity Name<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="entity">
                        <option selected value="{{data.entity.id}}">{{data.entity.name}}</option>
                        {% for i in e %}
                        <option value="{{i.node.id}}">{{i.node.name}}</option>
                        {% endfor %}
                        </select>
                      

                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Brand Name<sup>*</sup></label>
                    <input type="text" class="form-control" name="brandname" value="{{data.brand}}" id='brandnameid'>
                   <p style='color:#ff0000;position:absolute' id='brandname-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            

            
            <div class="form-row float-right mt-4">
                <button type="submit" class="btn btn-primary btn-block " id='btnid'>Update</button>
            </div>
        </form>
    </div>
</div>
<script src="{%static 'entity/js/brand1.js' %}"></script>
<script>
const brandname = document.getElementById("brandnameid");
const warning_m = document.getElementById("brandname-m");
brandname.addEventListener("input", (e) => {
    warning_m.innerHTML =''
    const searchValue = e.target.value;
      console.log(searchValue);
        if (searchValue.trim().length > 0) {
        fetch("{% url 'brandname' %}", {
            body: JSON.stringify({ search: searchValue }),
            method: "POST",
        }).then((res) => res.json())
            .then((data) => {
                var x = document.getElementById("brandname-m").innerHTML=data;
                if(x=="This value already exists!")
                {document.getElementById("btnid").disabled = true;}
                else{
                    document.getElementById("btnid").disabled = false;
                }  
        })
    }
})


</script>
{% endblock body %}