{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        Modify Entity - {{data.name}}
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" name='entity' onsubmit='return validate_entity()' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Name<sup>*</sup></label>
                    <input type="text" class="form-control" name="name"  value="{{data.name}}" id='nameid'>
                    <p style='color:#ff0000;position:absolute' id='name-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">


                    <label class="form-label">Legal Name<sup>*</sup></label>
                    <input type="text" class="form-control" name="legal_name" value="{{data.legalName}}">
                     <p style='color:#ff0000;position:absolute' id='legal_name-m'></p>

                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Entity Purpose</label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name='entity_purpose' id="entitypurposeid">
                    <option selected value="{{data.entityPurpose.id}}">{{data.entityPurpose.entityPurpose}}</option>
                    {% for i in entity_purpose%}
                        <option value="{{ i.node.id }}">{{ i.node.entityPurpose }}</option>
                        {% endfor %}
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Entity Type<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="entity_type" id="entitytypeid" onchange="yesnoCheck(this);">
                        <option selected value="{{data.entityType.id}}">{{data.entityType.entityType}}</option>
                        {% for i in entity_type%}
                        <option value="{{ i.node.id }}">{{ i.node.entityType }}</option>
                        {% endfor %} 
                        </select>
                    <div class="clearfix"></div>
                </div>
            </div>
            {% comment %} {% ifnotequal data.entityType.entityType "Company" %} {% endcomment %}
            <div class="form-row">
                
              <div class="form-group col-md-6"  id="base_entity" style="display:block;">
                   
                    <label class="form-label">Main/Head Entity<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="base_entity" id="base_id">
                        <option selected value="{{parent_base.baseEntity.id}}">{{parent_base.baseEntity.name}}</option>
                        {% comment %} {% for i in base_entities%}
                        <option value="{{ i.node.id }}">{{ i.node.name }}</option>
                        {% endfor %} {% endcomment %}
                        </select>
                    <div class="clearfix"></div>
                </div>
                  <div class="form-group col-md-6"  id="parent_entity" style="display:block;">
                    <label class="form-label">Parent Entity<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="parent_entity" id="parent_id">
                        <option selected value="{{parent_base.parentEntity.id}}">{{parent_base.parentEntity.name}}</option>
                        {% for j in parent_entities%}
                        <option value="{{ j.node.id }}">{{ j.node.name }}</option>
                        {% endfor %}
                        </select>
                    <div class="clearfix"></div>
                </div>
               
            </div>
            {% comment %} {% endifnotequal  %} {% endcomment %}
            <div class="form-row">
                <div class="form-group col-md-6">

                    <label class="form-label">Industry<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name='industry' id="industryid">
                    <option selected value="{{data.industry.id}}">{{data.industry.industry}}</option>
                    {% for i in entity_industry%}
                        <option value="{{ i.node.id }}">{{ i.node.industry }}</option>
                        {% endfor %}
                    </select>

                    <div class="clearfix"></div>
                </div>
                 <div class="form-group col-md-6">
                    <label class="form-label">Code</label>
                    <input type="text" class="form-control" name="code" value="{{data.code}}">
                    <div class="clearfix"></div>
                </div>
               
            </div>
         <div class="form-row">
               
                <div class="form-group col-md-6">

                    <label class="form-label">Abbrv</label>
                    <input type="text" class="form-control" name="abbrv" value="{{data.abbrv}}">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" name="emailid" value="{{data.email}}">
                    <div class="clearfix"></div>
                </div>
            </div>
         <div class="form-row">
                
                    <div class="form-group col-md-6">

                    <label class="form-label">Phone</label>
                    <input type="text" class="form-control" name="phone" value="{{data.phone}}" minlength='10'>

                    <div class="clearfix"></div>
                </div>


            </div>


            <div class="form-row float-right mr-1">
                <button type="submit" class="btn btn-primary btn-block " id='btnid'>Update</button>
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
function a(){
var optionValues =[];
$('#entitytypeid option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
var optionValues =[];
$('#industryid option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
var optionValues =[];
$('#entitypurposeid option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
}

     function yesnoCheck(that) {

    if (that.value == "1") {

        document.getElementById("base_entity").style.display = "none";
        document.getElementById("parent_entity").style.display = "none";
        } else
        {
        document.getElementById("base_entity").style.display = "block";
        document.getElementById("parent_entity").style.display = "block";
        }
    } 

    function base_to_parent(){
    const belongsTo = document.querySelector("#parent_id");
    const userType = document.querySelector("#base_id");

    userType.addEventListener("click", (e) => {
        belongsTo.innerHTML = ``
        const searchValue = e.target.value;
        console.log(searchValue);

        if (searchValue.trim().length > 0 && searchValue !== "Please Select Base Entity") {
            console.log('Prateek');
            console.log(searchValue);
            fetch("{% url 'fetchid' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    console.log("data", data);
                    if (data.length === 0) {
                        distriDDL.innerHTML =
                            `<option>No Parent</option>`
                    }
                    else {
                        data.forEach((item) => {
                                var e = document.getElementById("base_id");
                                var strUser = e.value;
                                //console.log('hello',strUser)

                        if (searchValue ===strUser){

                            belongsTo.innerHTML += `
                                    <option value="${item.id}">${item.name}</option>
                                    `;
                        }



                        })
                    }
                })
}
})
    }

base_to_parent();
a();



</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'entity/js/entity.js' %}"></script>
<script src="{% static 'user/js/phonevalidation.js' %}"></script>



</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'entity/js/entity.js' %}"></script>
<script src="{% static 'user/js/phonevalidation.js' %}"></script>
<script >
const entity_name = document.getElementById("nameid");
const warning_m = document.getElementById("name-m");
entity_name.addEventListener("input", (e) => {
    warning_m.innerHTML =''
    const searchValue = e.target.value;
        if (searchValue.trim().length > 0) {
        fetch("{% url 'entity_name' %}", {
            body: JSON.stringify({ search: searchValue }),
            method: "POST",
        }).then((res) => res.json())
            .then((data) => {
                var x = document.getElementById("name-m").innerHTML=data;
                if(x=="This value already exists!")
                {document.getElementById("btnid").disabled = true;}
                else{
                    document.getElementById("btnid").disabled = false;
                }  
        })
    }
})
</script>
{% endblock body %}