{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        View Brand name - {{data.entity.name}}
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data" name='brand1' onsubmit="return validate_brand()">
            {% csrf_token %}
          
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Entity Name<sup>*</sup></label>
                    <input type='text' class='form-control' value="{{data.entity.name}}" name="entity" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Brand Name<sup>*</sup></label>
                    <input type="text" class="form-control" name="brandname" value="{{data.Brand}}" id='brandnameid' readonly>
                    <div class="clearfix"></div>
                </div>
            </div>
            

            
            <div class="form-row float-right mr-1">
                <a href="{% url 'update_brand' data.id%}">
                <button type="button" class="btn btn-primary btn-block " id='btnid'>Edit</button>
              </a>
            </div>
          
            <div class="form-row float-right mr-3">
            <a href="{% url 'brand_list' %}">
            <button type="button" class="btn btn-primary btn-block " id='btnid'>Back</button>
           </a>
            </div>
        </form>
    </div>
</div>

{% endblock body %}