{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        View Entity - {{data.name}}
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
            <div class="form-row">
                <div class="form-group col-md-6">

                    <label class="form-label">Name<sup>*</sup></label>
                    <input type="text" class="form-control" name="name" required value="{{data.name}}" readonly>

                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">

                    <label class="form-label">Legal Name<sup>*</sup></label>
                    <input type="text" class="form-control" name="legal_name" value="{{data.legalName}}" readonly>

                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Entity Purpose</label>
                    <input type="text" class="form-control" name="entity_purpose" value="{{data.entityPurpose.entityPurpose}}" readonly>

                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Entity Type<sup>*</sup></label>
                    <input type="text" class="form-control" name="entity_type" value="{{data.entityType.entityType}}" readonly>


                    <div class="clearfix"></div>
                </div>
            </div>
           {% ifequal data.entityType.entityType 'Company' %}
           {% comment %} <div class="form-row">
            <div class="form-group col-md-6">
                    <label class="form-label">Base Entity<sup>*</sup></label>
                    <input type="text" class="form-control" name="base_entity" value="{{parent_base.baseEntity.name}}" readonly>
                    <div class="clearfix"></div>
                </div>

                <div class="form-group col-md-6">

                    <label class="form-label">Parent Entity<sup>*</sup></label>
                    <input type="text" class="form-control" name="parent_entity" value="{{parent_base.parentEntity.name}}" readonly>

                    <div class="clearfix"></div>
                </div>
            </div> {% endcomment %}
            {% else %}
            <div class="form-row">
                <div class="form-group col-md-6">
                        <label class="form-label">Main/Head Entity<sup>*</sup></label>
                        <input type="text" class="form-control" name="base_entity" value="{{parent_base.baseEntity.name}}" readonly>
                        <div class="clearfix"></div>
                    </div>
    
                    <div class="form-group col-md-6">
    
                        <label class="form-label">Parent Entity<sup>*</sup></label>
                        <input type="text" class="form-control" name="parent_entity" value="{{parent_base.parentEntity.name}}" readonly>
    
                        <div class="clearfix"></div>
                    </div>
                </div>
            {% endifequal %}


            <div class="form-row">
                <div class="form-group col-md-6">

                    <label class="form-label">Industry<sup>*</sup></label>
                    <input type="text" class="form-control" name="industry" value="{{data.industry.industry}}" readonly>

                    <div class="clearfix"></div>
                </div>
                  <div class="form-group col-md-6">


                    <label class="form-label">Code</label>
                    <input type="text" class="form-control" name="code" value="{{data.code}}" readonly>
                    <div class="clearfix"></div>
                </div>
            </div>
         <div class="form-row">
              
                <div class="form-group col-md-6">

                    <label class="form-label">Abbrv</label>
                    <input type="text" class="form-control" name="abbrv" value="{{data.abbrv}}" readonly>

                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" name="emailid" value="{{data.email}}" readonly>
                    <div class="clearfix"></div>
                </div>
            </div>
         <div class="form-row">
                
                    <div class="form-group col-md-6">

                    <label class="form-label">Phone</label>
                    <input type="text" class="form-control" name="phone" value="{{data.phone}}" readonly>

                    <div class="clearfix"></div>
                </div>


            </div>


            <div class="form-row float-right mr-1">
                <a href="{%url 'update_entity' data.id%}"><button class="btn btn-primary btn-block ">Edit</button></a>
            </div>

            <div class="form-row float-right mr-3">
                <a href="{% url 'entity_list' %}"><button class="btn btn-primary btn-block ">Back</button></a>
            </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


{% endblock body %}