{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        View Address-{{details.entity.name}}
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="form-label">Address label<sup>*</sup></label>
                    <input type="text" class="form-control" name="addresslabel" value="{{details.addressLabel}}" readonly>
                    <div class="clearfix"></div>
                </div></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Address1<sup>*</sup></label>
                    <input type="text" class="form-control" name="address1" value="{{details.line1}}" readonly>

                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Address2</label>
                    <input type="text" class="form-control" name="address2" value="{{details.line2}}" readonly>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Country<sup>*</sup></label>
                    <input type="text" class="form-control" name="country" value="{{details.country}}" readonly>
                 
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">State<sup>*</sup></label>
                    <input type='text' class="form-control" value='{{details.state}}' name='state' readonly>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">District<sup>*</sup></label>
                    <input type="text" class='form-control' value="{{details.district}}" name="district" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">City</label>
                    <input type="text" class="form-control" name="city" value="{{details.city}}" readonly>
                    <div class="clearfix"></div>
                </div>
            </div>
         
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Locality<sup>*</sup></label>
                    <input type='text' class="form-control" name='locality' value='{{details.locality}}' readonly>
        
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Pincode<sup>*</sup></label>
        
                    <input type='text' class="form-control" name='pincode' value='{{details.pincode}}' readonly>
                    <div class="clearfix"></div>
                </div>
            </div>
         <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Latitude</label>
                    <input type="text" class="form-control" name="lat"  value="{{details.lat}}"readonly >
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Longitude</label>
                    <input type="text" class="form-control" name="long" value="{{details.long}}" readonly>
                    <div class="clearfix"></div>
                </div>
            </div>
         <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">GST</label>
                    <input type="text" class="form-control" name="gst" value="{{details.gst}}" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Entity Name<sup>*</sup></label>
                    <input type='text' class="form-control" name='entity' value="{{details.entity.name}}" readonly>
                    
                    <div class="clearfix"></div>
                </div>
               
            </div>
            
            <div class="form-row float-right mr-1">
              <a href="{% url 'update_address' details.id %}">
                <button type="button" class="btn btn-primary btn-block ">Edit</button>
              </a>
            </div>
            <div class="form-row float-right mr-3">
                <a href="{% url 'address_list'%}">
              <button type="button" class="btn btn-primary btn-block ">Back</button>
               </a>
            </div>
        </form>
    </div>
</div>
{% endblock body %}