{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        {% trans "View" %}- {{data.name}}
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data" action="" name='subcategory' onsubmit='return validate_subcategory()'>
            {% csrf_token %}
          
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Name" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="name" value="{{data.name}}" readonly>
                   
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Abbv" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="abbv" value='{{data.abbv}}' readonly>
                   
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Hsn" %}</label>
                    <input type="text" class="form-control" name= "hsn" value="{{data.hsn}}" readonly>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Product Category Name" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name= "category" value="{{data.category.name}}" readonly>
                    
                    <div class="clearfix"></div>
                </div>
            </div>
            

      
            <div class="form-row float-right mt-4 mr-1">
                <a href="{% url 'update_product_subcategory' data.id%}">
                <button type="button" class="btn btn-primary btn-block ">{% trans "Edit" %}</button>
                </a>
            </div>
            <div class="form-row float-right mt-4 mr-3">
                <a href="{% url 'product_subcategory_list' %}">
                <button type="button" class="btn btn-primary btn-block ">{% trans "Back" %}</button>
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock body %}