{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4" xmlns="http://www.w3.org/1999/html">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        {% trans "View" %} - {{types.entityType}}
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" name="entity_type" onsubmit="return validate_entitytype()" >
            {% csrf_token %}
          
            <div class="form-row">
                
                      

                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Entity Type" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="entitytype" value='{{types.entityType}}' id="et" autocomplete="off" readonly>
                    
                    <div class="clearfix"></div>
                </div>

         
    <input type="checkbox" id="checkbox2" name="isbase" value="{{types.isBase}}" class="mt-2" disabled>
    <label for="checkbox2">{% trans "Is base" %}</label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="haschildren" id="checkbox1" value="{{types.hasChildren}}" disabled>



    <label for="checkbox1">{% trans "Has Children" %}</label>
    </div>
    <div class="form-row float-left mt-2 ml-4">
                <a href="{% url 'entity_type_list'%}">
                <button type="button" class="btn btn-primary btn-block ">{% trans "Back" %}</button>
                 </a>
            </div>
            <div class="form-row float-left mt-2 ml-4">
                <a href="{% url 'update_entity_type' types.id %}">
                <button type="button" class="btn btn-primary btn-block ">{% trans "Edit" %}</button>
                 </a>
            </div>
            
        </form>
    </div></div>



{% endblock body %}