{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">
        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        {% trans "View" %} - {{data.industry}}
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data" action="" name='industry_name' onsubmit='return validate_industry()'>
            {% csrf_token %}
          
            <div class="form-row">
                
                      

                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Industry Name" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="industry_name" value="{{data.industry}}" id="industry"  autocomplete="off" readonly>
                    <div class="clearfix"></div>
                </div>
            </div> 
            <div class="form-row float-left mt-2 ml-1">
                <a href="{% url 'industry_list'%}">
                <button type="button" class="btn btn-primary btn-block ">{% trans "Back" %}</button>
            </a>
            </div>
            <div class="form-row float-left mt-2 ml-3">
                <a href="{%url 'update_industry' data.id %}">
                <button type="button" class="btn btn-primary btn-block ">{% trans "Edit" %}</button>
            </a>
            </div>
        </form>
    </div>
</div>
{% endblock body %}