{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
<div class="authentication-inner py-5">
<div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        {% trans "View Entity" %}- {{purposes.entityPurpose}}
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" name='entity_purpose' onsubmit="return validate_entitypurpose()">
            {% csrf_token %}
          
            <div class="form-row">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Entity Purpose" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="entitypurpose" value="{{purposes.entityPurpose}}" id="ep" autocomplete="off" readonly>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row float-left mt-2 ml-1">
                 <a href="{% url 'entity_purpose_list'%}">
                <button type="button" class="btn btn-primary btn-block ">{% trans "Back" %}</button>
            </div>
            <div class="form-row float-left mt-2 ml-3">
                 <a href="{% url 'update_entity_purpose' purposes.id%}">
                <button type="button" class="btn btn-primary btn-block ">{% trans "Edit" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock body %}