{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        {% trans "View" %}-{{data.term}}

                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data" action="" name='paymenttemrs' onsubmit='return validate_paymentterms()'>
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
              <label class="form-label">{% trans "Term" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="term" id="term" value="{{data.term}}" autocomplete="off" readonly>
                    <p style='color:#ff0000;position:absolute;' id='term-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Credit Days" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="creditdays" id="creditdays" autocomplete="off" value="{{data.creditDays}}" readonly>
                    <p style='color:#ff0000;position:absolute;' id='creditdays-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
              <label class="form-label">{% trans "Payment Percent" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="paymentpercent" id="paymentpercent" value="{{data.paymentPercent}}" autocomplete="off" readonly>
                    <p style='color:#ff0000;position:absolute;' id='paymentpercent-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    {% comment %} <label class="form-label">Transaction Doctype<sup>*</sup></label>
                    <input type="text" class="form-control" name="transactiondoctype" id="" autocomplete="off">
                    <p id="message" style="color:red"></p>
                    <p style='color:#ff0000;position:absolute;' id='industry-m'></p> {% endcomment %}
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <div class="form-row float-left mt-2 ml-4">
              <a href="{%url 'paymentterms_list'%}">
              <button type="button" class="btn btn-primary btn-block ">{% trans "Back" %}</button>
               </a>
          </div>
          <div class="form-row float-left mt-2 ml-4">
              <a href="{% url 'update_paymentterms' data.id%}">
              <button type="button" class="btn btn-primary btn-block ">{% trans "Edit" %}</button>
               </a>
          </div>
        </form>
    </div>
</div>


{% endblock body %}