{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
	<div class="authentication-inner py-5">

		<!-- [ Logo ] Start -->
		<div class="d-flex justify-content-left align-items-left">
			<div class="ui-w-150">
				<div class="w-100 position-relative">
					<h2 class="float-left">
						
						
            {% trans "Create Crm Status" %}
					</h2>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<hr/>
		<!-- [ Logo ] End -->

		<!-- [ Form ] Start -->
		<form class="my-2" method="post" enctype="multipart/form-data" name='status' onsubmit="return crm_status()" >
			{% csrf_token %}
		  
			<div class="form-row">
				
					  

					<div class="clearfix"></div>
				</div>
				<div class="form-group col-md-6">
					<label class="form-label">{% trans "Status" %}<sup>*</sup></label>
					<input type="text" class="form-control" name="status" id="status">
          <p style='color:#ff0000;position:absolute;'id='status-m'></p>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="form-row float-left mt-2 ml-4">
				<button type="submit" class="btn btn-primary btn-block" id="btnid">{% trans "Submit" %}
				</button>
			</div>
		</form>
	</div>
</div>
<script src="{% static 'master/js/crm_status.js' %}"></script>
<script>
	const e = document.getElementById("status");
	const warning_m = document.getElementById("status-m");
	e.addEventListener("input", (e) => {
			warning_m.innerHTML =''
			const searchValue = e.target.value;
			if (searchValue.trim().length > 0) {
					fetch("{% url 'crmstatuss' %}", {
							body: JSON.stringify({ search: searchValue }),
							method: "POST",
					}).then((res) => res.json())
							.then((data) => {
									var x = document.getElementById("status-m").innerHTML=data;
									if(x=="This value already exists!")
									{document.getElementById("btnid").disabled = true;}
									else{
											document.getElementById("btnid").disabled = false;
									}  
					})
			}
	})
	</script>
{% endblock body %}