{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">
        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        {% trans "Create Payment Term" %}
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data" action="" name='paymenttemrs' onsubmit='return validate_paymentterms()'>
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
              <label class="form-label">{% trans "Term" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="term" id="term" autocomplete="off">
                    <p style='color:#ff0000;position:absolute;' id='term-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Credit Days" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="creditdays" id="creditdays" autocomplete="off">
                    <p style='color:#ff0000;position:absolute;' id='creditdays-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
              <label class="form-label">{% trans "Payment Percent" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="paymentpercent" id="paymentpercent" autocomplete="off">
                    <p style='color:#ff0000;position:absolute;' id='paymentpercent-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    {% comment %} <label class="form-label">Transaction Doctype<sup>*</sup></label>
                    <input type="text" class="form-control" name="transactiondoctype" id="" autocomplete="off">
                    <p id="message" style="color:red"></p>
                    <p style='color:#ff0000;position:absolute;' id='industry-m'></p> {% endcomment %}
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <div class="form-row float-left mt-2 ml-4">
                <button type="submit" class="btn btn-primary btn-block" id="btnid">{% trans "Submit" %}</button>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'master/js/paymentterms.js' %}"></script>
 <script>
    function m(){
    const e = document.getElementById("term");
    const warning_m = document.getElementById("term-m");
    e.addEventListener("input", (e) => {
        warning_m.innerHTML =''
        const searchValue = e.target.value;
        if (searchValue.trim().length > 0) {
            fetch("{% url 'paymentterms' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    var x = document.getElementById("term-m").innerHTML=data;
                    if(x=="This value already exists!")
                    {document.getElementById("btnid").disabled = true;}
                    else{
                        document.getElementById("btnid").disabled = false;
                    }  
            })
             }
            })
        }
function k(){
    const e = document.getElementById("creditdays");
    
    const warning_m = document.getElementById("creditdays-m");
    e.addEventListener("input", (e) => {
        warning_m.innerHTML =''
        const searchValue = e.target.value;
        console.log(searchValue);
        if (searchValue.trim().length > 0) {
            fetch("{% url 'paymentcreditdays' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    var x = document.getElementById("creditdays-m").innerHTML=data;
                    if(x=="This value already exists!")
                    {document.getElementById("btnid").disabled = true;}
                    else{
                        document.getElementById("btnid").disabled = false;
                    }  
            })
        }
    })
    
        }
function n(){
    const e = document.getElementById("paymentpercent");
    
    const warning_m = document.getElementById("paymentpercent-m");
    e.addEventListener("input", (e) => {
        warning_m.innerHTML =''
        const searchValue = e.target.value;
        console.log(searchValue);
        if (searchValue.trim().length > 0) {
            fetch("{% url 'paymentpercent' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    var x = document.getElementById("paymentpercent-m").innerHTML=data;
                    if(x=="This value already exists!")
                    {document.getElementById("btnid").disabled = true;}
                    else{
                        document.getElementById("btnid").disabled = false;
                    }  
            })
        }
    })
    
        }
        m();
        k();
        n();
    </script>
     
{% endblock body %}