{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                    {% trans "Create Product Subcategory" %}
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data" action="" name='subcategory' onsubmit='return validate_subcategory()'>
            {% csrf_token %}
          
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Name" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="name" id="name" maxlength="256" autocomplete="off">
                    <p id="message" style="color:red"></p>
                    <p style='color:#ff0000; position:absolute;' id='name-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Abbv" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="abbv" id="abbrv" maxlength="8" autocomplete="off">
                    <p id="message1" style="color:red"></p>
                    <p style='color:#ff0000; position:absolute;' id='abbv-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
     
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "SubCategory Hsn" %}</label>
                    <input type="text" class="form-control" name="hsn" maxlength="10">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "SubCategory Code" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="code" maxlength="3">
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "SubCategory SGST" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="subcatsgst">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "SubCategory CGST" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="subCatCgst">
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "SubCategory IGST" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="subCatIgst">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Product Category Name" %}<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="category">
                    <option selected disabled>{% trans "Please Select Product Category Name" %}</option>
                        {% for i in data %}
                    <option value="{{i.node.id}}">{{i.node.name}}</option>
                        {% endfor %}
                    </select>
                    <p style='color:#ff0000; position:absolute;' id='pname-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="form-row float-right mt-2">
                <button type="submit" class="btn btn-primary btn-block ">{% trans "Submit" %}</button>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'master/js/subcategory.js' %}"></script>
<script>
function check_unique_prodname(){
    const belongsTo = document.querySelector("#message");
    const userType = document.querySelector("#name");
    userType.addEventListener("input", (e) => {
        belongsTo.innerHTML = ``
        const searchValue = e.target.value;
        console.log(searchValue);

        if (searchValue.trim().length > 0 && searchValue !== "Enter Name") {
            fetch("{% url 'check_unique_prodsubname' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    var x = document.getElementById("message").innerHTML=data;
                    if (data.length === 0) {
                        distriDDL.innerHTML =
                            `<option>No State</option>`
                    }
                    else {
                        data.forEach((item) => {
                                var e = document.getElementById("ep");
                                var strUser = e.value;
                                console.log('hello',strUser)

                        if (searchValue ===strUser){

                            belongsTo.innerHTML += `
                                    <option value="${item.Locality}">${item.Locality}</option>
                                    `;
                        }
                    })
                }
            })
        }
    })
}

function check_unique_prodabbrv(){
    const belongsTo = document.querySelector("#message1");
    const userType = document.querySelector("#abbrv");
    userType.addEventListener("input", (e) => {
        belongsTo.innerHTML = ``
        const searchValue = e.target.value;
        console.log(searchValue);

        if (searchValue.trim().length > 0 && searchValue !== "Enter Abbv") {
            fetch("{% url 'check_unique_prodsubabbrv' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    var x = document.getElementById("message1").innerHTML=data;
                    if (data.length === 0) {
                        distriDDL.innerHTML =
                            `<option>No State</option>`
                    }
                    else {
                        data.forEach((item) => {
                                var e = document.getElementById("ep");
                                var strUser = e.value;
                                console.log('hello',strUser)

                        if (searchValue ===strUser){

                            belongsTo.innerHTML += `
                                    <option value="${item.Locality}">${item.Locality}</option>
                                    `;
                        }
                    })
                }
            })
        }
    })
}

check_unique_prodname();
check_unique_prodabbrv();

</script>
{% endblock body %}