{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        {% trans "Create User Type" %}
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data" name='usertype'onsubmit="return validate_usertype()">
            {% csrf_token %}
          
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Type" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="type" id="type">
                   <p style='color:#ff0000;position:absolute;' id='type-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Code" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="code" maxlength="1" autocomplete="off" id="codeid">
                    
                    <p style='color:#ff0000;position:absolute;' id='code-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Is Edit" %}<sup>*</sup></label>
                     <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="isedit" id="user_type" required>
                        <option selected>N</option>
                        <option>Y</option>
                        
                    </select>
                   
                    <div class="clearfix"></div>
                </div>
               
            </div> 
            <div class="form-row float-left mt-4 ml-4">
                <button type="submit" class="btn btn-primary btn-block " id="btnid">Submit</button>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'master/js/usertype.js' %}"></script>


<script>
    const e = document.getElementById("type");
    const warning_m = document.getElementById("type-m");
    e.addEventListener("input", (e) => {
        warning_m.innerHTML =''
        const searchValue = e.target.value;
        if (searchValue.trim().length > 0) {
            fetch("{% url 'user_types' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    var x = document.getElementById("type-m").innerHTML=data;
                    if(x=="This value already exists!")
                    {document.getElementById("btnid").disabled = true;}
                    else{
                        document.getElementById("btnid").disabled = false;
                    }  
            })
        }
    })
    
    </script>
<script>
    const e = document.getElementById("codeid");
    const warning_m = document.getElementById("code-m");
    e.addEventListener("input", (e) => {
        warning_m.innerHTML =''
        const searchValue = e.target.value;
        if (searchValue.trim().length > 0) {
            fetch("{% url 'user_codes' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    var x = document.getElementById("code-m").innerHTML=data;
                    if(x=="This value already exists!")
                    {document.getElementById("btnid").disabled = true;}
                    else{
                        document.getElementById("btnid").disabled = false;
                    }  
            })
        }
    })
    
    </script>
{% endblock body %}