{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        
                        {% trans "Create Entity Type" %}


                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
    <form class="my-2" method="post" name="entity_type" onsubmit="return validate_entitytype()">
        {% csrf_token %}
    <div class="form-row">
        <div class="clearfix"></div>
    </div>
    <div class="form-group col-md-6">
        <label class="form-label">{% trans "Entity Type" %}<sup>*</sup></label>
        <input type="text" class="form-control" name="entitytype" id="et" autocomplete="off">
        <p style="color:#ff0000;position:absolute;" id="entitytype-m"></p>
        <div class="clearfix"></div>
    </div>
    <input type="checkbox" id="checkbox1" name="isbase" value="False" class='mt-2'>
    <label for="checkbox1">{% trans "Is base" %}</sup></label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="checkbox2" name="haschildren" value="False">
    <label for="checkbox2">{% trans "Has Children" %} </sup></label>
            </div>
            <div class="form-row float-left mt-2 ml-4">
                <button type="submit" class="btn btn-primary btn-block " id="btnid">{% trans "Submit" %}

                    </button>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'master/js/entity_type.js' %}"></script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
 $('#checkbox-value').text($('#checkbox1').val());
$("#checkbox1").on('change', function() {
  if ($(this).is(':checked')) {
    $(this).attr('value', 'true');
  } else {
    $(this).attr('value', 'false');
  }
});
$('#checkbox-value').text($('#checkbox2').val());
$("#checkbox2").on('change', function() {
  if ($(this).is(':checked')) {
    $(this).attr('value', 'true');
  } else {
    $(this).attr('value', 'false');
  }
});
</script>

<script>
    const e = document.getElementById("et");
    const warning_m = document.getElementById("entitytype-m");
    e.addEventListener("input", (e) => {
        warning_m.innerHTML =''
        const searchValue = e.target.value;
        if (searchValue.trim().length > 0) {
            fetch("{% url 'entitytypes' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    var x = document.getElementById("entitytype-m").innerHTML=data;
                    if(x=="This value already exists!")
                    {document.getElementById("btnid").disabled = true;}
                    else{
                        document.getElementById("btnid").disabled = false;
                    }  
            })
        }
    })
    </script>
{% endblock body %}