{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}
{% block body %}
<div class="container my-5">
    <h2 class="display"> {% trans "Product Packaging Confirmation" %} - {{data.packagingType}}</h2>
    <hr/>
    {% comment %} {% url 'deleteuser' user.id %}' {% endcomment %}
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4">
                <p>{% trans "Are you sure want to delete" %} <b>{{data.packagingType}}</b>?</p>
            </div>
        </div>

<a href="{% url 'productpackaginglist' %}"> <button type="button" class="btn btn-secondary">{% trans "Close" %}</button></a>
<!--          <form method="post">-->
<button type="submit" class="btn btn-primary">{% trans "Delete" %}</button>
</form>
</div>
{% endblock body %}