{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}
{% block body%}
<div class="container-fluid my-2">
    <div class="form-row my-2 float-left ml-1">
       <h2>{% trans "Manage Entity Purposes" %}</h2>
    </div>
    <div class="form-row  float-right ">
          <a href="{% url 'create_entity_purpose' %}">
                <button type="button" class="btn btn-primary btn-block mt-2 ">{% trans "Create Entity Purpose" %}</button>
            </a>
        </div>
        <div class="form-row  float-right mr-3 ">  
            <a href="{% url 'export_entity_purpose' %}"> 
                <button type="button" class="btn btn-primary btn-block mt-2 " >{% trans "Export" %}</button>
            </a>
               </div>
       {% comment %} <div class="form-row  float-right mr-3 ">   
                <button type="button" class="btn btn-primary btn-block mt-2 " data-toggle="modal" data-target="#myModals">{% trans "Upload" %}</button>
           </div> {% endcomment %}


    <br/>
    <br/>
    <br/>
    <br>
    {% comment %} {% if messages %}
    {% for message in messages %}
     <span class="text-center" style="color:#ff0000;">{{message}}</span><br><br>
    {% endfor %}
    {% endif %} {% endcomment %}
    <!--     my-2 float-right mr-1-->
    <div class="container-fluid">
        
      <form method="POST" action="" enctype="multipart/form-data">
       {% csrf_token %}
   <div class="form-row">
       <div class="form-group col-md-5">
           <input type="text" class="form-control mt-2" placeholder="{% ifnotequal request.session.entityPurposeSearch None %}{{request.session.entityPurposeSearch}}{% else %}{% trans "Click to Search.... " %}{% endifnotequal %}" id="search"  name="entityPurposeSearch" />
       </div>

       <div class="form-group col-md-1">
           <button type="submit" class="btn btn-primary btn-block mt-2" name="Search" value="Search" >{% trans "Search" %}</button>
       </div>
       <div class="form-group col-md-2 offset-3 mt-2" >
           <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="entityPurposeSize" onchange="this.form.submit()" id="masterentitypurpose" style="width:80px!important;" >
           <option selected disabled>{% ifnotequal request.session.entityPurposePageSize None %}{{request.session.entityPurposePageSize}}{% else %}{% trans "Page Size" %}{% endifnotequal %}</option>
           <option value="20">20</option>
           <option value="30">30</option>
           <option value="40">40</option>
           </select>
       </div>
       <div class="form-group col-md-1 mt-2">
           <button type="submit" class="btn btn-primary btn-block " name="Clear" value="Clear" >{% trans "Clear" %}</button>
       </div>

       
       

   </div>
            </form>
       
   </div>

  <div class ="table-list" style="overflow-x:auto;">
  <table class ="table table-striped table-hover" id="list">
      <thead class="thead-dark">

      <tr>
      <form method="POST">
        {% csrf_token %}
      {% comment %} <th><button class="btn btn-link" style="color:#ffffff;margin-left:-13px;" name="id" value="Id">Id<i class="fa fa-fw fa-sort"></i></button></th> {% endcomment %}
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:60px;" name="entitypurpose" value="Entity Purpose">{% trans "Entity Purpose" %}<i class="fa fa-fw fa-sort"></i> </button></th>
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:-26px; cursor:auto;">{% trans "Action" %}</button></th>
        </form>
    </tr>
      </thead>
        <div>
        
            {% for entity in entity_list %}
            <tr>
                {% comment %} <td >{{ entity.node.id }}</td> {% endcomment %}
                <td><a href="{%url 'view_entity_purpose' entity.node.id %}" target="_blank" style="color:#000000;margin-left:80px;">{{ entity.node.entityPurpose }}</a></td>
                <td><a href="{%url 'update_entity_purpose' entity.node.id%}"><i class="feather icon-edit"></i></a>
                <a href="{%url 'delete_entity_purpose' entity.node.id%}"><i class="lnr lnr-trash"></i></a></td> 
            </tr>
            {% endfor %} 
            </div>
  </table>
    </div>
  
  <span class='text-center'>
   {% if max_page > 0 %}
  
  <form method="POST">
    {% csrf_token %}
    <span>
    <button type="submit" name="First" value="First" class="btn btn-primary">{% trans "First" %}</button>
    {% ifnotequal request.session.entityPurposeCurrentPage  1 %}
    <button type="submit" name="Previous" value="Previous" class="btn btn-primary">{% trans "Previous" %}</button>
    {% endifnotequal %}
    {% trans "page" %} <b>{{request.session.entityPurposeCurrentPage}}</b>{% trans "of" %}  <b> {{max_page}}</b>
    {% ifnotequal max_page  request.session.entityPurposeCurrentPage %}
    <button type="submit" name="Next" value="Next" class="btn btn-primary">{% trans "Next" %}</button>
    {% endifnotequal %}
    <button type="submit" name="Last" value="Last" class="btn btn-primary">{% trans "Last" %}</button> &nbsp;&nbsp;[{{max_row}}]
 
  </span>
  </form>
  {%else%}
  <br>
  <br>
  <br>
   <h5>{% trans "No Results Found" %}</h5>
    {% endif%}
</span> 

<!--end  Pagination-->
</div>
<script src="{% static 'master/js/table-sort.js' %}"></script>
<!--Upload Model-->
{% comment %} <div class="container">
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="myModals" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{% trans "Upload File" %}</h4>
          </div>
          <div class="modal-body">
            <form method="POST" enctype="multipart/form-data" action="{% url 'masterPurpose' %}">
            {%csrf_token %}
             <div class="form-row">
             <div class="form-group col-md-12">
                <input type="file" class="form-control" name="files">
                <div class="clearfix"></div>
                </div>
             </div> 
                  <br>
              <div class='row '>
              <div class='col-md-6 mt-4'>
              <button type="submit" class="btn btn-primary btn-block" value='Upload' name="uploadexcel" >{% trans "Submit" %}</button>
              </div>
             <div class='col-md-6 mt-4'>
             <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
             </div>
             </div>
            </form>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
<!-- End Upload Model-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var optionValues =[];
$('#masterentitypurpose option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
</script
{% endblock body %}