{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body%}

<div class="container-fluid my-2">
    <div class="form-row my-2 float-left ml-1">
        <h2>{% trans "Manage Entity Types" %}</h2>
    </div>
    <div class="form-row  float-right ">
           <a href="{% url 'create_entity_type' %}">
                <button type="button" class="btn btn-primary btn-block mt-2 ">{% trans "Create Entity Type" %}</button>
            </a>
        </div>

    <div class="form-row  float-right mr-3 ">  
      <a href="{% url 'export_entity_purpose' %}"> 
          <button type="button" class="btn btn-primary btn-block mt-2 " >{% trans "Export" %}</button>
      </a>
          </div>
  {% comment %} <div class="form-row  float-right mr-3 ">   
    <button type="button" class="btn btn-primary btn-block mt-2 " data-toggle="modal" data-target="#myModals">{% trans "Upload" %}</button>
  </div> {% endcomment %}

    <br/>
    <br/>
    <br/>
    <br>
    <!--     my-2 float-right mr-1-->
    <div class="container-fluid">
        
      <form method="POST" action="" enctype="multipart/form-data">
       {% csrf_token %}
   <div class="form-row">
       <div class="form-group col-md-3">
           <input type="text" class="form-control mt-2" placeholder="{% ifnotequal request.session.masterEntityTypeSearch None %}{{request.session.masterEntityTypeSearch}}{% else %}{% trans "Click to Search.... " %}{% endifnotequal %}" id="search"  name="searchEntityType" />
       </div>

       <div class="form-group col-md-1">
           <button type="submit" class="btn btn-primary btn-block mt-2" name="Search" value="Search" >{% trans "Search" %}</button>
       </div>
       <div class="form-group col-md-2  mt-2" >
           <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="masterEntityTypeIsBase" onchange="this.form.submit()" id="isbaseid"  >
           <option selected disabled>{% ifnotequal request.session.masterEntityTypeIsBase None %}{{request.session.masterEntityTypeIsBase}}{% else %}{% trans "Is Base" %}{% endifnotequal %}</option>
           <option value="True">True</option>
           <option value="False">False</option>
         
           </select>
       </div>
       <div class="form-group col-md-2  mt-2" >
           <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="masterEntityTypeHasChildren" onchange="this.form.submit()" id="haschildrenid"  >
           <option selected disabled>{% ifnotequal request.session.masterEntityTypeHasChildren None %}{{request.session.masterEntityTypeHasChildren}}{% else %}{% trans "Has Children" %}{% endifnotequal %}</option>
           <option value="True">True</option>
           <option value="False">False</option>
           
           </select>
       </div>
       <div class="form-group col-md-2 mt-2" >
           <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="masterEntityTypePageSize" onchange="this.form.submit()" id="masterentityTypeid" style="width:80px!important;" >
           <option selected disabled>{% ifnotequal request.session.masterEntityTypePageSize None %}{{request.session.masterEntityTypePageSize}}{% else %}{% trans "Page Size" %}{% endifnotequal %}</option>
           <option value="20">20</option>
           <option value="30">30</option>
           <option value="40">40</option>
           </select>
       </div>
       <div class="form-group col-md-1 mt-2">
           <button type="submit" class="btn btn-primary btn-block " name="Clear" value="Clear" >{% trans "Clear" %}</button>
       </div>
   </div>
  </form>
   </div>
  <div class ="table-list" style="overflow-x:auto;">
  <table class ="table table-striped table-hover" id="list">
      <thead class="thead-dark">

      <tr>
        <form method="POST">
          {% csrf_token %}
      {% comment %} <th><button class="btn btn-link" style="color:#ffffff;" name="id" value="Id">Id<i class="fa fa-fw fa-sort"></i></button></th> {% endcomment %}
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:12px;" name='entitytype' value="Entity Type">{% trans "Entity Type" %}<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;cursor:auto;margin-left:-13px;">{% trans "Is Base" %}</button></th>
      <th><button class="btn btn-link" style="color:#ffffff;cursor:auto;margin-left:-14px;">{% trans "Has Children" %}</button></th>
      <th><button class="btn btn-link" style="color:#ffffff;cursor:auto;margin-left:-26px;">{% trans "Action" %}</button></th>
        </form>
    </tr>
      </thead>
        <tbody>

            {% for entity in entity_list %}
            <tr>
                {% comment %} <th scope="row">{{ entity.node.id }}</th> {% endcomment %}
                <td><a href="{%url 'view_entity_type' entity.node.id%}" style="color:#000000;margin-left:24px;" target="_blank">{{ entity.node.entityType }}</a></td>
                <td>{{ entity.node.isBase }}</td>
                <td>{{ entity.node.hasChildren }}</td>

                <td><a href="{%url 'update_entity_type' entity.node.id%}"><i class="feather icon-edit"></i></a>
                <a href="{%url 'delete_entity_type' entity.node.id%}"><i class="lnr lnr-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
  </table>
    </div> 
    <!--start Pagination-->
    <span class='text-center'>
      {% if max_page > 0 %}
      
    <form method="POST">
      {% csrf_token %}
      <span>
      <button type="submit" name="First" value="First" class="btn btn-primary">{% trans "First" %}</button>
       {% ifnotequal request.session.masterEntityTypeCurrentPage  1 %} 
      <button type="submit" name="Previous" value="Previous" class="btn btn-primary">{% trans "Previous" %}</button>
        {% endifnotequal %}  
        {% trans "page" %}  <b>{{request.session.masterEntityTypeCurrentPage}} </b>{% trans "of" %}  <b>  {{max_page}}</b>
       {% ifnotequal max_page  request.session.masterEntityTypeCurrentPage %} 
      <button type="submit" name="Next" value="Next" class="btn btn-primary">{% trans "Next" %}</button>
      {% endifnotequal %} 
      <button type="submit" name="Last" value="Last" class="btn btn-primary">{% trans "Last" %}</button>&nbsp;&nbsp;[{{max_row}}]
    </span>
    </form>
   
    {% else %}
    <br>
    <br>
    <br>
    <h5>{% trans "No Results Found" %}</h5>
    {% endif %}
  </span> 
  <!--end  Pagination-->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var optionValues =[];
$('#masterentityTypeid option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
    var optionValues =[];
$('#isbaseid option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
    var optionValues =[];
$('#haschildrenid option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
</script
{% endblock body %}