{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body%}

<div class="container-fluid my-2">
    <div class="form-row my-2 float-left ml-1">
        <h2>{% trans "Manage Payment Terms" %}</h2>
    </div>
    <div class="form-row  float-right">
          <a href="{% url 'create_paymentterms'%}">
                <button type="button" class="btn btn-primary btn-block mt-2">{% trans "Create Transaction DocType" %}</button>
            </a>
        </div>
    <div class="form-row  float-right mr-3 ">
          <a href="{% url 'payment_terms' %}">
                <button type="button" class="btn btn-primary btn-block mt-2" >{% trans "Export" %}</button>
            </a>
        </div>
    {% comment %} <div class="form-row  float-right  mr-3">
         
                <button type="button" class="btn btn-primary btn-block mt-2">{% trans "Upload" %}</button>
           
        </div> {% endcomment %}

    <br/>
    <br/>
    <br/>
    <br>
    <!--     my-2 float-right mr-1-->
     <div class="container-fluid">
        
       <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-2">
        <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="masterPaymentTermsTerm"  onchange="this.form.submit()" id="termsid">
            <option selected disabled>{% ifnotequal request.session.masterPaymentTermsTerm None %}{{request.session.masterPaymentTermsTerm}}{% else %}{% trans "Please Select Terms" %}{% endifnotequal %}</option> 
            {% for data in data_term %}
            <option value="{{data.node.term}}">{{data.node.term}}</option>
            {% endfor %}
        </select>
      
      </div>
      
     

        <div class="form-group col-md-3 ml-3">
        <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="masterPaymentCreaditDays" onchange="this.form.submit()" id="creditdayid">
            <option selected disabled>{% ifnotequal request.session.masterPaymentTermsCreditDays None %}{{request.session.masterPaymentTermsCreditDays}}{% else %}{% trans "Please Select Credit Days" %}{% endifnotequal %}</option> 
            {% for data in data_term %}
            <option value="{{data.node.creditDays}}">{{data.node.creditDays}}</option>
            {% endfor %}
            
        </select>
      </div>
        <div class="form-group col-md-3 ml-3" id="paymentpercentageid">
        <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="masterPaymentPercent" onchange="this.form.submit()">
            <option selected disabled>{% ifnotequal request.session.masterPaymentTermsPaymentPercent None %}{{request.session.masterPaymentTermsPaymentPercent}}{% else %}{% trans "Please Select Payment Percent" %}{% endifnotequal %}</option> 
            {% for data in data_term %}
            <option value="{{data.node.paymentPercent}}">{{data.node.paymentPercent}}</option>
            {% endfor %}
        </select>
      </div>
        
        <div class="form-group col-md-2 ml-3" >
            <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="masterPaymentTermsSize" onchange="this.form.submit()" id="masterIndustrySize" style="width:80px!important;" >
            <option selected disabled>{% ifnotequal request.session.masterPaymentTermsSize None %}{{request.session.masterPaymentTermsSize}}{% else %}{% trans "Page Size" %}{% endifnotequal %}</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            </select>
        </div>
        <div class="form-group col-md-1">
            <button type="submit" class="btn btn-primary btn-block " name="Clear" value="Clear" >{% trans "Clear" %}</button>
        </div>
    </div>
    </form>     
    </div>
  <div class ="table-list" style="overflow-x:auto;">
  <table class ="table table-striped table-hover" id="list">
      <thead class="thead-dark">
      <tr>
      <form method="POST" >
       {% csrf_token %}
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-13px;" name="term" value="Term">{% trans "Term" %}<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-13px;" name="creditday" value="Credit Day">{% trans "Credit Day" %}<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-13px;" name="paymentparcent" value="Payment Parcent">{% trans "Payment Percent" %}<i class="fa fa-fw fa-sort"></i></button></th>
      </form>
      <th><button class="btn btn-link" style="color:#FFFFFF;cursor:auto;margin-left:-26px;" >{% trans "Action" %}</button></th>

    </tr>
      </thead>
        <tbody>

            {% for entity in entity_list %}
            <tr>
                
                <td><a href="{% url 'view_paymenterms' entity.node.id%}" style="color:#000000;" target="_blank">{{ entity.node.term }}</a></td>
                <td><a href="{% url 'view_paymenterms' entity.node.id%}" style="color:#000000;" target="_blank">{{ entity.node.creditDays }}</a></td>
                <td><a href="{% url 'view_paymenterms' entity.node.id%}" style="color:#000000;" target="_blank">{{ entity.node.paymentPercent }}</a></td>

                <td><a href="{%url 'update_paymentterms' entity.node.id%}"><i class="feather icon-edit"></i></a>
                <a href="{%url 'delete_paymentterms' entity.node.id%}"><i class="lnr lnr-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
  </table>
    </div>

<!--start Pagination-->
<span class='text-center'>
    {% if max_page > 0 %}
    <form method="POST">
      {% csrf_token %}
      <span>
      <button type="submit" name="First" value="First" class="btn btn-primary">{% trans "First" %}</button>
      {% ifnotequal request.session.masterPaymentTermsCurrentPage 1 %}
      <button type="submit" name="Previous" value="Previous" class="btn btn-primary">{% trans "Previous" %}</button>
      {% endifnotequal %}
      {% trans "page" %} <b>{{request.session.masterPaymentTermsCurrentPage}}</b> {% trans "of" %} <b> {{max_page}}</b>
      {% ifnotequal max_page  request.session.masterPaymentTermsCurrentPage %}
      <button type="submit" name="Next" value="Next" class="btn btn-primary">{% trans "Next" %}</button>
      {% endifnotequal %}
      <button type="submit" name="Last" value="Last" class="btn btn-primary">{% trans "Last" %}</button>&nbsp;&nbsp;<b>[{{total_records}}]</b>
    </span>
    </form>
    {%else%}
    <br>
    <br>
    <br>
    <span class="text-center"><h5 style="margin-top:22px!important;">{% trans "No Results Found" %}</h5></span>
    {% endif%}
  </span> 
  <!--end  Pagination-->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var optionValues =[];
$('#masterIndustrySize option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
    var optionValues =[];
$('#paymentpercentageid option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
    var optionValues =[];
$('#termsid option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
    var optionValues =[];
$('#creditdayid option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
</script>
{% endblock body %}