{% extends 'core/base.html' %}
{% load static %}
{% load  i18n %}
{% block body%}


<div class="container-fluid my-2">
    <div class="form-row my-2 float-left ml-1">
         <h2>{% trans "Manage Pincode Data" %}</h2>
    </div>
    <div class="form-row  float-right ">
         <a href="{% url 'create_pincode' %}">
                <button type="button" class="btn btn-primary btn-block mt-2 ">{% trans "Create Pincode" %}</button>
            </a>
    </div>
    <div class="form-row  float-right mr-3 ">
        <a href="{% url 'masterproductcategory' %}">
    <button type="button" class="btn btn-primary btn-block mt-2" >{% trans "" %}Export</button>
            </a>
        </div>
<div class="form-row  float-right  mr-3">
    
    <button type="button" class="btn btn-primary btn-block mt-2"data-toggle="modal" data-target="#myModals">{% trans "Upload" %}</button>
            
    </div>
    <br/>
    <br/>
    <br/>
    <br>
    {% if messages %}
    {% for message in messages %}
     <span class="text-center" style="color:#ff0000;">{{message}}</span><br><br>
    {% endfor %}
    {% endif %}
    
     <!--     my-2 float-right mr-1-->
     <div class="container-fluid">
        <form method="POST" action="" enctype="multipart/form-data">
         {% csrf_token %}
     <div class="form-row">
         <div class="form-group col-md-5">
             <input type="text" class="form-control mt-2" placeholder="{% ifnotequal request.session.masterPincodeSearch None %}{{request.session.masterPincodeSearch}}{% else %}{% trans "Click to Search.... " %}{% endifnotequal %}" id="search"  name="search" />
         </div>
         <div class="form-group col-md-1">
             <button type="submit" class="btn btn-primary btn-block mt-2" name="Search" value="Search" >{% trans "" %}Search</button>
         </div>

         {% comment %} <div class="form-group col-md-2 ml-3 mt-2">
            <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="masterProdctCategoryCode" onchange="this.form.submit()" id="codeid">
                <option selected disabled>{% ifnotequal request.session.masterProdctCategoryCode None %}{{request.session.masterProdctCategoryCode}}{% else %}{% trans "Please Select Code" %}{% endifnotequal %}</option> 
                {% for data in f_data %}
                <option value="{{data.node.catCode}}">{{data.node.catCode}}</option>
                {% endfor %}
                
            </select>
          </div> {% endcomment %}
         <div class="form-group col-md-2 offset-3 mt-2" >
             <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="masterPincodeSize" onchange="this.form.submit()" id="" style="width:80px!important;" >
             <option selected disabled>{% ifnotequal request.session.masterPincodeSize None %}{{request.session.masterPincodeSize}}{% else %}{% trans "Page Size" %}{% endifnotequal %}</option>
             <option value="20">20</option>
             <option value="30">30</option>
             <option value="40">40</option>
             </select>
         </div>
         <div class="form-group col-md-1 mt-2">
             <button type="submit" class="btn btn-primary btn-block" name="Clear" value="Clear" >{% trans "" %}Clear</button>
         </div>
        </div>
     </form>
     </div>
  <div class ="table-list" style="overflow-x:auto;">
  <table class ="table table-striped table-hover" id="list">
      <thead class="thead-dark">

      <tr>
          {% comment %} <th>Id</th> {% endcomment %}
          <th>{% trans "Country" %}</th>
          <th>{% trans "State" %}</th>
          <th>{% trans "District" %}</th>
          <th>{% trans "City" %}</th>
          <th>{% trans "PinCode" %}</th>
          <th>{% trans "Locality" %}</th>
          <th>{% trans "Action" %}</th>
    </tr>
      </thead>
        <tbody>

            {% for entity in entity_list %}
            <tr>
                {% comment %} <th scope="row">{{ entity.node.id }}</th> {% endcomment %}
                <td>{{ entity.node.country }}</td>
                <td>{{ entity.node.state }}</td>
                <td>{{ entity.node.district }}</td>
                <td>{{ entity.node.city }}</td>
                <td>{{ entity.node.pincode }}</td>
                <td>{{ entity.node.locality }}</td>

                <td><a href="{%url 'update_pincode' entity.node.id%}"><i class="feather icon-edit"></i></a>
                <a href="{%url 'delete_pincode' entity.node.id%}"><i class="lnr lnr-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
  </table>
    </div>

</div>



<!--start Pagination-->
<span class='text-center'>
    {% if max_page > 0 %}
    <form method="POST">
      {% csrf_token %}
      <span>
      <button type="submit" name="First" value="First" class="btn btn-primary">{% trans "First" %}</button>
      {% ifnotequal request.session.masterPincodeCurrentPage 1 %}
      <button type="submit" name="Previous" value="Previous" class="btn btn-primary">{% trans "Previous" %}</button>
      {% endifnotequal %}
      {% trans "page" %} <b>{{request.session.masterPincodeCurrentPage}}</b> {% trans "of" %} <b> {{max_page}}</b>
      {% ifnotequal max_page  request.session.masterPincodeCurrentPage %}
      <button type="submit" name="Next" value="Next" class="btn btn-primary">{% trans "Next" %}</button>
      {% endifnotequal %}
      <button type="submit" name="Last" value="Last" class="btn btn-primary">{% trans "Last" %}</button></span>&nbsp;&nbsp;[{{max_rows}}]
    </span>
    </form>
    {%else%}
    <span class="text-center"><h5 style="margin-top:22px!important;">{% trans "No Results Found" %}</h5>
    {% endif%}
  </span> 
  <!--end  Pagination-->
<!--Upload Model-->
 <div class="container">
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="myModals" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{% trans "Upload File" %}</h4>
          </div>
          <div class="modal-body">
            <form method="POST" enctype="multipart/form-data" action="{% url 'masterpincodedata' %}">
            {%csrf_token %}
             <div class="form-row">
             <div class="form-group col-md-12">
                <input type="file" class="form-control" name="files">
                <div class="clearfix"></div>
                </div>
             </div> 
                  <br>
              <div class='row '>
              <div class='col-md-6 mt-4'>
              <button type="submit" class="btn btn-primary btn-block" value='Upload' name="uploadexcel" >{% trans "Submit" %}</button>
              </div>
             <div class='col-md-6 mt-4'>
             <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
             </div>
             </div>
            </form>
          </div>
        </div>
      </div>
    </div> 
<!-- End Upload Model-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var optionValues =[];
$('#masterIndustrySize option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
</script>
{% endblock body %}