{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body%}

<div class="container-fluid my-2">
    <div class="form-row my-2 float-left ml-1">
        <h2>{% trans "Manage Product Next Step" %}</h2>
    </div>
    <div class="form-row  float-right ">
           <a href="{% url 'create_product_nextstep' %}">
                <button type="button" class="btn btn-primary btn-block mt-2 ">{% trans "Create Product Next Step" %}</button>
            </a>
        </div>
        <div class="form-row  float-right mr-3 ">
            <a href="{% url 'nextstep' %}">
                  <button type="button" class="btn btn-primary btn-block mt-2" >{% trans "Export" %}</button>
              </a>
          </div>
      {% comment %} <div class="form-row  float-right  mr-3">  
    <button type="button" class="btn btn-primary btn-block mt-2">{% trans "Upload" %}</button>
          </div> {% endcomment %}
  
      <br/>
      <br/>
      <br/>
      <br>
      <!--     my-2 float-right mr-1-->

      <div class="container-fluid">
        
        <form method="POST" action="" enctype="multipart/form-data">
         {% csrf_token %}
     <div class="form-row">
         <div class="form-group col-md-5">
             <input type="text" class="form-control mt-2" placeholder="{% ifnotequal request.session.masterNextStepSearch None %}{{request.session.masterNextStepSearch}}{% else %}{% trans "Click to Search.... " %}{% endifnotequal %}" id="search"  name="masterNextStep" />
         </div>
 
         <div class="form-group col-md-1">
             <button type="submit" class="btn btn-primary btn-block mt-2" name="Search" value="Search" >{% trans "Search" %}</button>
         </div>
         <div class="form-group col-md-2 offset-3" >
             <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="masterNextStepSize" onchange="this.form.submit()" id="masterNextStep" style="width:80px!important;" >
             <option selected disabled>{% ifnotequal request.session.masterNextStepSize None %}{{request.session.masterNextStepSize}}{% else %}{% trans "Page Size" %}{% endifnotequal %}</option>
             <option value="20">20</option>
             <option value="30">30</option>
             <option value="40">40</option>
             </select>
         </div>
         <div class="form-group col-md-1">
             <button type="submit" class="btn btn-primary btn-block " name="Clear" value="Clear" >{% trans "Clear" %}</button>
         </div>
     </div>
     </form>
     </div>
  <div class ="table-list" style="overflow-x:auto;">
  <table class ="table table-striped table-hover" id="list">
      <thead class="thead-dark">

      <tr>
          <form  method="POST">
              {% csrf_token %}
      {% comment %} <th><button class="btn btn-link " style="color:#ffffff;margin-left:-13px;" name='id' value="Id">Id<i class="fa fa-fw fa-sort"></i></button></th> {% endcomment %}
      <th><button class="btn btn-link " style="color:#ffffff;margin-left:65px;" name="nextstep" value="Next Step">{% trans "Next Step" %}<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link " style="color:#ffffff;cursor:auto; margin-left:-26px;margin-left:-24px;">{% trans "Action" %}</button></th>
    </form>
    </tr>
      </thead>
        <tbody>

            {% for entity in entity_list%}
            <tr>
                {% comment %} <th scope="row">{{ entity.node.id }}</th> {% endcomment %}
                <td><a href="{% url 'view_product_nextstep' entity.node.id%}" style="color:#000000;margin-left:80px;" target="_blank">{{ entity.node.nextStep }}</a></td>

                <td><a href="{%url 'update_product_nextstep' entity.node.id%}"><i class="feather icon-edit"></i></a>
                <a href="{%url 'delete_product_nextstep' entity.node.id%}"><i class="lnr lnr-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
  </table>
    </div>
</div>
<!--start Pagination-->
<span class='text-center'>
    {% comment %} {% if max_page > 0 %} {% endcomment %}
    <form method="POST">
      {% csrf_token %}
      <span>
      <button type="submit" name="First" value="First" class="btn btn-primary">{% trans "First" %}</button>
      {% ifnotequal request.session.masterIndustryCurrentPage 1 %}
      <button type="submit" name="Previous" value="Previous" class="btn btn-primary">{% trans "Previous" %}</button>
      {% endifnotequal %}
      {% trans "page" %}  <b>{{request.session.masterIndustryCurrentPage}}</b>{% trans "of" %}  <b> {{max_page}}</b>
      {% ifnotequal max_page  request.session.masterIndustryCurrentPage %}
      <button type="submit" name="Next" value="Next" class="btn btn-primary">{% trans "Next" %}</button>
      {% endifnotequal %}
      <button type="submit" name="Last" value="Last" class="btn btn-primary">{% trans "Last" %}</button>&nbsp;&nbsp;[{{max_row}}]
    </span>
    </form>
    {% comment %} {%else%}
    <span class="text-center"><h5 style="margin-top:22px!important;">{% trans "No Results Found" %}</h5><span>
    {% endif%} {% endcomment %}
  </span> 
  <!--end  Pagination-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var optionValues =[];
$('#masterNextStep option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
</script

{% endblock body %}