 {% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body%}

<div class="container-fluid my-2">
    <div class="form-row my-2 float-left ml-1">
      <h2>{% trans "" %}Manage Product Categories</h2>
    </div>
    <div class="form-row  float-right ">
          <a href="{% url 'create_product_category' %}">
                <button type="button" class="btn btn-primary btn-block mt-2 ">{% trans "" %}Create Product Category</button>
            </a>
    </div>
        <div class="form-row  float-right mr-3 ">
            <a href="{% url 'masterproductcategory' %}">
        <button type="button" class="btn btn-primary btn-block mt-2" >{% trans "Export" %}</button>
              </a>
          </div>
      <div class="form-row  float-right  mr-3">
           
        <button type="button" class="btn btn-primary btn-block mt-2"data-toggle="modal" data-target="#myModals">{% trans "Upload" %}</button>
             
    </div> 

    <br/>
    <br/>
    <br/>
    <br/>
    {% if messages %}
    {% for message in messages %}
     <span class="text-center" >{{message}}</span><br><br>
    {% endfor %}
    {% endif %}
    
    <!--     my-2 float-right mr-1-->
    <div class="container-fluid">
        <form method="POST" action="" enctype="multipart/form-data">
         {% csrf_token %}
     <div class="form-row">
         <div class="form-group col-md-3">
             <input type="text" class="form-control mt-2" placeholder="{% ifnotequal request.session.masterProductCategorySearch None %}{{request.session.masterProductCategorySearch}}{% else %}{% trans "Click to Search.... " %}{% endifnotequal %}" id="search"  name="masterProductCategory" />
         </div>
         <div class="form-group col-md-1">
             <button type="submit" class="btn btn-primary btn-block mt-2" name="Search" value="Search" >{% trans "" %}Search</button>
         </div>

         <div class="form-group col-md-2 ml-3 mt-2">
            <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="masterProdctCategoryCode" onchange="this.form.submit()" id="codeid">
                <option selected disabled>{% ifnotequal request.session.masterProdctCategoryCode None %}{{request.session.masterProdctCategoryCode}}{% else %}{% trans "Please Select Code" %}{% endifnotequal %}</option> 
                {% for data in f_data %}
                <option value="{{data.node.catCode}}">{{data.node.catCode}}</option>
                {% endfor %}
                
            </select>
          </div>
         <div class="form-group col-md-2 offset-2 mt-2" >
             <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="masterProductCategorySize" onchange="this.form.submit()" id="productcategoryid" style="width:80px!important;" >
             <option selected disabled>{% ifnotequal request.session.masterProductCategorySize None %}{{request.session.masterProductCategorySize}}{% else %}{% trans "Page Size" %}{% endifnotequal %}</option>
             <option value="20">20</option>
             <option value="30">30</option>
             <option value="40">40</option>
             </select>
         </div>
         <div class="form-group col-md-1 mt-2">
             <button type="submit" class="btn btn-primary btn-block" name="Clear" value="Clear" >{% trans "" %}Clear</button>
         </div>
        </div>
     </form>
     </div>
  <div class ="table-list" style="overflow-x:auto;">
  <table class ="table table-striped table-hover" id="list">
      <thead class="thead-dark">
      <tr>
    <form method="POST">
         {% csrf_token %}
      {% comment %} <th><button class="btn btn-link" style="color:#ffffff;" name="id" value="Id">Id<i class="fa fa-fw fa-sort"></button></th> {% endcomment %}
      <th><button class="btn btn-link" style="color:#ffffff;" name="name" value="Name">{% trans "Name" %}<i class="fa fa-fw fa-sort"></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:-20px;" name="abbrv" value="Abbrv">{% trans "Abbrv" %}<i class="fa fa-fw fa-sort"></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:-20px;" name="code" value="Code">{% trans "Category Code" %}<i class="fa fa-fw fa-sort"></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:-20px;" name="hsn" value="Hsn">{% trans "Category Hsn" %}<i class="fa fa-fw fa-sort"></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:-20px;" name="abbrv" value="Abbrv">{% trans "Category CGst" %}</button></th>
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:-20px;" name="abbrv" value="Abbrv">{% trans "Category SGst" %}</button></th>
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:-20px;" name="abbrv" value="Abbrv">{% trans "Category IGst" %}</button></th>
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:-20px; cursor:auto;">{% trans "Action" %}</button></th>
      </form>
    </tr>
      </thead>
        <tbody>
            {% for entity in entity_list %}
            <tr>
                {% comment %} <th scope="row">{{ entity.node.id }}</th> {% endcomment %}
                <td><a href="{% url 'view_product_category' entity.node.id %}" style="color:#000000" target="_blank">{{ entity.node.name }}</a></td>
                <td>{{ entity.node.abbv }}</td>
                <td>{{ entity.node.catCode }}</td>
                <td>{{ entity.node.catHsn }}</td>
                <td>{{ entity.node.catCgst }}</td>
                <td>{{ entity.node.catSgst }}</td>
                <td>{{ entity.node.catIgst }}</td>
                <td><a href="{%url 'update_product_category' entity.node.id%}"><i class="feather icon-edit"></i></a>
                <a href="{%url 'delete_product_category' entity.node.id%}"><i class="lnr lnr-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
  </table>
    </div>
</div>
    <!--start Pagination-->
  <span class='text-center'>
    <form method="POST">
      {% csrf_token %}
      <span>
      <button type="submit" name="First" value="First" class="btn btn-primary">{% trans "First" %}</button>
      {% ifnotequal request.session.masterProductCategoryCurrentPage  1 %}
      <button type="submit" name="Previous" value="Previous" class="btn btn-primary">{% trans "Previous" %}</button>
      {% endifnotequal %}
      {% trans "page" %}  <b>{{request.session.masterProductCategoryCurrentPage}}</b>{% trans "of" %}  <b> {{max_page}}</b>
      {% ifnotequal max_page  request.session.masterProductCategoryCurrentPage %}
      <button type="submit" name="Next" value="Next" class="btn btn-primary">{% trans "Next" %}</button>
      {% endifnotequal %}
      <button type="submit" name="Last" value="Last" class="btn btn-primary">{% trans "Last" %}</button>&nbsp;&nbsp;[{{max_rows}}]
    </span>
    </form>
  </span> 
  <!--end  Pagination-->
<!--Upload Model-->
<div class="container">
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="myModals" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
    
          </div>
          <div class="modal-body">
            <form method="POST" enctype="multipart/form-data" action="{% url 'masterproductcategorys' %}">
            {%csrf_token %}
             <div class="form-row">
             <div class="form-group col-md-12">
                <input type="file" class="form-control" name="files">
                <div class="clearfix"></div>
                </div>
             </div> 
                  <br>
              <div class='row '>
              <div class='col-md-6 mt-4'>
              <button type="submit" class="btn btn-primary btn-block" value='Upload' name="uploadexcel" >{% trans "Submit" %}</button>
              </div>
             <div class='col-md-6 mt-4'>
             <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
             </div>
             </div>
            </form>
          </div>
        </div>
      </div>
    </div> 
<!-- End Upload Model-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
      var optionValues =[];
  $('#productcategoryid option').each(function(){
     if($.inArray(this.value, optionValues) >-1){
        $(this).remove()
     }else{
        optionValues.push(this.value);
     }
  });
  $('#codeid option').each(function(){
     if($.inArray(this.value, optionValues) >-1){
        $(this).remove()
     }else{
        optionValues.push(this.value);
     }
  });
  </script>
</div>
{% endblock body %}