{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body%}


<div class="container-fluid my-2">
    <div class="form-row my-2 float-left ml-1">
        <h2>{% trans "Manage Transaction Doctype" %}</h2>
    </div>
    <div class="form-row  float-right">
          <a href="{% url 'create_transaction_doctype'%}">
                <button type="button" class="btn btn-primary btn-block mt-2">{% trans "Create Transaction DocType" %}</button>
            </a>
        </div>
    <div class="form-row  float-right mr-3 ">
          <a href="{% url 'tdoctype' %}">
                <button type="button" class="btn btn-primary btn-block mt-2" >{% trans "Export" %}</button>
            </a>
        </div>
    <!-- <div class="form-row  float-right  mr-3">
                <button type="button" class="btn btn-primary btn-block mt-2">{% trans "Upload" %}</button>
        </div> -->

    <br/>
    <br/>
    <br/>
    <br>
    <!--     my-2 float-right mr-1-->
     <div class="container-fluid">
        
       <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-5">
            <input type="text" class="form-control mt-2" placeholder="{% ifnotequal request.session.masterTransactionDoctypeSearch None %}{{request.session.masterTransactionDoctypeSearch}}{% else %}{% trans 'Click to Search.... ' %}{% endifnotequal %}" id="search"  name="masterTransactionDoctype" />
        </div>

        <div class="form-group col-md-1">
            <button type="submit" class="btn btn-primary btn-block mt-2" name="Search" value="Search" >{% trans "Search" %}</button>
        </div>
        <div class="form-group col-md-2 offset-3 mt-2" >
            <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="masterTransactionDoctypeSize" onchange="this.form.submit()" id="masterIndustrySize" style="width:80px!important;" >
            <option selected disabled>{% ifnotequal request.session.masterTransactionDoctypeSize None %}{{request.session.masterTransactionDoctypeSize}}{% else %}{% trans "Page Size" %}{% endifnotequal %}</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            </select>
        </div>
        <div class="form-group col-md-1 mt-2">
            <button type="submit" class="btn btn-primary btn-block " name="Clear" value="Clear" >{% trans "Clear" %}</button>
        </div>
    </div>
             </form>
        

    </div>
  <div class ="table-list" style="overflow-x:auto;">
  <table class ="table table-striped table-hover" id="list">
      <thead class="thead-dark">

      <tr>
      <form method="POST" >
       {% csrf_token %}
      <!-- <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:-13px;" name="id" value="Id">Id<i class="fa fa-fw fa-sort"></i></button></th> -->
      <th><button class="btn btn-link" style="color:#FFFFFF;margin-left:65px;" name="transactiondoctype" value="Transaction Doctype">{% trans "Transaction Doctype" %}<i class="fa fa-fw fa-sort"></i></button></th>
      </form>
      <th><button class="btn btn-link" style="color:#FFFFFF;cursor:auto;margin-left:-26px;" >{% trans "Action" %}</button></th>

    </tr>
      </thead>
        <tbody>

            {% for entity in entity_list %}
            <tr>
                <!-- <th scope="row">{{ entity.node.id }}</th> -->
                <td><a href="{% url 'view_transaction_doctype' entity.node.id%}" style="color:#000000;margin-left:85px;" target="_blank">{{ entity.node.transactionDoctype}}</a></td>

                <td><a href="{%url 'update_transaction_doctype' entity.node.id%}"><i class="feather icon-edit"></i></a>
                <a href="{%url 'delete_transaction_doctype' entity.node.id%}"><i class="lnr lnr-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
  </table>
    </div>

<!--start Pagination-->
<span class='text-center'>
    {% if max_page > 0 %}
    <form method="POST">
      {% csrf_token %}
      <span>
      <button type="submit" name="First" value="First" class="btn btn-primary">{% trans "First" %}</button>
      {% ifnotequal request.session.masterTransactionDoctypeCurrentPage 1 %}
      <button type="submit" name="Previous" value="Previous" class="btn btn-primary">{% trans "Previous" %}</button>
      {% endifnotequal %}
      {% trans "page" %} <b>{{request.session.masterTransactionDoctypeCurrentPage}}</b>{% trans "of" %}  <b> {{max_page}}</b>
      {% ifnotequal max_page  request.session.masterTransactionDoctypeCurrentPage %}
      <button type="submit" name="Next" value="Next" class="btn btn-primary">{% trans "Next" %}</button>
      {% endifnotequal %}
      <button type="submit" name="Last" value="Last" class="btn btn-primary">{% trans "Last" %}</button> &nbsp; &nbsp; [{{total_records}}]
    </span>
    </form>
    {%else%}
    <br>
    <br>
    <br>
    <span class="text-center"><h5 style="margin-top:22px!important;">{% trans "No Results Found" %}</h5></span>
    {% endif%}
  </span> 
  <!--end  Pagination-->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var optionValues =[];
$('#masterIndustrySize option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
</script>
{% endblock body %}