{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        {% trans "Modify" %}-{{data.name}}
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data" action="" name='p_category' onsubmit='return validate_pcategory()'>
            {% csrf_token %}
          
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Name" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="name" id="name" autocomplete="off" value="{{data.name}}">
                     <p style='color:#ff0000;position:absolute;' id='name-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Abbv" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="abbv" id="abbrv" autocomplete="off" value="{{data.abbv}}">
                    <p style='color:#ff0000;position:absolute;'id='abbv-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Category Code" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="code" id="code" autocomplete="off" maxlength='3' value="{{data.catCode}}">
                     <p style='color:#ff0000;position:absolute;' id='code-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "SubCategory Hsn" %}</label>
                    <input type="text" class="form-control" name="subcathsn" id="" autocomplete="off" value="{{data.subCatHsn}}">
                  
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Category CGst" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="cgst" id="cgst" autocomplete="off" value="{{data.catCgst}}">
                     <p style='color:#ff0000;position:absolute;' id='cgst-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Category SGst" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="sgst" id="sgst" autocomplete="off" value="{{data.catSgst}}">
                    <p style='color:#ff0000;position:absolute;'id='sgst-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Category IGst" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="igst" id="igst" autocomplete="off" value="{{data.catIgst}}">
                     <p style='color:#ff0000;position:absolute;' id='igst-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    {% comment %} <label class="form-label">Abbv<sup>*</sup></label>
                    <input type="text" class="form-control" name="abbv" id="abbrv" autocomplete="off">
                    <p style='color:#ff0000;position:absolute;'id='abbv-m'></p>
                    <div class="clearfix"></div> {% endcomment %}
                </div>
            </div>
            

      
            <div class="form-row float-left mt-3 ml-4">
                <button type="submit" class="btn btn-primary btn-block ">{% trans "Update" %}</button>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'master/js/product_category.js' %}"></script>
<script>


function check_unique_prodname(){
    const belongsTo = document.querySelector("#message");
    const userType = document.querySelector("#name");
    userType.addEventListener("input", (e) => {
        belongsTo.innerHTML = ``
        const searchValue = e.target.value;
        console.log(searchValue);

        if (searchValue.trim().length > 0 && searchValue !== "Enter Name") {
            fetch("{% url 'check_unique_prodname' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    var x = document.getElementById("message").innerHTML=data;
                    if (data.length === 0) {
                        distriDDL.innerHTML =
                            `<option>No State</option>`
                    }
                    else {
                        data.forEach((item) => {
                                var e = document.getElementById("ep");
                                var strUser = e.value;
                                console.log('hello',strUser)

                        if (searchValue ===strUser){

                            belongsTo.innerHTML += `
                                    <option value="${item.Locality}">${item.Locality}</option>
                                    `;
                        }
                    })
                }
            })
        }
    })
}

function check_unique_prodabbrv(){
    const belongsTo = document.querySelector("#message1");
    const userType = document.querySelector("#abbrv");
    userType.addEventListener("input", (e) => {
        belongsTo.innerHTML = ``
        const searchValue = e.target.value;
        console.log(searchValue);

        if (searchValue.trim().length > 0 && searchValue !== "Enter Abbv") {
            fetch("{% url 'check_unique_prodabbrv' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    var x = document.getElementById("message1").innerHTML=data;
                    if (data.length === 0) {
                        distriDDL.innerHTML =
                            `<option>No State</option>`
                    }
                    else {
                        data.forEach((item) => {
                                var e = document.getElementById("ep");
                                var strUser = e.value;
                                console.log('hello',strUser)

                        if (searchValue ===strUser){

                            belongsTo.innerHTML += `
                                    <option value="${item.Locality}">${item.Locality}</option>
                                    `;
                        }
                    })
                }
            })
        }
    })
}

check_unique_prodname();
check_unique_prodabbrv();


</script>
{% endblock body %}