{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        {% trans "Modify Pincode" %} {{data.Pincode}}
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>

        <form class="my-2" method="post" name='pincodedata' onsubmit='return validate_pincode()'>
            {% csrf_token %}

            <div class="form-row">
            <div class="form-group col-md-6">
                <label class="form-label">{% trans "Country" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="country" value='{{data.Country}}' >
                    <p style='color:#ff0000;position:absolute;' id='country-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "State" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="state" value="{{data.State}}">
                    <p style='color:#ff0000;position:absolute;' id='state-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row mt-2">
            <div class="form-group col-md-6">
                <label class="form-label">{% trans "District" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="district" value='{{data.District}}'>
                    <p style='color:#ff0000;position:absolute;' id='district-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "City" %}</label>
                    <input type="text" class="form-control" name="city" value="{{data.City}}">

                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row mt-2">
            <div class="form-group col-md-6">
                <label class="form-label">{% trans "Locality" %}</label>
                    <input type="text" class="form-control" name="locality" value="{{data.Locality}}">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Pincode" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="pincode" value="{{data.Pincode}}">
                    <p style='color:#ff0000;position:absolute;' id='pincode-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row float-right mt-2 ">
                <button type="submit" class="btn btn-primary btn-block ">{% trans "Update" %}</button>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'master/js/pincode.js' %}"></script>

{% endblock body %}