{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        {% trans "Modify" %} {{data.name}}
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data" action="" name='subcategory' onsubmit='return validate_subcategory()'>
            {% csrf_token %}
          
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Name" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="name" value="{{data.name}}">
                   <p style='color:#ff0000; position:absolute;' id='name-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Abbv" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="abbv" value='{{data.abbv}}' maxlength="8">
                   <p style='color:#ff0000; position:absolute;' id='abbv-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Code" %}<sub>*</sub></label>
                    <input type="text" class="form-control" name= "code" value="{{data.subcatCode}}" maxlength="3">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "SubCategory Hsn" %}</label>
                    <input type="text" class="form-control" name="hsn" maxlength="10" value="{{data.subCatHsn}}">
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "SubCategory SGST" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="subcatsgst" value="{{data.subCatSgst}}">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "SubCategory CGST" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="subCatCgst" value="{{data.subCatCgst}}">
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "SubCategory IGST" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="subCatIgst" value="{{data.subCatIgst}}">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label"> {% trans "Product Category Name" %}<sup>*</sup></label>
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="category" id="category">
                    <option selected value="{{data.category.id}}">{{data.category.name}}</option>
                        {% for i in data1 %}
                    <option value="{{i.node.id}}">{{i.node.name}}</option>
                        {% endfor %}
                    </select>
                    <p style='color:#ff0000; position:absolute;' id='pname-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>

      
            <div class="form-row float-right mt-4">
                <button type="submit" class="btn btn-primary btn-block ">{% trans "Update" %}</button>
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
function abc(){
var optionValues =[];
$('#category option').each(function(){
   if($.inArray(this.value, optionValues) >-1){

      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});}

abc()

</script>
<script src="{% static 'master/js/subcategory.js' %}"></script>
{% endblock body %}