{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
<div class="authentication-wrapper authentication-1 px-4">
    <div class="authentication-inner py-5">

        <!-- [ Logo ] Start -->
        <div class="d-flex justify-content-left align-items-left">
            <div class="ui-w-150">
                <div class="w-100 position-relative">
                    <h2 class="float-left">
                        {% trans "Modify" %}  {{data.type}}
                    </h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- [ Logo ] End -->

        <!-- [ Form ] Start -->
        <form class="my-2" method="post" enctype="multipart/form-data" name='usertype'onsubmit="return validate_usertype()">
            {% csrf_token %}
          
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Type" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="type" value="{{data.type}}">
                    <p style='color:#ff0000;position:absolute;' id='type-m'></p>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Code" %}<sup>*</sup></label>
                    <input type="text" class="form-control" name="code" value="{{data.code}}" maxlength="1" id="codeid" autocomplete="off">
                    <p id="message" style="color:red"></p>
                     <p style='color:#ff0000;position:absolute;' id='code-m'></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-6">
                    <label class="form-label">{% trans "Is Edit" %}<sup>*</sup></label>
                     <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="isedit" id="isedit" >
                        <option value="{{data.isEdit}}">{{data.isEdit}}</option>
                        <option value="N">N</option>
                        <option value="Y">Y</option>  
                    </select>                  
                    <div class="clearfix"></div>
                </div>
               
            </div>
            
            
            <div class="form-row float-left mt-2 ml-4">
                <button type="submit" class="btn btn-primary btn-block ">{% trans "Update" %}</button>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'master/js/usertype.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<script>
var optionValues =[];
$('select option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});

function check_unique(){
    const belongsTo = document.querySelector("#message");
    const userType = document.querySelector("#codeid");
    userType.addEventListener("input", (e) => {
        belongsTo.innerHTML = ``
        const searchValue = e.target.value;
        console.log(searchValue);

        if (searchValue.trim().length > 0 && searchValue !== "Enter Code") {
            fetch("{% url 'check_unique' %}", {
                body: JSON.stringify({ search: searchValue }),
                method: "POST",
            }).then((res) => res.json())
                .then((data) => {
                    var x = document.getElementById("message").innerHTML=data;
                    if (data.length === 0) {
                        distriDDL.innerHTML =
                            `<option>No State</option>`
                    }
                    else {
                        data.forEach((item) => {
                                var e = document.getElementById("codeid");
                                var strUser = e.value;
                                console.log('hello',strUser)

                        if (searchValue ===strUser){

                            belongsTo.innerHTML += `
                                    <option value="${item.Locality}">${item.Locality}</option>
                                    `;
                        }
                    })
                }
            })
        }
    })
}

    check_unique();

</script>

{% endblock body %}