{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block body%}
<div class="container-fluid my-2">
    <div class="form-row my-2 float-left ml-1">
        <h2>{% trans "Manage User Type" %}</h2>
    </div>
    <div class="form-row  float-right ">
          <a href="{% url 'create_user_type' %}">
                <button type="button" class="btn btn-primary btn-block mt-2 ">{% trans "Create User Type" %}</button>
            </a>
        </div>
        <div class="form-row  float-right mr-3 ">
            <a href="{% url 'usertypes' %}">
                  <button type="button" class="btn btn-primary btn-block mt-2" >{% trans "Export" %}</button>
              </a>
          </div>
      {% comment %} <div class="form-row  float-right  mr-3">
                  <button type="button" class="btn btn-primary btn-block mt-2">{% trans "Upload" %}</button>
          </div> {% endcomment %}

    <br/>
    <br/>
    <br/>
    <br>
     <!--     my-2 float-right mr-1-->
     <div class="container-fluid">
        
        <form method="POST" action="" enctype="multipart/form-data">
         {% csrf_token %}
     <div class="form-row">
         <div class="form-group col-md-5">
             <input type="text" class="form-control mt-2" placeholder="{% ifnotequal request.session.masterUserTypeSearch None %}{{request.session.masterUserTypeSearch}}{% else %}{% trans "Click to Search.... " %}{% endifnotequal %}" id="search"  name="masterUserType" />
         </div>
 
         <div class="form-group col-md-1">
             <button type="submit" class="btn btn-primary btn-block mt-2" name="Search" value="Search" >{% trans "Search" %}</button>
         </div>
         <div class="form-group col-md-2 offset-3 mt-2" >
             <select class="custom-select mr-sm-2 mb-2 mb-sm-0" name="masterUserTypeSize" onchange="this.form.submit()" id="masterIndustrySize" style="width:80px!important;" >
             <option selected disabled>{% ifnotequal request.session.masterUserTypeSize None %}{{request.session.masterUserTypeSize}}{% else %}{% trans "Page Size" %}{% endifnotequal %}</option>
             <option value="20">20</option>
             <option value="30">30</option>
             <option value="40">40</option>
             </select>
         </div>
         <div class="form-group col-md-1 mt-2">
             <button type="submit" class="btn btn-primary btn-block " name="Clear" value="Clear" >{% trans "Clear" %}</button>
         </div>
     </div>
              </form>
         
 
     </div>
  <div class ="table-list" style="overflow-x:auto;">
  <table class ="table table-striped table-hover" id="list">
      <thead class="thead-dark">

      <tr>
       <form method="POST">
        {% csrf_token %}
      <th><button class="btn btn-link" style="color:#ffffff;" name="type" value="Type">{% trans "Type" %}<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:-13px;" name="code" value="Code">{% trans "Code" %}<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;margin-left:-13px;" name="is_edit" value="Is Edit">{% trans "Is Edit" %}<i class="fa fa-fw fa-sort"></i></button></th>
      <th><button class="btn btn-link" style="color:#ffffff;cursor:auto;margin-left:-26px;">{% trans "Action" %}</button></th>
       </form>
    </tr>
      </thead>
        <tbody>

            {% for entity in entity_list %}
            <tr>
                <th scope="row"><a href="{% url 'view_user_type' entity.node.code%}" style="color:#000000;margin-left:13px;" target='_blank'>{{ entity.node.type }}</a></th>
                <td>{{ entity.node.code }}</td>
                <td>{{ entity.node.isEdit }}</td>

                <td><a href="{%url 'update_user_type' entity.node.code%}"><i class="feather icon-edit"></i></a>
                <a href="{%url 'delete_user_type' entity.node.code%}"><i class="lnr lnr-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
  </table>
    </div>
    



<!--start Pagination-->
<span class='text-center'>
    {% if max_page > 0 %}
    <form method="POST">
      {% csrf_token %}
      <span>
      <button type="submit" name="First" value="First" class="btn btn-primary">{% trans "First" %}</button>
      {% ifnotequal request.session.masterUserTypeCurrentPage 1 %}
      <button type="submit" name="Previous" value="Previous" class="btn btn-primary">{% trans "Previous" %}</button>
      {% endifnotequal %}
      {% trans "page" %} <b>{{request.session.masterUserTypeCurrentPage}}</b> {% trans "of" %} <b> {{max_page}}</b>
      {% ifnotequal max_page  request.session.masterUserTypeCurrentPage %}
      <button type="submit" name="Next" value="Next" class="btn btn-primary">{% trans "Next" %}</button>
      {% endifnotequal %}
      <button type="submit" name="Last" value="Last" class="btn btn-primary">{% trans "Last" %}</button>&nbsp;&nbsp;[{{max_row}}]
    </span>
    </form>
    {%else%}
    <br>
    <br>
    <br>
    <span class="text-center"><h5 >{% trans "No Results Found" %}</h5></span>
    {% endif%} 
  </span> 
  <!--end  Pagination-->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var optionValues =[];
$('#masterIndustrySize option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});
</script
{% endblock body %}